@using Beanfamily.Models;
@model IEnumerable<Beanfamily.Models.DanhMucMenuTiecBanCap1>
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    string banner_tiecban = "";
    var ndt = models.BoCucNoiDungTinhWebsite.ToList();
    if (ndt.Count > 0)
    {
        var dndt = ndt.First();
        banner_tiecban = dndt.banner_tiecban;
    }

    if (string.IsNullOrEmpty(banner_tiecban))
    {
        banner_tiecban = "~/Content/AdminAreas/images/NoiDungTinh/GioiThieu/Banner/2z5708932492674_1e339065fc38b483bc79e1c28d01086f.jpg";
    }

    ViewBag.Title = "Menu Tiệc Bàn";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<!-- Title Page -->
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(@Url.Content(banner_tiecban));">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 345px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                Menu Tiệc Bàn
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "nhahangbean")">NHÀ HÀNG</a>
                <label class="ms-2 me-2">/</label>
                <a>MENU TIỆC BÀN</a>
            </h6>
        </div>
    </div>
</section>
<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-b-40">
            <div style="position: sticky; top: 70px; z-index: 98" class="row sticky-menu-booking">
                <div class="col-12">
                    <div class="row bg-bg2 check-booking-parent" style="width: 100%; height: 80px; border-radius: 16px; border: 2px solid #ffc687; margin: 30px 0 0 0 !important; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                        <div class="total-check-booking col-md-6 col-sm-12" style="display: flex; flex-direction: column; align-items: start; justify-content: center;">
                            <h5 id="tongDaChon" price="0" style="float: left" class="text-white me-3 ms-3">
                                Tổng: 0
                            </h5>
                        </div>
                        <div class="btn-check-booking col-md-6 col-sm-12" style="display: flex; flex-direction: column; align-items: end; justify-content: center;">
                            <a id="btnDatBanTiec" class="btn1 flex-c-m size1 txt3 trans-0-4  me-3 ms-3" style="width: auto; padding: 0 10px 0 10px; float: right" role="button">
                                KIỂM TRA MÓN ĐÃ CHỌN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-t-40">
                @foreach (var item in Model.OrderBy(o => o.sothutu).ToList())
                {
                    if (item.hienthi == true && item.SanPhamMenuTiecBan.Count > 0)
                    {
                        <div class="col-md-4 col-sm-12 mb-5 mt-4">
                            <div class="bo-rad-16 bg-white p-1" style="height: 100%; width: 100%; border: 2px solid #ffc687; position: relative">
                                <div style=" display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <div class="bg-bg2 text-white bo-rad-16 border-1" style="padding: 10px 20px 10px 20px;height: auto; min-width: 180px; display: flex; justify-content: center; align-items: center; position: absolute; outline: 2px solid #ffc687">
                                        <div>
                                            <h5 class="t-center">@item.tendanhmuc</h5>
                                            <h6 class="t-center mt-1">@((item.SanPhamMenuTiecBan.Sum(t => t.gia)).ToString("0,0").Equals("00") ? "0 đ" : item.SanPhamMenuTiecBan.Sum(t => t.gia).ToString("0,0") + " đ")</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-2" style="margin-top: 55px !important; margin-bottom: 70px !important">
                                    <div class="col-11 p-0">
                                        <label style="cursor: pointer" id="label-monantiecban-@item.id-all" for="monantiecban-@item.id-all">
                                            <u>Tất cả</u>
                                        </label>
                                    </div>
                                    <div class="col-1">
                                        <input price="@(item.SanPhamMenuTiecBan.Sum(s => s.gia).ToString("0").Equals("0") ? "0" : item.SanPhamMenuTiecBan.Sum(s => s.gia).ToString("0"))" id="monantiecban-@item.id-all" type="checkbox" style="height: 20px; width: 20px; margin-left: -5px; accent-color: #12634c " />
                                    </div>
                                    @foreach (var items in item.SanPhamMenuTiecBan.Where(w => w.daxoa == false).OrderBy(o => o.sothutu).ToList())
                                    {
                                        <div class="col-11 p-0 mt-1">
                                            @if (!string.IsNullOrEmpty(items.hinhanh))
                                            {
                                                <div style=" white-space: nowrap; display: flex; flex-direction: row; align-items: center">
                                                    <div style="height: 40px; width: 40px; float: left; margin-right: 10px">
                                                        <img style="float: left; height: 40px; width: 40px;object-fit: cover; border-radius: 50% " src="@Url.Content(items.hinhanh)">
                                                    </div>
                                                    <label style="display: unset; white-space: normal; word-break: break-word; cursor: pointer;" id="label-monantiecban-@item.id-@items.id" for="monantiecban-@item.id-@items.id">
                                                        @items.tensanpham | @(items.gia.ToString("0,0").Equals("00") ? "0" : items.gia.ToString("0,0"))
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style=" white-space: nowrap; display: flex; flex-direction: row; align-items: center">
                                                    <label style="display: unset; white-space: normal; word-break: break-word; cursor: pointer;" id="label-monantiecban-@item.id-@items.id" for="monantiecban-@item.id-@items.id">
                                                        @items.tensanpham | @(items.gia.ToString("0,0").Equals("00") ? "0" : items.gia.ToString("0,0"))
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-1 mt-1" style="display: flex; flex-direction: row; align-items: center">
                                            <div style="display: unset">
                                                <input price="@items.gia.ToString("0")" id="monantiecban-@item.id-@items.id" type="checkbox" style="height: 20px; width: 20px; margin-left: -5px; margin-top: 10px; accent-color: #12634c " />
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div style="height: 70px; position: absolute; bottom: 0px; width: 100%;">
                                    <hr class="my-3" />
                                    <div style="display: flex; flex-direction:column ; justify-content: center; align-items: center;">
                                        <h6 id="total-@item.id" style="font-weight: bold; color: #C49A6C;" price="0" class="t-center">Đã chọn: 0</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="datBanTiecModal" role="dialog"  aria-hidden="true" aria-labelledby="datBanTiecModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div style="border-radius:16px;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight:bold" id="datBanTiecModalLabel">Thông Tin Đặt Tiệc</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-left: 0px; padding-right: 0px; padding-top: 10px;">
                <div style="padding-bottom: 0 !important;" class="container py-3 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="row detail-booking-modal" style="padding-left: 25px; padding-right: 25px;">
                            <div id="contentDatBan" class="col-lg-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitDatBan" class="btn3 flex-c-m size1 txt11 trans-0-4">Đặt Bàn Ngay</button>
            </div>
        </div>
    </div>
</div>

<script src="~/ActionOnPage/MenuTiecBan/loadPageMenuTiecBan.js?v=15102025.1"></script>
<script src="~/ActionOnPage/MenuTiecBan/ActionOnView.js?v=15102025.1"></script>
<script src="~/ActionOnPage/MenuTiecBan/DatBan.js?v=15102025.1"></script>

