﻿@model IEnumerable<Beanfamily.Models.LienHeDatBan>
@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    ViewBag.Title = "Danh Mục Cấp 1 - Menu Buffet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var dmpv = models.DanhMucPhucVuMenuTiecBanVaMenuBuffet.ToList();
}
<div class="pagetitle">
    <div class="row">
        <div class="col-md-7 col-12">
            <h1>Liên Hệ Đặt Bàn</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item active">Liên Hệ Đặt Bàn</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-5 col-12 text-end">
            @if (Session["chophep-xoa"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                {
                    <button id="btnBoQuaHangLoat" class="btn btn-danger ms-1"><i class="bi bi-ban me-2"></i>Bỏ qua liên hệ đã chọn</button>
                }
            }
        </div>
    </div>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table id="lstDmMbTable" class="table datatable" width="100%">
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 10px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input p-2" id="checkAlls" />
                                        <label class="form-check-label" for="checkAlls"></label>
                                    </div>
                                </th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Khách hàng</th>
                                <th scope="col">Đặt bàn</th>
                                <th scope="col">#</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="vertical-align: middle">
                                    <td>
                                        <div class="form-check">
                                            @if (item.id_donhangmenubuffet == null && item.id_donhangmenutiecban == null)
                                            {
                                                <input type="checkbox" class="form-check-input p-2" id="checkitem@(item.id)" name="@item.id" />
                                                <label class="form-check-label" for="checkitem@(item.id)"></label>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <small>
                                            <i class="bi bi-clock-history"></i> @item.ngaytao.ToString("HH:mm")<br />@item.ngaytao.ToString("dd/MM/yyyy")
                                        </small>
                                    </td>
                                    <td scope="row">
                                        @if (item.trangthai.Equals("new"))
                                        {
                                            <span class="badge bg-primary">Liên hệ mới</span>
                                        }
                                        else if (item.trangthai.Equals("cancel"))
                                        {
                                            <span class="badge bg-danger">Đã đóng</span>
                                        }
                                        else
                                        {
                                            if (item.id_donhangmenubuffet != null)
                                            {
                                                <span class="badge bg-success">
                                                    Đã tạo đơn Buffet
                                                    <br />
                                                    Mã đơn: @item.DonHangMenuBuffet.madonhang
                                                </span>

                                            }
                                            else if (item.id_donhangmenutiecban != null)
                                            {
                                                <span class="badge bg-success">
                                                    Đã tạo đơn Tiệc Bàn
                                                    <br />
                                                    Mã đơn: @item.DonHangMenuTiecBan.madonhang
                                                </span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        Họ & Tên: @item.hoten
                                        <br />
                                        SĐT: @item.sdt
                                        <br />
                                        Email: @item.email
                                    </td>
                                    <td>
                                        Số bàn: @item.soban bàn
                                        <br />
                                        Bắt đầu: @item.giobatdau, @item.ngaybatdau.ToString("dd/MM/yyyy")
                                        <br />
                                        Ghi chú: @item.ghichukhachhang
                                    </td>
                                    <td>
                                        @if (Session["chophep-sua"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                                            {
                                                if (item.id_donhangmenutiecban == null)
                                                {
                                                    <button id="btnTaoDonTiec@(item.id)" name="@item.id" class="btn btn-sm btn-primary"><i class="bi bi-plus-circle me-2"></i> Tạo đơn Tiệc Bàn</button>
                                                }
                                                if (item.id_donhangmenubuffet == null && item.id_donhangmenutiecban == null)
                                                {
                                                    <br />
                                                }
                                                if (item.id_donhangmenubuffet == null)
                                                {
                                                    <button id="btnTaoDonBuffet@(item.id)" name="@item.id" class="btn btn-sm btn-primary mt-2"><i class="bi bi-plus-circle me-2"></i>Tạo đơn Buffet</button>
                                                }
                                            }
                                        }
                                        @if (Session["chophep-xoa"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-xoa"]) == true && item.trangthai.Equals("new"))
                                            {
                                                <br />
                                                <button id="btnBoQuaLH@(item.id)" name="@item.id" class="btn btn-sm btn-danger mt-2"><i class="bi bi-ban me-2"></i>Bỏ qua Liên hệ</button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="TaoDonTiecBanModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titleTaoDonTiecBanModal" class="modal-title">Tạo Đơn Đặt Bàn Tiệc Từ Liên Hệ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="TaoDonTiecBanModalPartial" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="btnSubmitTaoDonTiecBan" type="button" class="btn btn-primary">Lưu thông tin</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TaoDonBuffetModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titleTaoDonBuffetModal" class="modal-title">Tạo Đơn Đặt Bàn Buffet Từ Liên Hệ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="TaoDonBuffetModalPartial" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="btnSubmitTaoDonBuffet" type="button" class="btn btn-primary">Lưu thông tin</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Validation/LienHeDatBan/ThemDonTiecBan.js"></script>
<script src="~/Validation/LienHeDatBan/ThemDonBuffet.js"></script>
<script src="~/Validation/LienHeDatBan/BoQua.js"></script>
<script src="~/Validation/LienHeDatBan/BoQuaHangLoat.js"></script>
