@model  Beanfamily.Models.QuyTrinhTrongCay

@{
    ViewBag.Title = "quytrinhtrong";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int i = 0;
}

<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(/Content/assets/images/backgroud.png);">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #000000ad 40%, #000000d6 100%); width: 100%; min-height: 545px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                @Model.tenquytrinhtrongcay
            </h2>
        </div>
    </div>
</section>
<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container  p-t-115 p-b-120">
            @*@if(string.isNullOrEmpty(Model.video)) { }*@

            @foreach (var item in Model.CacBuocQuyTrinhTrongCay)
            {
                i++;
                if (i > 1)
                {
                    <hr class="my-3" style="background-color: darkgray"><br /><br />
                }
                if (i % 2 == 0)
                {
                    <div @*style="border: 1px solid; border-color: darkgray; border-radius: 15px; margin-bottom: 50px"*@ class="row">
                        <div class="col-12">
                            <div class="p-b-30 change-position-map-right" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
                                <div class="wrap-text-welcome">

                                    <h5 class="tit6 t-center m-b-35 m-t-5">
                                        @item.sobuoc
                                    </h5>

                                    <p class="t-center m-b-22 m-l-r-auto">
                                        @item.motabuoc
                                    </p>
                                </div>
                            </div>

                            <div class="p-b-30 change-position-map-left" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
                                <div class="wrap-pic-welcome size2 bo-rad-16 hov-img-zoom m-l-r-auto">
                                    <img src="@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh))" alt="IMG-MENU">
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div @*style="border: 1px solid; border-color: darkgray; border-radius: 15px; margin-bottom: 50px"*@ class="row">
                        <div class="col-md-6 p-b-30" style=" display: flex; flex-direction: column; justify-content: center;">
                            <div class="wrap-text-welcome">

                                <h5 class="tit6 t-center m-b-35 m-t-5">
                                    @item.sobuoc
                                </h5>

                                <p class="t-center m-b-22 m-l-r-auto">
                                    @item.motabuoc
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 p-b-30" style=" display: flex; flex-direction: column; justify-content: center;">
                            <div class="wrap-pic-welcome size2 bo-rad-16 hov-img-zoom m-l-r-auto">
                                <img src="@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh))" alt="IMG-MENU">
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</section>
