@using Beanfamily.Models
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Beanfamily.Models.DonHangVuonRauMuaSamVaMenuHangNgay>

<div id="content-order-load">
    <div class="row p-t-30">
        <div class="col-12">
            @if (Model != null)
            {
                if (Model.Count < 1)
                {
                    <div class="card mb-3 bo-rad-16 bggreen text-white item-order" style="border: 2px solid #ffc687; height: 120px;">
                        <div class="card-body me-3 ms-3" style="padding: 10px;">
                            <div class="d-flex flex-c-m justify-content-between align-center row" style="height: 100%;">
                                <h5 class="text-white t-center">Không có kết quả cần tìm!</h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <div class="card mb-3 bo-rad-16 bggreen text-white item-order" style="border: 2px solid #ffc687">
                            <div class="card-body me-3 ms-3" style="padding: 10px;">
                                <div class="d-flex justify-content-between row">
                                    <div class="col-md-8 col-sm-8 ">
                                        <div class="d-flex flex-row align-items-center ms-2 me-2 mt-2 mb-2">
                                            <div>
                                                <a class="text-white">
                                                    <img src="@Url.Content("~/Content/assets/images/orderlogo.png")"
                                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </a>
                                            </div>
                                            <div class="ms-3">
                                                <a class="text-white item-order-child">
                                                    <h6>
                                                        Mã ĐH: <b>@item.madonhang</b>
                                                    </h6>
                                                </a>
                                                <p class="small mb-0 text-white item-order-child">
                                                    @(item.ChiTietDonHangSanPhamMuaSam.Count + item.ChiTietDonHangSanPhamRauNhaTrong.Count + item.ChiTietDonHangSanPhamThucDonHangNgay.Count)
                                                    Sản Phẩm &nbsp; | &nbsp; Tổng: @((item.ChiTietDonHangSanPhamMuaSam.Sum(s => s.soluongmua * s.gia)
                                            + item.ChiTietDonHangSanPhamRauNhaTrong.Sum(s => s.soluongmua * s.gia)
                                            + item.ChiTietDonHangSanPhamThucDonHangNgay.Sum(s => s.soluongmua * s.gia)).ToString("0,0"))đ
                                                </p>



                                                @if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("chờ duyệt"))
                                                {
                                                    <p class="small mb-0 text-white">
                                                        Trạng thái:
                                                        <span class="small ms-1 p-t-0 p-b-0 p-l-10 p-r-10" style="background-color: #ffc687 !important; color: white; display: inline-block; border-radius: 8px">
                                                            <b>Chờ duyệt</b>
                                                        </span>
                                                    </p>
                                                }
                                                else if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("đang đóng gói"))
                                                {
                                                    <p class="small mb-0 text-white">
                                                        Trạng thái:
                                                        <span class="small ms-1 p-t-0 p-b-0 p-l-10 p-r-10 bg-primary" style="color: white; display: inline-block; border-radius: 8px">
                                                            <b>Đang đóng gói</b>
                                                        </span>
                                                    </p>
                                                }
                                                else if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("đang giao"))
                                                {
                                                    <p class="small mb-0 text-white">
                                                        Trạng thái:
                                                        <span class="small ms-1 p-t-0 p-b-0 p-l-10 p-r-10 bg-primary" style="color: white; display: inline-block; border-radius: 8px">
                                                            <b>Đang giao</b>
                                                        </span>
                                                    </p>
                                                }
                                                else if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("không thành công"))
                                                {
                                                    <p class="small mb-0 text-white">
                                                        Trạng thái:
                                                        <span class="small ms-1 p-t-0 p-b-0 p-l-10 p-r-10 bg-danger" style="color: white; display: inline-block; border-radius: 8px">
                                                            <b>Không thành công</b>
                                                        </span>
                                                    </p>
                                                }
                                                else if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("đã hủy"))
                                                {
                                                    <p class="small mb-0 text-white">
                                                        Trạng thái:
                                                        <span class="small ms-1 p-t-0 p-b-0 p-l-10 p-r-10 bg-danger" style="color: white; display: inline-block; border-radius: 8px">
                                                            <b>Đã hủy</b>
                                                        </span>
                                                    </p>
                                                }
                                                else if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("hoàn thành"))
                                                {
                                                    <p class="small mb-0 text-white">
                                                        Trạng thái:
                                                        <span class="small ms-1 p-t-0 p-b-0 p-l-10 p-r-10 bg-success" style="color: white; display: inline-block; border-radius: 8px">
                                                            <b>Hoàn thành</b>
                                                        </span>
                                                    </p>
                                                }

                                                <p class="small mt-3" style="font-size: 11px; padding-top: 3px; border-top: 1px solid #d4d4d4">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    @item.ngaydat.ToString("HH"):@(item.ngaydat.ToString("mm")) ngày @item.ngaydat.ToString("dd/MM/yyyy")
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-4 col-sm-4" style=" display: flex; flex-direction: row; justify-content: right; align-items: center;">
                                        <div class="d-flex flex-row align-items-center  float-end me-2">
                                            <div class="row">
                                                @if (item.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.First().tieude.ToLower().Equals("chờ duyệt"))
                                                {
                                                    if (Session["user-data"] != null)
                                                    {
                                                        <div class="col-sm-12 t-right">
                                                            <a name="@item.id" id="xemchitietdonhang-@item.id" style="height: 45px; width: auto; padding: 10px 20px 10px 20px; cursor: pointer; float: right; width: 150px; border-radius: 10px 10px 0 0" class="btn3 flex-c-m size1 txt11 trans-0-4 text-nowrap">Xem Chi Tiết</a>
                                                        </div>
                                                        <div class="col-sm-12 t-right">
                                                            <a name="@item.id" id="huydonhang-@item.id" style="width: auto; padding: 10px 20px 10px 20px; cursor: pointer; float: right; width: 150px; border-radius: 0 0 10px 10px " class="btn-danger flex-c-m size1 txt11 trans-0-4 text-nowrap">Hủy đơn</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-sm-12 t-right">
                                                            <a name="@item.id" id="xemchitietdonhang-@item.id" style="height: 45px; width: auto; padding: 10px 20px 10px 20px; cursor: pointer; float: right; width: 150px; border-radius: 10px" class="btn3 flex-c-m size1 txt11 trans-0-4 text-nowrap">Xem Chi Tiết</a>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-sm-12 t-right">
                                                        <a name="@item.id" id="xemchitietdonhang-@item.id" style="height: 45px; width: auto; padding: 10px 20px 10px 20px; cursor: pointer; float: right; width: 150px; border-radius: 10px" class="btn3 flex-c-m size1 txt11 trans-0-4 text-nowrap">Xem Chi Tiết</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="card mb-3 bo-rad-16 bggreen text-white item-order" style="border: 2px solid #ffc687; height: 120px;">
                    <div class="card-body me-3 ms-3" style="padding: 10px;">
                        <div class="d-flex flex-c-m justify-content-between align-center row" style="height: 100%;">
                            <h5 class="text-white t-center">Không có kết quả cần tìm!</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-12" style="display: flex; justify-content: center; flex-direction:inherit">
            @Html.PagedListPager(Model, pageNum => Url.Action("tracuudonhang", new { pageNum, PageSize = 10 }))
        </div>
    </div>
    <script>
        $('body').find('[id^="xemchitietdonhang-"]').on('click', function () {
            var btn = $(this);
            btn.html('<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"> </span> Vui lòng chờ...');
            btn.css('pointer-events', 'none');

            var id = $(this).attr('name');

            var formData = new FormData();
            formData.append('id', id);

            $.ajax({
                url: $('body').find('[id="requestPath"]').val() + 'home/xemchitietdonhang',
                data: formData,
                dataType: 'html',
                type: 'POST',
                processData: false,
                contentType: false,
            }).done(function (ketqua) {
                btn.html('Xem chi tiết');
                btn.css('pointer-events', 'all');

                $('body').find('[id="content-chitiet-donhang-xemchitiet"]').replaceWith(ketqua);
                $('body').find('[id="chiTietDonHangModal"]').modal('toggle');
            });
        });
    </script>
</div>