@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();

    string diachi = "";
    string toado = "";

    var tt = models.ThongTinCauHinh.ToList();
    if (tt.Count > 0)
    {
        var tts = tt.First();
        diachi = tts.diachi;
        toado = tts.toadogooglemapiframe;
    }

    string banner_gioithieu = "";
    string tieude_gioithieu = "";
    string mota1_gioithieu = "";
    string hinhanh1_gioithieu = "";
    string hinhanh2_gioithieu = "";

    string tieude2_gioithieu = "";
    string mota_gioithieu = "";
    string hinhanh_mota_gioithieu = "";

    string tieude3_gioithieu = "";
    string mota3_gioithieu = "";
    string hinhanh3_gioithieu = "";
    string hinhanh4_gioithieu = "";

    var ndt = models.BoCucNoiDungTinhWebsite.ToList();
    if (ndt.Count > 0)
    {
        var dndt = ndt.First();
        banner_gioithieu = dndt.banner_gioithieu;
        tieude_gioithieu = dndt.tieude_gioithieu;
        mota1_gioithieu = dndt.mota1_gioithieu;
        hinhanh1_gioithieu = dndt.hinhanh1_gioithieu;
        hinhanh2_gioithieu = dndt.hinhanh2_gioithieu;

        tieude2_gioithieu = dndt.tieude2_gioithieu;
        mota_gioithieu = dndt.mota_gioithieu;
        hinhanh_mota_gioithieu = dndt.hinhanh_mota_gioithieu;

        tieude3_gioithieu = dndt.tieude3_gioithieu;
        mota3_gioithieu = dndt.mota3_gioithieu;
        hinhanh3_gioithieu = dndt.hinhanh3_gioithieu;
        hinhanh4_gioithieu = dndt.hinhanh4_gioithieu;
    }

    if (string.IsNullOrEmpty(banner_gioithieu))
    {
        banner_gioithieu = "~/Content/AdminAreas/images/NoiDungTinh/GioiThieu/Banner/2z5708932492674_1e339065fc38b483bc79e1c28d01086f.jpg";
    }
    if (!string.IsNullOrEmpty(hinhanh1_gioithieu))
    {
        hinhanh1_gioithieu = hinhanh1_gioithieu.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(hinhanh2_gioithieu))
    {
        hinhanh2_gioithieu = hinhanh2_gioithieu.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(hinhanh3_gioithieu))
    {
        hinhanh3_gioithieu = hinhanh3_gioithieu.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(hinhanh4_gioithieu))
    {
        hinhanh4_gioithieu = hinhanh4_gioithieu.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(hinhanh_mota_gioithieu))
    {
        hinhanh_mota_gioithieu = hinhanh_mota_gioithieu.Replace("~", "");
    }

    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(@Url.Content(banner_gioithieu));">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 345px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                Giới Thiệu
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a>GIỚI THIỆU</a>
            </h6>
        </div>
    </div>
</section>

<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-b-80">
            <div class="row" style="padding-top:60px; display: flex; flex-direction: row; align-items: center">
                <div class="col-md-6 col-sm-12">
                    <span class="tit2">
                        Về Beanfamily
                    </span>
                    <h4 class="text-white txt1" style="margin-bottom: 35px; margin-top: 25px; font-size: 42px; font-family: riftdemi !important;">@tieude_gioithieu</h4>
                    <p style="font-size: 16px" class="text-white mb-4">
                        @mota1_gioithieu
                    </p>
                    <div style="background-image: url('@hinhanh1_gioithieu'); background-size: cover; width: 100%; height: 400px"></div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div style="background-image: url('@hinhanh2_gioithieu'); background-size: cover; width: 100%; height: 700px"></div>
                </div>
            </div>
        </div>
        <div class="container p-b-80">
            <div class="row" style="padding-top:60px">
                <div class="col-md-7 col-sm-12">
                    <div style="background-image: url('@hinhanh_mota_gioithieu'); background-size: cover; width: 100%; height: 700px"></div>
                </div>
                <div class="col-md-5 col-sm-12" style="display: flex; flex-direction: column; justify-content: center;">
                    <h4 class="text-white txt1" style="margin-bottom: 35px; margin-top: 25px; font-size: 42px; font-family: riftdemi !important;">@tieude2_gioithieu</h4>
                    <p style="font-size: 16px" class="text-white">
                        @mota_gioithieu
                    </p>
                </div>
            </div>
        </div>
        <div class="container p-b-80">
            <div class="row" style="padding-top:60px; display: flex; flex-direction: row; align-items: center">
                <div class="col-md-6 col-sm-12">
                    <h4 class="text-white txt1" style="margin-bottom: 35px; margin-top: 25px; font-size: 42px; font-family: riftdemi !important;">@tieude3_gioithieu</h4>
                    <p style="font-size: 16px" class="text-white mb-4">
                        @mota3_gioithieu
                    </p>
                    <div style="background-image: url('@hinhanh3_gioithieu'); background-size: cover; width: 100%; height: 400px"></div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div style="background-image: url('@hinhanh4_gioithieu'); background-size: cover; width: 100%; height: 700px"></div>
                </div>
            </div>

            <div class="row" style="margin-top: 80px">
                <div class="col-12">
                    <h6 class="text-white" style="margin-bottom: 10px"><i class="fa fa-map-marker fs-16 dis-inline-block"> </i> @diachi</h6>
                    <div id="map" style="height: 500px">
                        <iframe src="@toado" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<script src="~/ActionOnPage/GioiThieu/loadPageNhaHang.js?v=1.0"></script>

