@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();

    string diachi = "";
    string toado = "";

    var tt = models.ThongTinCauHinh.ToList();
    if (tt.Count > 0)
    {
        var tts = tt.First();
        diachi = tts.diachi;
        toado = tts.toadogooglemapiframe;
    }

    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(/Content/assets/images/ImageBean/2z5708932492674_1e339065fc38b483bc79e1c28d01086f.jpg);">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 545px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                Giới Thiệu
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a>GIỚI THIỆU</a>
            </h6>
        </div>
    </div>
</section>

<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-b-40">
            <div class="row" style="padding-top:60px">
                <div class="col-md-6 col-sm-12">
                    <span class="tit2">
                        Về Beanfamily
                    </span>
                    <h4 class="text-white txt1" style="margin-bottom: 35px; margin-top: 25px; font-size: 42px; font-family: Merriweather, serif !important;">Beanfamily - nhà hàng chay ngon Bình Dương.</h4>

                    <div style="background-image: url('/Content/assets/images/ImageBean/z5708938685869_44f923cd3422cc6da332ba580aa5ba46.jpg'); background-size: auto 100%; width: 100%; height: 400px"></div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div style="background-image: url('/Content/assets/images/ImageBean/382585708_694727149344519_3433722379434549341_n.jpg'); background-size: auto 100%; width: 100%; height: 700px"></div>
                </div>
            </div>


            @*<div class="row" style="margin-top: 60px">
                    <div class="col-12">
                        <div id="map" style="height: 100%">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.8592950601287!2d106.67811437493583!3d10.97399138918707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12e2d579009%3A0x617c96e92c4de0fe!2z4bqobSBUaOG7sWMgQ2hheSBHaWEgxJDDrG5oIMSQ4bqtdSAtIEJlYW4gRmFtaWx5!5e0!3m2!1svi!2s!4v1717299665568!5m2!1svi!2s" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="header-intro parallax100 t-center" style="display:flex;flex-direction: column; justify-content: center ;height: 850px ;background-image: url(/Content/assets/images/ImageBean/2z5708935792217_91c04c63af0590076f807189fc0d4b5a.jpg);">
        <div>
            <span class="tit2 p-l-15 p-r-15">
                Tổng hợp 3 thành phần
            </span>

            <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
                Thương Hiệu Chính
            </h3>

            <div class="container  p-t-77 p-b-133">
                <div class="row">
                    <div class="col-md-4 p-t-30 t-center">
                        <!-- Block1 -->
                        <div class="blo1 blogioithieu" style="border: 2px solid #ffc678; padding-bottom: 35px; backdrop-filter: blur(5px);">
                            <div class="wrap-text-blo1 p-t-35">
                                <a href="@Url.Action("index", "nhahang")">
                                    <h4 class="txt5-b color0-hov trans-0-4 m-b-13">
                                        Nhà hàng
                                    </h4>
                                </a>

                                <p class="m-b-20 text-white">
                                    Đặt bàn - tiệc, phục vụ những món ăn ngon và đầy đủ dinh dưỡng.
                                </p>

                                <a href="@Url.Action("index", "nhahang")" class="txt4">
                                    Xem ngay
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-t-30 t-center">
                        <!-- Block1 -->
                        <div class="blo1 blogioithieu" style="border: 2px solid #ffc678; padding-bottom: 35px; backdrop-filter: blur(5px);">
                            <div class="wrap-text-blo1 p-t-35">
                                <a href="@Url.Action("index", "vuonrau")">
                                    <h4 class="txt5-b color0-hov trans-0-4 m-b-13">
                                        vườn rau
                                    </h4>
                                </a>

                                <p class="m-b-20 text-white">
                                    Các loại rau nhà trồng, tìm hiểu công dụng và phương pháp trồng
                                </p>

                                <a href="@Url.Action("index", "vuonrau")" class="txt4">
                                    Xem ngay
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-t-30 t-center">
                        <!-- Block1 -->
                        <div class="blo1 blogioithieu" style="border: 2px solid #ffc678; padding-bottom: 35px; backdrop-filter: blur(5px);">
                            <div class="wrap-text-blo1 p-t-35">
                                <a href="@Url.Action("index", "muasam")">
                                    <h4 class="txt5-b color0-hov trans-0-4 m-b-13">
                                        Mua sắm
                                    </h4>
                                </a>

                                <p class="m-b-20 text-white">
                                    Cửa hàng tạp hóa, mua bán các loại rau củ, thực phẩm thức uống, gia vị.
                                </p>

                                <a href="@Url.Action("index", "muasam")" class="txt4">
                                    Xem ngay
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="section-child-bg1">
        <div class="container p-b-40">
            <div class="row" style="padding-top:60px">
                <div class="col-md-5 col-sm-12" style="display: flex; flex-direction: column; justify-content: center;">
                    <h4 class="text-white txt1" style="margin-bottom: 35px; margin-top: 25px; font-size: 42px; font-family: Merriweather, serif !important;">Gia Đình Đậu</h4>
                    <p style="font-size: 16px" class="text-white">
                        Beanfamily - Gia Đình Đậu là một trong những nhà hàng món chay ngon nổi tiếng tại Bình Dương với các món ăn thuần rau củ quả tươi nhiên được chế biến bởi các đầu bếp đầy đam mê và sáng tạo. Beanfamily là địa điểm thân thuộc cho các buổi sinh nhật, gặp mặt gia đình, bạn bè, đồng nghiệp... cùng tận hưởng không gian thanh nhiên tĩnh nhẹ rất khác biệt, Không gian tĩnh lặng, bài trí độc đáo, món ăn thanh nhẹ, nhân viên thân thiện, tất cả hòa quyện nơi đây tạo nên một nét riêng.
                    </p>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div style="background-image: url('/Content/assets/images/ImageBean/2382148336_694728379344396_4963814383689281368_n.jpg'); background-size: auto 100%; width: 100%; height: 700px"></div>
                </div>
            </div>


            <div class="row" style="margin-top: 80px">
                <div class="col-12">
                    <h6 class="text-white" style="margin-bottom: 10px"><i class="fa fa-map-marker fs-16 dis-inline-block"> </i> @diachi</h6>
                    <div id="map" style="height: 500px">
                        <iframe src="@toado" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/ActionOnPage/GioiThieu/loadPageNhaHang.js"></script>

