@using Beanfamily.Models;
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var sanphammoinhahang = Session["sanphammoi-nhahang"] as List<SanPhamThucDonHangNgay>;
    var sanphammoivuonrau = Session["sanphammoi-vuonrau"] as List<SanPhamRauNhaTrong>;
    var sanphammoimuasam = Session["sanphammoi-muasam"] as List<SanPhamMuaSam>;

    var sanphamnoibatnhahang = Session["sanphamnoibat-nhahang"] as List<SanPhamThucDonHangNgay>;
    var sanphamnoibatvuonrau = Session["sanphamnoibat-vuonrau"] as List<SanPhamRauNhaTrong>;
    var sanphamnoibatmuasam = Session["sanphamnoibat-muasam"] as List<SanPhamMuaSam>;

    string phone = "";
    string mail = "";
    string giomocua = "";
    string ngaymocua = "";


    var tt = models.ThongTinCauHinh.ToList();
    if (tt.Count > 0)
    {
        var tts = tt.First();
        phone = tts.sodienthoai;
        mail = tts.email;
        giomocua = tts.giomocua;
        ngaymocua = tts.ngaymocua;
    }


    string banner_trangchu = "";
    string mota_trangchu = "";
    string hinhanh_mota_trangchu = "";
    string mota_thanhphanchinh_nhahang = "";
    string mota_thanhphanchinh_vuonrau = "";
    string mota_thanhphanchinh_muasam = "";
    string mota_sanphammoi_nhahang = "";
    string mota_sanphammoi_vuonrau = "";
    string mota_sanphammoi_muasam = "";
    string mota_sanphamnoibat_nhahang = "";
    string mota_sanphamnoibat_vuonrau = "";
    string mota_sanphamnoibat_muasam = "";
    var ndt = models.BoCucNoiDungTinhWebsite.ToList();
    if (ndt.Count > 0)
    {
        var dndt = ndt.First();
        banner_trangchu = dndt.banner_trangchu;
        mota_trangchu = dndt.mota_trangchu;
        hinhanh_mota_trangchu = dndt.hinhanh_mota_trangchu;
        mota_thanhphanchinh_nhahang = dndt.mota_thanhphanchinh_nhahang;
        mota_thanhphanchinh_vuonrau = dndt.mota_thanhphanchinh_vuonrau;
        mota_thanhphanchinh_muasam = dndt.mota_thanhphanchinh_muasam;
        mota_sanphammoi_nhahang = dndt.mota_sanphammoi_nhahang;
        mota_sanphammoi_vuonrau = dndt.mota_sanphammoi_vuonrau;
        mota_sanphammoi_muasam = dndt.mota_sanphammoi_muasam;
        mota_sanphamnoibat_nhahang = dndt.mota_sanphamnoibat_nhahang;
        mota_sanphamnoibat_vuonrau = dndt.mota_sanphamnoibat_vuonrau;
        mota_sanphamnoibat_muasam = dndt.mota_sanphamnoibat_muasam;
    }

    if (string.IsNullOrEmpty(banner_trangchu))
    {
        banner_trangchu = "~/Content/AdminAreas/images/NoiDungTinh/GioiThieu/Banner/2z5708932492674_1e339065fc38b483bc79e1c28d01086f.jpg";
    }

    int i = 0;

    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<meta title="@Session["meta-title"]" />
<!-- Slide1 -->
<section class="section-slide" style=" height: 100%;">
    <div class="wrap-slick1">
        <div class="slick1">
            @foreach (var item in banner_trangchu.Split('#').ToList())
            {
                <div class="item-slick1 item@(i)-slick1" style="background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7) ), url(@Url.Content(item)); margin: 0">
                    <div style="width: 100%; height: 100%; background-image: linear-gradient(180deg, #00000000 20%, #122E26 100%); ">
                        <div class="gio-mo-cua">
                            <div class="container">
                                <h4 class="txt13 m-b-10">
                                    Giờ mở cửa
                                </h4>

                                <ul>
                                    <li class="text-white" style="font-size: 16px">
                                        @giomocua
                                    </li>

                                    <li class="text-white" style="font-size: 16px">
                                        @ngaymocua
                                    </li>

                                    <li class="text-white" style="font-size: 16px; margin-top: 20px; cursor: pointer" onclick="location.href = 'tel:@phone'">
                                        <b>Hotline:</b> @phone
                                    </li>
                                    <li class="text-white" style="font-size: 16px; cursor: pointer" onclick="location.href = 'nailto:@mail'">
                                        <b>Email:</b> @mail
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-in-slidepage wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                            <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                                Nhà hàng chay
                            </span>

                            <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" style="font-family: Courgette !important; text-transform: unset;" data-appear="fadeInUp">
                                Bean Family
                            </h2>

                            <div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
                                <!-- Button1 -->
                                <a href="#lhdb" class="btn1 flex-c-m size1 txt3 trans-0-4">
                                    Liên Hệ Đặt Bàn
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="wrap-slick1-dots"></div>
    </div>
</section>

<!-- Welcome -->
<section class="section-welcome bg1-pattern">
    <div class="section-child-bg1">
        <div class="container  p-t-80 p-b-105">
            <div class="row">
                <div class="col-md-6 p-b-30">
                    <div class="wrap-text-welcome t-center">
                        <label class="tit2 t-center" style="font-size: 38px; margin-top: 20px">
                            Bean Family
                        </label>

                        <h3 class="tit3 t-center m-b-35 m-t-5">
                            Welcome
                        </h3>

                        <p class="t-center m-b-22 size3 m-l-r-auto">
                            @mota_trangchu
                        </p>

                        <a href="@Url.Action("about", "home")" class="txt4">
                            Đôi nét về Beanfamily
                            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-6" style="display: flex; flex-direction: row; align-items: center">
                    <div class="wrap-pic-welcome size2 bo-rad-16 hov-img-zoom m-l-r-auto">
                        <img src="@Url.Content(hinhanh_mota_trangchu)" alt="IMG-OUR" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->
<section class="section-intro">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(/Content/assets/images/ImageBean/bannerlabel1.jpg);">
        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Khám Phá 3 Lĩnh Vực Chính
        </h3>
    </div>

    <div class="content-intro bg2-pattern">
        <div class="section-child-bg2">
            <div class="container  p-t-77 p-b-133">
                <div class="row">
                    <div class="col-md-4 p-t-30 t-center">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-16 hov-img-zoom">
                                <a href="@Url.Action("index", "nhahangbean")"><img src="~/Content/assets/images/product/nhahang.gif" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="@Url.Action("index", "nhahangbean")">
                                    <h4 class="txt5-b color0-hov trans-0-4 m-b-13">
                                        Nhà hàng
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    @mota_thanhphanchinh_nhahang
                                </p>

                                <a href="@Url.Action("index", "nhahangbean")" class="txt4">
                                    Xem ngay
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-t-30 t-center">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-16 hov-img-zoom">
                                <a href="@Url.Action("index", "vuonrau")"><img src="~/Content/assets/images/product/vuonrau.gif" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="@Url.Action("index", "vuonrau")">
                                    <h4 class="txt5-b color0-hov trans-0-4 m-b-13">
                                        vườn rau
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    @mota_thanhphanchinh_vuonrau
                                </p>

                                <a href="@Url.Action("index", "vuonrau")" class="txt4">
                                    Xem ngay
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-t-30 t-center">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-16 hov-img-zoom">
                                <a href="@Url.Action("index", "muasam")"><img src="~/Content/assets/images/product/muasam.gif" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="@Url.Action("index", "muasam")">
                                    <h4 class="txt5-b color0-hov trans-0-4 m-b-13">
                                        Mua sắm
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    @mota_thanhphanchinh_muasam
                                </p>

                                <a href="@Url.Action("index", "muasam")" class="txt4">
                                    Xem ngay
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- Sản phẩm mới -->
<section class="section-ourmenu bg1-pattern">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(/Content/assets/images/ImageBean/bannerlabel2.jpg); ">
        <span class="tit2 p-l-15 p-r-15">
            Khám phá
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Sản Phẩm Mới
        </h3>
    </div>

    <div class="section-child-bg1">

        <div class="container p-t-115 p-b-120">
            <div @*style="border: 1px solid; border-color: darkgray; border-radius: 15px; margin-bottom: 50px"*@ class="row">
                @{ i = 0;}
                @foreach (var item in sanphammoinhahang)
                {
                    i++;
                    if (i == 1)
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <h6 class="tit6 t-center m-t-0" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "thucdonhangngay", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                                <div style="margin-top: 20px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <div style="margin-top: 0px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                                <h6 class="tit6 t-center m-t-20" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "thucdonhangngay", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>

            <hr class="my-3" style="background-color: darkgray">

            <br />
            <br />
            <div class="row">
                <div class="col-12">

                    @{ i = 0;}
                    @foreach (var item in sanphammoivuonrau)
                    {
                        i++;
                        if (i == 1)
                        {
                            <div class="col-md-6 p-t-45 p-b-30">
                                <div class="wrap-text-welcome t-center">
                                    <h6 class="tit6 t-center m-t-0" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                        @item.tensanpham
                                    </h6>
                                    @if (!string.IsNullOrEmpty(item.mota))
                                    {
                                        <p class="t-center m-b-22 size3 m-l-r-auto">
                                            @item.mota
                                        </p>
                                    }
                                    <a style="font-size: 16px;" href="@Url.Action("productdetail", "vuonrau", new { id = item.id })" class="txt4">
                                        Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                    <div style="margin-top: 20px; width: 100%; height: 460px;
                                    background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                    background-size: cover">
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 p-t-45 p-b-30">
                                <div class="wrap-text-welcome t-center">
                                    <div style="margin-top: 0px; width: 100%; height: 460px;
                                    background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                    background-size: cover">
                                    </div>
                                    <h6 class="tit6 t-center m-t-20" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                        @item.tensanpham
                                    </h6>
                                    @if (!string.IsNullOrEmpty(item.mota))
                                    {
                                        <p class="t-center m-b-22 size3 m-l-r-auto">
                                            @item.mota
                                        </p>
                                    }
                                    <a style="font-size: 16px;" href="@Url.Action("productdetail", "vuonrau", new { id = item.id })" class="txt4">
                                        Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
            <hr class="my-3" style="background-color: darkgray">

            <br />
            <br />
            <div class="row">
                @{ i = 0;}
                @foreach (var item in sanphammoimuasam)
                {
                    i++;
                    if (i == 1)
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <h6 class="tit6 t-center m-t-0" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "muasam", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.TonKhoSanPhamMuaSam.First().gia.ToString("0,0")đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                                <div style="margin-top: 20px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <div style="margin-top: 0px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                                <h6 class="tit6 t-center m-t-20" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "muasam", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.TonKhoSanPhamMuaSam.First().gia.ToString("0,0")đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

<!-- Sản phẩm nổi bật -->
<section class="section-ourmenu bg2-pattern">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(/Content/assets/images/ImageBean/bannerlabel3.jpg); ">
        <span class="tit2 p-l-15 p-r-15">
            Khám phá
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Sản Phẩm nổi bật
        </h3>
    </div>

    <div class="section-child-bg2">
        <div class="container  p-t-115 p-b-120">
            <div @*style="border: 1px solid; border-color: darkgray; border-radius: 15px; margin-bottom: 50px"*@ class="row">
                @{ i = 0;}
                @foreach (var item in sanphamnoibatnhahang)
                {
                    i++;
                    if (i == 1)
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <h6 class="tit6 t-center m-t-0" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "thucdonhangngay", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                                <div style="margin-top: 20px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <div style="margin-top: 0px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                                <h6 class="tit6 t-center m-t-20" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "thucdonhangngay", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
            <hr class="my-3" style="background-color: darkgray">

            <br />
            <br />
            <div class="row">
                <div class="col-12">
                    @{ i = 0;}
                    @foreach (var item in sanphamnoibatvuonrau)
                    {
                        i++;
                        if (i == 1)
                        {
                            <div class="col-md-6 p-t-45 p-b-30">
                                <div class="wrap-text-welcome t-center">
                                    <h6 class="tit6 t-center m-t-0" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                        @item.tensanpham
                                    </h6>
                                    @if (!string.IsNullOrEmpty(item.mota))
                                    {
                                        <p class="t-center m-b-22 size3 m-l-r-auto">
                                            @item.mota
                                        </p>
                                    }
                                    <a style="font-size: 16px;" href="@Url.Action("productdetail", "vuonrau", new { id = item.id })" class="txt4">
                                        Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                    <div style="margin-top: 20px; width: 100%; height: 460px;
                                    background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                    background-size: cover">
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 p-t-45 p-b-30">
                                <div class="wrap-text-welcome t-center">
                                    <div style="margin-top: 0px; width: 100%; height: 460px;
                                    background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                    background-size: cover">
                                    </div>
                                    <h6 class="tit6 t-center m-t-20" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                        @item.tensanpham
                                    </h6>
                                    @if (!string.IsNullOrEmpty(item.mota))
                                    {
                                        <p class="t-center m-b-22 size3 m-l-r-auto">
                                            @item.mota
                                        </p>
                                    }
                                    <a style="font-size: 16px;" href="@Url.Action("productdetail", "vuonrau", new { id = item.id })" class="txt4">
                                        Xem @item.tensanpham - @item.gia.ToString("0,0")đ
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <hr class="my-3" style="background-color: darkgray">
            <br />
            <br />
            <div class="row">
                @{ i = 0;}
                @foreach (var item in sanphamnoibatmuasam)
                {
                    i++;
                    if (i == 1)
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">
                                <h6 class="tit6 t-center m-t-0" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "muasam", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.TonKhoSanPhamMuaSam.First().gia.ToString("0,0") đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                                <div style="margin-top: 20px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 p-t-45 p-b-30">
                            <div class="wrap-text-welcome t-center">

                                <div style="margin-top: 0px; width: 100%; height: 460px;
                                background-image: url(@(string.IsNullOrEmpty(item.hinhanh) ? Url.Content("~/Content/assets/images/product/sanphamdefault.jpg") : item.hinhanh.IndexOf("#") != -1 ? Url.Content(item.hinhanh.Split('#')[0]) : Url.Content(item.hinhanh)));
                                background-size: cover">
                                </div>
                                <h6 class="tit6 t-center m-t-20" style="font-size: 30px; padding-bottom: 0; letter-spacing: 3px; word-spacing: 3px;">
                                    @item.tensanpham
                                </h6>
                                @if (!string.IsNullOrEmpty(item.mota))
                                {
                                    <p class="t-center m-b-22 size3 m-l-r-auto">
                                        @item.mota
                                    </p>
                                }
                                <a style="font-size: 16px;" href="@Url.Action("productdetail", "muasam", new { id = item.id })" class="txt4">
                                    Xem @item.tensanpham - @item.TonKhoSanPhamMuaSam.First().gia.ToString("0,0") đ
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</section>

<!-- Event -->
<!--<section class="section-event">
    <div class="wrap-slick2">
        <div class="slick2">
            <div class="item-slick2 item1-slick2" style="background-image: url(/Content/assets/images/bg-event-01.jpg);">
                <div class="wrap-content-slide2 p-t-115 p-b-208">
                    <div class="container">-->
<!-- - -->
<!--<div class="title-event t-center m-b-52">
    <span class="tit2 p-l-15 p-r-15">
        Upcomming
    </span>

    <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
        Events
    </h3>
</div>-->
<!-- Block2 -->
<!--<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">-->
<!-- Pic block2 -->
<!--<a href="~/Content/assets/#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url(/Content/assets/images/event-02.jpg);">
    <div class="time-event size10 txt6 effect1">
        <span class="txt-effect1 flex-c-m t-center">
            08:00 PM Tuesday - 21 November 2018
        </span>
    </div>
</a>-->
<!-- Text block2 -->
<!--<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                    <h4 class="tit7 t-center m-b-10">
                        Wines during specific nights
                    </h4>

                    <p class="t-center">
                        Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed fringilla, nunc sed imperdiet lacinia
                    </p>

                    <div class="flex-sa-m flex-w w-full m-t-40">
                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 days">
                                25
                            </span>

                            <span class="dis-block t-center txt8">
                                Days
                            </span>
                        </div>

                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 hours">
                                12
                            </span>

                            <span class="dis-block t-center txt8">
                                Hours
                            </span>
                        </div>

                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 minutes">
                                59
                            </span>

                            <span class="dis-block t-center txt8">
                                Minutes
                            </span>
                        </div>

                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 seconds">
                                56
                            </span>

                            <span class="dis-block t-center txt8">
                                Seconds
                            </span>
                        </div>
                    </div>

                    <a href="~/Content/assets/#" class="txt4 m-t-40">
                        View Details
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="item-slick2 item2-slick2" style="background-image: url(/Content/assets/images/bg-event-02.jpg);">
    <div class="wrap-content-slide2 p-t-115 p-b-208">
        <div class="container">-->
<!-- - -->
<!--<div class="title-event t-center m-b-52">
    <span class="tit2 p-l-15 p-r-15">
        Upcomming
    </span>

    <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
        Events
    </h3>
</div>-->
<!-- Block2 -->
<!--<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="fadeInDown">-->
<!-- Pic block2 -->
<!--<a href="~/Content/assets/#" class="wrap-pic-blo2 bg2-blo2" style="background-image: url(/Content/assets/images/event-06.jpg);">
    <div class="time-event size10 txt6 effect1">
        <span class="txt-effect1 flex-c-m">
            08:00 PM Tuesday - 21 November 2018
        </span>
    </div>
</a>-->
<!-- Text block2 -->
<!--<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                    <h4 class="tit7 t-center m-b-10">
                        Wines during specific nights
                    </h4>

                    <p class="t-center">
                        Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed fringilla, nunc sed imperdiet lacinia
                    </p>

                    <div class="flex-sa-m flex-w w-full m-t-40">
                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 days">
                                25
                            </span>

                            <span class="dis-block t-center txt8">
                                Days
                            </span>
                        </div>

                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 hours">
                                12
                            </span>

                            <span class="dis-block t-center txt8">
                                Hours
                            </span>
                        </div>

                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 minutes">
                                59
                            </span>

                            <span class="dis-block t-center txt8">
                                Minutes
                            </span>
                        </div>

                        <div class="size11 flex-col-c-m">
                            <span class="dis-block t-center txt7 m-b-2 seconds">
                                56
                            </span>

                            <span class="dis-block t-center txt8">
                                Seconds
                            </span>
                        </div>
                    </div>

                    <a href="~/Content/assets/#" class="txt4 m-t-40">
                        View Details
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="item-slick2 item3-slick2" style="background-image: url(/Content/assets/images/bg-event-04.jpg);">
    <div class="wrap-content-slide2 p-t-115 p-b-208">
        <div class="container">-->
<!-- - -->
<!--<div class="title-event t-center m-b-52">
    <span class="tit2 p-l-15 p-r-15">
        Upcomming
    </span>

    <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
        Events
    </h3>
</div>-->
<!-- Block2 -->
<!--<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="rotateInUpLeft">-->
<!-- Pic block2 -->
<!--<a href="~/Content/assets/#" class="wrap-pic-blo2 bg3-blo2" style="background-image: url(/Content/assets/images/event-01.jpg);">
    <div class="time-event size10 txt6 effect1">
        <span class="txt-effect1 flex-c-m">
            08:00 PM Tuesday - 21 November 2018
        </span>
    </div>
</a>-->
<!-- Text block2 -->
<!--<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                                <h4 class="tit7 t-center m-b-10">
                                    Wines during specific nights
                                </h4>

                                <p class="t-center">
                                    Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed fringilla, nunc sed imperdiet lacinia
                                </p>

                                <div class="flex-sa-m flex-w w-full m-t-40">
                                    <div class="size11 flex-col-c-m">
                                        <span class="dis-block t-center txt7 m-b-2 days">
                                            25
                                        </span>

                                        <span class="dis-block t-center txt8">
                                            Days
                                        </span>
                                    </div>

                                    <div class="size11 flex-col-c-m">
                                        <span class="dis-block t-center txt7 m-b-2 hours">
                                            12
                                        </span>

                                        <span class="dis-block t-center txt8">
                                            Hours
                                        </span>
                                    </div>

                                    <div class="size11 flex-col-c-m">
                                        <span class="dis-block t-center txt7 m-b-2 minutes">
                                            59
                                        </span>

                                        <span class="dis-block t-center txt8">
                                            Minutes
                                        </span>
                                    </div>

                                    <div class="size11 flex-col-c-m">
                                        <span class="dis-block t-center txt7 m-b-2 seconds">
                                            56
                                        </span>

                                        <span class="dis-block t-center txt8">
                                            Seconds
                                        </span>
                                    </div>
                                </div>

                                <a href="~/Content/assets/#" class="txt4 m-t-40">
                                    View Details
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrap-slick2-dots"></div>
    </div>
</section>-->


<section id="lhdb" class="section-booking bg1-pattern">
    <div class="section-child-bg1">
        <div class="container  p-t-100 p-b-110">
            <div class="row">
                <div class="col-lg-12 p-b-30">
                    <div class="t-center">
                        <span class="tit2 t-center">
                            Liên Hệ
                        </span>

                        <h3 class="tit3 t-center m-b-35 m-t-15">
                            Đặt bàn
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <span class="txt9">
                                Số bàn (10 người / bàn) <span class="text-danger">*</span>
                            </span>

                            <div class="wrap-inputpeople size12 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" data-type="numbers" type="text" id="soban" name="tabled" placeholder="10 bàn...">
                                <label style="margin-left: 5px" id="invalid-soban-feedback" class="text-danger" hidden></label>
                            </div>


                            <span class="txt9">
                                Ngày tổ chức <span class="text-danger">*</span>
                            </span>

                            <div class="wrap-inputdate pos-relative txt10 size12 bo-rad-10 m-t-3 m-b-23">
                                <input class="my-calendar bo-rad-10 sizefull txt10 p-l-20" id="ngaytochuc" type="text" name="date">
                                <i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
                                <label style="margin-left: 5px" id="invalid-ngaytochuc-feedback" class="text-danger" hidden></label>
                            </div>

                            <span class="txt9">
                                Giờ tổ chức <span class="text-danger">*</span>
                            </span>

                            <div class="wrap-inputtime size12 bo-rad-10 m-t-3 m-b-23" id="selectThoiGianDatBan">
                                <select class="selection-1" name="time">
                                    <option>07:00</option>
                                    <option>07:30</option>
                                    <option>08:00</option>
                                    <option>08:30</option>
                                    <option>09:00</option>
                                    <option>09:30</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>11:00</option>
                                    <option>11:30</option>
                                    <option>12:00</option>
                                    <option>12:30</option>
                                    <option>13:00</option>
                                    <option>13:30</option>
                                    <option>14:00</option>
                                    <option>14:30</option>
                                    <option>15:00</option>
                                    <option>15:30</option>
                                    <option>16:00</option>
                                    <option>16:30</option>
                                    <option>17:00</option>
                                    <option>17:30</option>
                                    <option>18:00</option>
                                    <option>18:30</option>
                                    <option>19:00</option>
                                    <option>19:30</option>
                                    <option>20:00</option>
                                    <option>20:30</option>
                                    <option>21:00</option>
                                    <option>21:30</option>
                                    <option>22:00</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <span class="txt9">
                                Họ và Tên <span class="text-danger">*</span>
                            </span>

                            <div class="wrap-inputname size12 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="hovaten" name="name" placeholder="Nguyễn Văn A...">
                                <label style="margin-left: 5px" id="invalid-hovaten-feedback" class="text-danger" hidden></label>
                            </div>

                            <span class="txt9">
                                Số điện thoại <span class="text-danger">*</span>
                            </span>

                            <div class="wrap-inputphone size12 bo-rad-10 m-t-3 m-b-23">
                                <input data-type="numbers" class="bo-rad-10 sizefull txt10 p-l-20 border-1" type="text" id="sodienthoai" name="phone" placeholder="Phone">
                                <label style="margin-left: 5px" id="invalid-sodienthoai-feedback" class="text-danger" hidden></label>
                            </div>


                            <span class="txt9">
                                Địa chỉ Email
                            </span>

                            <div class="wrap-inputemail size12 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="email" id="email" name="email" placeholder="emailcuaban@email.com">
                                <label style="margin-left: 5px" id="invalid-email-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="txt9">
                                Ghi chú
                            </span>
                            <textarea class="bo-rad-10 size35 txt10 p-l-20 p-t-15 m-b-10 m-t-2" rows="4" id="ghichu" name="ghichu" placeholder="Ghi chú thêm (nếu có)"></textarea>
                        </div>
                        <div class="col-12 mt-4" style="display: flex; flex-direction: column; align-items: center">
                            <button id="btnSubmitLienHeDatBan" class="btn1 flex-c-m size1 txt3 trans-0-4">GỬI THÔNG TIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Validation/LienHeDatBan/GuiLienHeDatBan.js"></script>

<!-- Review -->
<!--<section class="section-review bg-brown p-t-115">-->
<!-- - -->
<!--<div class="title-review t-center m-b-2">
    <span class="tit2 p-l-15 p-r-15">
        Customers Say
    </span>

    <h3 class="tit8 t-center p-l-20 p-r-15 p-t-3" style="color: white">
        Review
    </h3>
</div>-->
<!-- - -->
<!--<div class="wrap-slick3">
        <div class="slick3">
            <div class="item-slick3 item1-slick3">
                <div class="wrap-content-slide3 p-b-50 p-t-50">
                    <div class="container">
                        <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                            <img src="~/Content/assets/images/avatar-01.jpg" alt="IGM-AVATAR">
                        </div>

                        <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                            <p class="t-center txt12 size15 m-l-r-auto">
                                “ We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, mattis in pre-tium nec, fermentum viverra dui ”
                            </p>

                            <div class="star-review fs-18 color0 flex-c-m m-t-12">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                            </div>

                            <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                                Marie Simmons ˗ New York
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick3 item2-slick3">
                <div class="wrap-content-slide3 p-b-50 p-t-50">
                    <div class="container">
                        <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                            <img src="~/Content/assets/images/avatar-04.jpg" alt="IGM-AVATAR">
                        </div>

                        <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                            <p class="t-center txt12 size15 m-l-r-auto">
                                “ We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, mattis in pre-tium nec, fermentum viverra dui ”
                            </p>

                            <div class="star-review fs-18 color0 flex-c-m m-t-12">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                            </div>

                            <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                                Marie Simmons ˗ New York
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick3 item3-slick3">
                <div class="wrap-content-slide3 p-b-50 p-t-50">
                    <div class="container">
                        <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                            <img src="~/Content/assets/images/avatar-05.jpg" alt="IGM-AVATAR">
                        </div>

                        <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                            <p class="t-center txt12 size15 m-l-r-auto">
                                “ We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, mattis in pre-tium nec, fermentum viverra dui ”
                            </p>

                            <div class="star-review fs-18 color0 flex-c-m m-t-12">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                                <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                            </div>

                            <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                                Marie Simmons ˗ New York
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrap-slick3-dots m-t-30"></div>
    </div>
</section>-->
<!-- Video -->
<!--<section class="section-video parallax100" style="background-image: url(/Content/assets/images/bg-cover-video-02.jpg);">
    <div class="content-video t-center p-t-225 p-b-250">
        <span class="tit2 p-l-15 p-r-15">
            Discover
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Our Video
        </h3>

        <div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
            <div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
                <i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>-->
<!-- Blog -->
<!--<section class="section-blog bg-brown p-t-115 p-b-123">
    <div class="container">
        <div class="title-section-ourmenu t-center m-b-22">
            <span class="tit2 t-center">
                Latest News
            </span>

            <h3 class="tit5 t-center m-t-2" style="color: white">
                The Blog
            </h3>
        </div>

        <div class="row">
            <div class="col-md-4 p-t-30">-->
<!-- Block1 -->
<!--<div class="blo1">
        <div class="wrap-pic-blo1 bo-rad-16 hov-img-zoom pos-relative">
            <a href="~/Content/assets/blog-detail.html"><img src="~/Content/assets/images/blog-01.jpg" alt="IMG-INTRO"></a>

            <div class="time-blog">
                21 Dec 2017
            </div>
        </div>

        <div class="wrap-text-blo1 p-t-35">
            <a href="~/Content/assets/blog-detail.html">
                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                    Best Places for Wine
                </h4>
            </a>

            <p class="m-b-20">
                Phasellus lorem enim, luctus ut velit eget, con-vallis egestas eros.
            </p>

            <a href="~/Content/assets/blog-detail.html" class="txt4">
                Continue Reading
                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<div class="col-md-4 p-t-30">-->
<!-- Block1 -->
<!--<div class="blo1">
        <div class="wrap-pic-blo1 bo-rad-16 hov-img-zoom pos-relative">
            <a href="~/Content/assets/blog-detail.html"><img src="~/Content/assets/images/blog-02.jpg" alt="IMG-INTRO"></a>

            <div class="time-blog">
                15 Dec 2017
            </div>
        </div>

        <div class="wrap-text-blo1 p-t-35">
            <a href="~/Content/assets/blog-detail.html">
                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                    Eggs and Cheese
                </h4>
            </a>

            <p class="m-b-20">
                Duis elementum, risus sit amet lobortis nunc justo condimentum ligula, vitae feugiat
            </p>

            <a href="~/Content/assets/blog-detail.html" class="txt4">
                Continue Reading
                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<div class="col-md-4 p-t-30">-->
<!-- Block1 -->
<!--<div class="blo1">
                    <div class="wrap-pic-blo1 bo-rad-16 hov-img-zoom pos-relative">
                        <a href="~/Content/assets/blog-detail.html"><img src="~/Content/assets/images/blog-03.jpg" alt="IMG-INTRO"></a>

                        <div class="time-blog">
                            12 Dec 2017
                        </div>
                    </div>

                    <div class="wrap-text-blo1 p-t-35">
                        <a href="~/Content/assets/blog-detail.html">
                            <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                Style the Wedding Party
                            </h4>
                        </a>

                        <p class="m-b-20">
                            Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                        </p>

                        <a href="~/Content/assets/blog-detail.html" class="txt4">
                            Continue Reading
                            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>-->
