@model IEnumerable<Beanfamily.Models.SanPhamMuaSam>
@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var dm = Session["categories"] as List<DanhMucSanPhamMuaSamCap1>;
    ViewBag.Title = "shopping";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int i = 0;
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Content/assets/images/bg-title-page-01.jpg);">
    <h2 class="tit6 t-center">
        Mua sắm
    </h2>
</section>

<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-60 p-b-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-3 categories_product">
                <div id="categoried_card" class="card" style="border-top-left-radius: 16px; border-top-right-radius: 16px; border: 0; background: none; ">
                    <div style="border-top: 1px solid rgb(255 255 255); border-left: 1px solid rgb(255 255 255); border-right: 1px solid rgb(255 255 255); border-top-left-radius: 16px; border-top-right-radius: 16px " class="card-header bg-website font-weight-bold text-white text-uppercase"><i class="fa fa-list"> </i> Danh mục</div>
                    <ul style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px" class="list-group category_block">
                        @foreach (var item in dm)
                        {
                            <li class="list-group-item"><a>@item.tendanhmuc</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="row" style="padding: 0 14px 0 14px">
                    <div class="col-sm-12 col-md-12 mb-4 bg-website text-center text-white text-uppercase" style="border: 1px solid rgb(255 255 255); border-radius: 15px; padding: 14.5px;">
                        <h6 style="font-size:18px; font-weight: bold">Sản Phẩm</h6>
                    </div>
                </div>
                <div id="product_list" class="row">
                    @foreach (var item in Model)
                    {
                        i++;
                        if (i % 2 == 0)
                        {

                            <div class="col-md-4 col-sm-6">
                                <div class="product-grid  mb-4">
                                    <div class="product-image">
                                        @if (string.IsNullOrEmpty(item.hinhanh))
                                        {
                                            <img class="pic-1" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                            <img class="pic-2" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                        }
                                        else
                                        {
                                            if (item.hinhanh.IndexOf('#') != -1)
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh.Split('#')[1])" />
                                            }
                                            else
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh)" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh)" />
                                            }
                                        }
                                        <ul class="product-links">
                                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#"><i class="fa fa-solid fa-cart-plus"></i></a></li>
                                            @*<li><a href="#"><i class="fa fa-random"></i></a></li>*@
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#">@item.tensanpham</a></h3>
                                        @if (item.TonKhoSanPham.Count > 1)
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.OrderBy(o => o.gia).First().gia.ToString("0,0")đ
                                                - @item.TonKhoSanPham.OrderByDescending(o => o.gia).First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="product-grid mb-4">
                                    <div class="product-image">
                                        @if (string.IsNullOrEmpty(item.hinhanh))
                                        {
                                            <img class="pic-1" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                            <img class="pic-2" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                        }
                                        else
                                        {
                                            if (item.hinhanh.IndexOf('#') != -1)
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh.Split('#')[1])" />
                                            }
                                            else
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh)" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh)" />
                                            }
                                        }
                                        <span class="product-sale-label">Sale</span>
                                        <ul class="product-links">
                                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#"><i class="fa fa-solid fa-cart-plus"></i></a></li>
                                            @*<li><a href="#"><i class="fa fa-random"></i></a></li>*@
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#">@item.tensanpham</a></h3>
                                        @if (item.TonKhoSanPham.Count > 1)
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.OrderBy(o => o.gia).First().gia.ToString("0,0")đ
                                                - @item.TonKhoSanPham.OrderByDescending(o => o.gia).First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @foreach (var item in Model)
                    {
                        i++;
                        if (i % 2 == 0)
                        {

                            <div class="col-md-4 col-sm-6">
                                <div class="product-grid mb-4">
                                    <div class="product-image">
                                        @if (string.IsNullOrEmpty(item.hinhanh))
                                        {
                                            <img class="pic-1" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                            <img class="pic-2" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                        }
                                        else
                                        {
                                            if (item.hinhanh.IndexOf('#') != -1)
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh.Split('#')[1])" />
                                            }
                                            else
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh)" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh)" />
                                            }
                                        }
                                        <ul class="product-links">
                                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#"><i class="fa fa-solid fa-cart-plus"></i></a></li>
                                            @*<li><a href="#"><i class="fa fa-random"></i></a></li>*@
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#">@item.tensanpham</a></h3>
                                        @if (item.TonKhoSanPham.Count > 1)
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.OrderBy(o => o.gia).First().gia.ToString("0,0")đ
                                                - @item.TonKhoSanPham.OrderByDescending(o => o.gia).First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="product-grid mb-4">
                                    <div class="product-image">
                                        @if (string.IsNullOrEmpty(item.hinhanh))
                                        {
                                            <img class="pic-1" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                            <img class="pic-2" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                        }
                                        else
                                        {
                                            if (item.hinhanh.IndexOf('#') != -1)
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh.Split('#')[1])" />
                                            }
                                            else
                                            {
                                                <img class="pic-1" src="@Url.Content(item.hinhanh)" />
                                                <img class="pic-2" src="@Url.Content(item.hinhanh)" />
                                            }
                                        }
                                        <span class="product-sale-label">Sale</span>
                                        <ul class="product-links">
                                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#"><i class="fa fa-solid fa-cart-plus"></i></a></li>
                                            @*<li><a href="#"><i class="fa fa-random"></i></a></li>*@
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#">@item.tensanpham</a></h3>
                                        @if (item.TonKhoSanPham.Count > 1)
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.OrderBy(o => o.gia).First().gia.ToString("0,0")đ
                                                - @item.TonKhoSanPham.OrderByDescending(o => o.gia).First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price">
                                                @item.TonKhoSanPham.First().gia.ToString("0,0")đ
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
    <script>
        $('body').find('.main_menu').find('a').each(function () {
            var tagA = $(this);
            if (tagA.attr('class') == "active") {
                tagA.attr('class', '');
            }
            if (tagA.text() == "Mua sắm") {
                tagA.addClass('active');
            }
        });

        $('body').find('.category_block').find('li').click(function () {
            var liClick = $(this);
            $('body').find('.category_block').find('li').each(function () {
                $(this).removeClass('active');
            });
            liClick.addClass('active');
        });

        $('body').find('ul li:last-child').css('border-bottom-right-radius', '16px');
        $('body').find('ul li:last-child').css('border-bottom-left-radius', '16px');

        var divWidthCol3 = $('body').find('.categories_product').width();
        
        $window = $(window);
        $window.scroll(function () {
            $scroll_position = $window.scrollTop();
            if ($scroll_position > 480) { // if body is scrolled down by 300 pixels
                if ($scroll_position <= $('body').find('[id="product_list"]').innerHeight()) {
                    $('body').find('[id="categoried_card"]').addClass('sticky');
                    $('body').find('[id="categoried_card"]').css('margin-top', '0px');

                    var divWidthCol3 = $('body').find('.categories_product').width();
                    $('body').find('[id="categoried_card"]').css('width', divWidthCol3 + 'px');
                }
                else {
                    $('body').find('[id="categoried_card"]').removeClass('sticky');
                    $('body').find('[id="categoried_card"]').css('margin-top', Number($('body').find('[id="product_list"]').innerHeight() - 482) + 'px');
                }
            } else {
                $('body').find('[id="categoried_card"]').removeClass('sticky');
            }
        });
    </script>
</section>