@model IEnumerable<Beanfamily.Models.SanPhamThucDonHangNgay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="pagetitle">
    <div class="row">
        <div class="col-7">
            <h1>Menu Hằng Ngày</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item">Menu Hằng Ngày</li>
                    <li class="breadcrumb-item active">Quản Lý Món</li>
                </ol>
            </nav>
        </div>
        <div class="col-5 text-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ThemMonAnModal">Thêm mới</button>
        </div>
    </div>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Danh sách món menu hằng ngày</h5>

                    <!-- Table with stripped rows -->
                    <table id="lstMonAnMenuHangNgayTable" class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Mã</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">Tên món</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Lượt xem</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">#</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">SP@(item.id.ToString("D6"))</th>
                                    <td>@item.DanhMucThucDocHangNgayCap1.tendanhmuc</td>
                                    <td>@item.tensanpham</td>
                                    <td>@item.mota</td>
                                    <td>@item.gia.ToString("0,0")</td>
                                    <td>@item.luotxem.ToString("0,0") Lượt</td>
                                    <td>
                                        @if (item.hienthi == true)
                                        {
                                            <span class="badge bg-success"><i class="bi bi-eye-fill me-1"></i> Hiển thị</span> }
                                        else
                                        {
                                            <span class="badge bg-danger"><i class="bi bi-eye-slash-fill me-1"></i> Đã ẩn</span>
                                        }
                                    </td>
                                    <td><button id="btnXemHinhAnhItem@(item.id)" name="@item.id" class="btn btn-sm btn-primary">Xem hình ảnh</button></td>
                                    <td>
                                        <button id="btnsuasp@(item.id)" name="@item.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật danh mục"><i class="bi bi-pencil-square"></i></button>
                                        @if (item.ChiTietDonHangMuaSamVaMenuHangNgay.Count < 1)
                                        {
                                            <button id="btnxoasp@(item.id)" name="@item.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa danh mục"><i class="bi bi-trash"></i></button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Thêm danh mục -->
<div class="modal fade" id="ThemMonAnModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm danh mục mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-1"></div>
                    <div class="col-sm-12 col-lg-10">
                        <div class="row mb-3">
                            <label for="tendanhmuc" class="col-md-12 col-lg-3 col-form-label">Tên danh mục <span class="text-danger">*</span></label>
                            <div class="col-md-12 col-lg-9">
                                <input id="tendanhmuc" type="text" placeholder="Tên danh mục cấp 1" class="form-control">
                                <label style="margin-left: 5px" id="invalid-tendanhmuc-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="sothutu" class="col-md-12 col-lg-3 col-form-label">Số thứ tự</label>
                            <div class="col-md-12 col-lg-9">
                                <input id="sothutu" type="text" placeholder="Số thứ tự" class="form-control">
                                <label style="margin-left: 5px" id="invalid-sothutu-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="sothutu" class="col-md-12 col-lg-3 col-form-label">Hiển thị</label>
                            <div class="col-md-12 col-lg-9">
                                <div class="form-check form-switch form-control">
                                    <input checked class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="hienthi">
                                    <label class="form-check-label" style="margin-left: 0.8em" for="hienthi"> Hiển thị sau khi tạo</label>
                                </div>
                                <label style="margin-left: 5px" id="invalid-hienthi-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-1"></div>
                </div>
            </div>

            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="btnluuthemDmtdhn" type="button" class="btn btn-primary">Lưu thông tin</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#lstMonAnMenuHangNgayTable').DataTable();
    });
</script>

