@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    List<string> giohang = Session["giohang-muasam"] as List<string>;
    Layout = null;
}

<div id="cart-content-load" class="col-lg-12">
    @if (giohang == null)
    {
        <h3 style="text-align: center">Chưa có sản phẩm nào trong giỏ hàng</h3>
    }
    else
    {
        foreach (var item in giohang)
        {
            int idPro = Int32.Parse(item.Split('#')[0]);
            int idLoaiPro = Int32.Parse(item.Split('#')[1]);
            int soluong = Int32.Parse(item.Split('#')[2]);

            var pro = models.SanPhamMuaSam.Find(idPro);

            <div class="card mb-3 bo-rad-16 bggreen text-white">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div>
                                @if (string.IsNullOrEmpty(pro.hinhanh))
                                {

                                    <img src="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")"
                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                }
                                else
                                {
                                    <img src="@Url.Content(pro.hinhanh.Split('#')[0])"
                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                }
                            </div>
                            <div class="ms-3">
                                <h5>@pro.tensanpham</h5>
                                <p class="small mb-0">@(pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) == null ? "Chọn phân loại hàng" : pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).tenloai + ", " + pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).gia.ToString("0,0") + "đ")</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <div style="width: 230px;">
                                <div class="input-group" style="width: 170px;">
                                    <button class="text-white btn btn-white border border-secondary px-3" type="button" id="giamsoluonggiohang-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" data-mdb-ripple-color="dark">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input value="@soluong" id="soluonggiohang-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" data-type='numbers' type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Số lượng sản phẩm" aria-describedby="button-addon1" />
                                    <button class="text-white btn btn-white border border-secondary px-3" type="button" id="tangsoluonggiohang-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" data-mdb-ripple-color="dark">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div style="width: 120px;">
                                <h5 id="giasanpham-@idPro-@idLoaiPro" dongia="@((pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) == null ? "CHONPHANLOAI" : (pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).gia).ToString("0")))"
                                    class="mb-0">
                                    @((pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) == null ? "Chọn phân loại hàng" : (pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).gia * soluong).ToString("0,0") + "đ"))
                                </h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
