@using Beanfamily.Models;
@{ 
    BeanfamilyEntities model = new BeanfamilyEntities();
    //Nút thông báo nhỏ trên menu
    Session["new-dondathang"] = model.TinhTrangDonHangVuonRauMuaSamVaMenuHangNgay.Where(w => !w.tieude.Equals("Đã hủy") && !w.tieude.Equals("Không thành công") && !w.tieude.Equals("Hoàn thành")).Count();

    var donhangTB = model.DonHangMenuTiecBan.ToList();
    int numTB = donhangTB.Count;
    foreach (var item in donhangTB.Where(w => w.TinhTrangDonHangMenuTiecBan.Where(ws => ws.tieude == "Hoàn thành").Count() > 0).ToList())
    {
        if (item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien)
            >= (item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban)
            + item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban)
            + item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia)))
        {
            numTB--;
        }
    }
    Session["new-dondatbantiec"] = numTB;

    var donhangBF = model.DonHangMenuBuffet.ToList();
    int numBF = donhangBF.Count;
    foreach (var item in donhangBF.Where(w => w.TinhTrangDonHangMenuBuffet.Where(ws => ws.tieude == "Hoàn thành").Count() > 0).ToList())
    {
        if (item.LichSuThanhToanDonHangTongHop.Count() > 0)
        {
            numBF--;
        }
    }
    Session["new-dondatbanbuffet"] = numBF;

    var lhdbTB = model.LienHeDatBan.ToList();
    int numlhdbTB = lhdbTB.Where(w => w.id_donhangmenubuffet == null && w.id_donhangmenutiecban == null && !w.trangthai.Equals("cancel")).Count();

    Session["new-lienhedatban"] = numlhdbTB;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Beanfamily.vn nhà hàng chay ngon bình dương, vườn rau nhà trồng đảm bảo an toàn sức khỏe, cửa hàng tiện lợi.">
    <meta name="robots" content="noindex" />
    <meta name="keywords" content="beanfamily, beanfamily.vn, nhà hàng chay bình dương, nhà hàng chay, rau, vườn rau, bean, family">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 3px SlateGray;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: SlateGray;
            border-radius: 10px;
        }
    </style>

    <!-- Favicons -->
    <link href="~/Content/assets/images/logo/logo-2745.png" rel="icon">
    <link href="~/Content/AdminAreas/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/AdminAreas/assets/vendor/bootstrap/css/bootstrap.min.css?v=22062025.1" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/bootstrap-icons/bootstrap-icons.css?v=22062025.1" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/boxicons/css/boxicons.min.css?v=22062025.1" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/quill/quill.snow.css?v=22062025.1" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/quill/quill.bubble.css?v=22062025.1" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/remixicon/remixicon.css?v=22062025.1" rel="stylesheet">
    <link href="~/Content/AdminAreas/assets/vendor/DataTables/css/jquery.dataTables.css?v=22062025.1" rel="stylesheet" />
    <link href="~/Content/assets/vendor/Quill/quill.snow.css?v=22062025.1" rel="stylesheet" />
    <link href="~/Content/assets/vendor/Quill/atom-one-dark.min.css?v=22062025.1" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/Content/AdminAreas/assets/css/style.css?v=22062025.1" rel="stylesheet">
    <link href="~/Scripts/SweetAlert/sweetalert2.min.css?v=22062025.1" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js?v=22062025.1"></script>


</head>
<body>
    <div hidden id="load-fill-page" style="background: #ffffff00; width: 120vw; height: 120vh; position: fixed; top: -10vw; z-index: 999999; overflow: hidden; cursor: progress"></div>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("index", "dashboard")" class="logo d-flex align-items-center">
                <img src="~/Content/assets/images/logo/logo-2745.png" alt="">
                <span class="d-none d-lg-block">Bean Family</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <!--<div class="search-bar">
            <div class="search-form d-flex align-items-center">
                <input type="text" name="searchOnPage" placeholder="Tìm kiếm trên trang" title="Nhập từ khóa tìm kiếm">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </div>
        </div>-->
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                @*<li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>*@<!-- End Search Icon-->
                <!--<li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a>-->
                <!-- End Notification Icon -->
                <!--<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4 thông báo mới
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Xem tất cả</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul>-->
                <!-- End Notification Dropdown Items -->
                <!--</li>--><!-- End Notification Nav -->
                <!--<li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a>-->
                <!-- End Messages Icon -->
                <!--<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        3 tin nhắn mới
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/Content/AdminAreas/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/Content/AdminAreas/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="~/Content/AdminAreas/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul>-->
                <!-- End Messages Dropdown Items -->
                <!--</li>--><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        @if (string.IsNullOrEmpty(Session["user-avatar"].ToString()))
                        {
                            <img src="~/Content/AdminAreas/assets/img/profile-img.png" alt="Profile" class="rounded-circle">
                        }
                        else
                        {
                            <img src="@Url.Content(Session["user-avatar"].ToString())" alt="Profile" class="rounded-circle">
                        }
                        <span class="d-none d-md-block dropdown-toggle ps-2">@Session["user-fullname"].ToString()</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@Session["user-fullname"].ToString()</h6>
                            <span>@Session["user-chucdanh"].ToString()</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("index", "accountprofile")">
                                <i class="bi bi-person"></i>
                                <span>Thông tin cá nhân</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("logout", "dangnhap")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng Xuất</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header>

    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link @Session["active-dashboard"].ToString().Split('#')[0]" href="@Url.Action("index", "dashboard")">
                    <i class="bi bi-grid"></i>
                    <span>Bảng Điều Khiển</span>
                </a>
            </li>

            @if (Session["ddh"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-ddh"].ToString().Split('#')[0]" href="@Url.Action("index", "dondathang")">
                        <i class="bi bi-box-seam"></i>
                        <span>Đơn Đặt Hàng</span>
                        <span style="position: absolute; right: 33px; background: #dc3545; width: 20px; height: 20px; display: flex; text-align: center; align-items: center; justify-content: center; flex-direction: row; font-size: 11px; border-radius: 50%; color: #fff; margin-left: 5px; ">
                            @Session["new-dondathang"].ToString()
                        </span>
                    </a>
                </li>
            }

            @if (Session["ddbt"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-ddbt"].ToString().Split('#')[0]" href="@Url.Action("index", "dondatbantiec")">
                        <i class="bi bi-receipt-cutoff"></i>
                        <span>Đơn Đặt Bàn Tiệc</span>
                        <span style="position: absolute; right: 33px; background: #dc3545; width: 20px; height: 20px; display: flex; text-align: center; align-items: center; justify-content: center; flex-direction: row; font-size: 11px; border-radius: 50%; color: #fff; margin-left: 5px; ">
                            @Session["new-dondatbantiec"].ToString()
                        </span>
                    </a>
                </li>
            }

            @if (Session["ddbb"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-ddbb"].ToString().Split('#')[0]" href="@Url.Action("index", "dondatbanbuffet")">
                        <i class="bi bi-receipt-cutoff"></i>
                        <span>Đơn Đặt Bàn Buffet</span>
                        <span style="position: absolute; right: 33px; background: #dc3545; width: 20px; height: 20px; display: flex; text-align: center; align-items: center; justify-content: center; flex-direction: row; font-size: 11px; border-radius: 50%; color: #fff; margin-left: 5px; ">
                            @Session["new-dondatbanbuffet"].ToString()
                        </span>
                    </a>
                </li>
            }
            @if (Session["lhdb"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-lhdb"].ToString().Split('#')[0]" href="@Url.Action("index", "lienhedatban")">
                        <i class="bi bi-journal-text"></i>
                        <span>Liên Hệ Đặt Bàn</span>
                        <span style="position: absolute; right: 33px; background: #dc3545; width: 20px; height: 20px; display: flex; text-align: center; align-items: center; justify-content: center; flex-direction: row; font-size: 11px; border-radius: 50%; color: #fff; margin-left: 5px; ">
                            @Session["new-lienhedatban"].ToString()
                        </span>
                    </a>
                </li>
            }
            <hr />
            @if (Session["dmpv"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-dmpv"].ToString().Split('#')[0]" href="@Url.Action("index", "danhmucphucvu")">
                        <i class="bi bi-card-list"></i>
                        <span>Danh Mục Phục Vụ</span>
                    </a>
                </li>
            }

            @if (Session["mtb-dmc1"] != null || Session["mtb-qlm"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-mtb-dmc1"].ToString().Split('#')[0]" data-bs-target="#tiecban-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-card-checklist"></i><span>Menu Tiệc Bàn</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tiecban-nav" class="nav-content collapse @Session["active-mtb-dmc1"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">
                        @if (Session["mtb-dmc1"] != null)
                        {
                            <li>

                                <a href="@Url.Action("index", "dmcap1menutiecban")" class="@Session["active-mtb-dmc1"].ToString().Split('#')[2]">

                                    <i class="bi bi-circle"></i><span>Danh Mục Cấp 1</span>
                                </a>
                            </li>
                        }
                        @if (Session["mtb-qlm"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "monanmenutiecban")" class="@Session["active-mtb-qlm"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Quản Lý Món</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (Session["mb-dmc1"] != null || Session["mb-qlm"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-mb-dmc1"].ToString().Split('#')[0]" data-bs-target="#buffet-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-card-checklist"></i><span>Menu Buffet</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="buffet-nav" class="nav-content collapse @Session["active-mb-dmc1"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">

                        @if (Session["mb-dmc1"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "dmcap1menubuffet")" class="@Session["active-mb-dmc1"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Danh Mục Cấp 1</span>
                                </a>
                            </li>
                        }
                        @if (Session["mb-qlm"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "monanmenubuffet")" class="@Session["active-mb-qlm"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Quản Lý Món</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            @if (Session["mhn-dmc1"] != null || Session["mhn-qlm"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-mhn-dmc1"].ToString().Split('#')[0]" data-bs-target="#hangngay-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-card-checklist"></i><span>Menu Hằng Ngày</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="hangngay-nav" class="nav-content collapse @Session["active-mhn-dmc1"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">
                        @if (Session["mhn-dmc1"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "dmcap1menuhangngay")" class="@Session["active-mhn-dmc1"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Danh Mục Cấp 1</span>
                                </a>
                            </li>
                        }
                        @if (Session["mhn-qlm"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "monanmenuhangngay")" class="@Session["active-mhn-qlm"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Quản Lý Món</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (Session["vrb-dmc1"] != null || Session["vrb-spr"] != null || Session["vrb-qltc"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-vrb-dmc1"].ToString().Split('#')[0]" data-bs-target="#vuonrau-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-flower1"></i><span>Vườn Rau Bean</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="vuonrau-nav" class="nav-content collapse @Session["active-vrb-dmc1"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">

                        @if (Session["vrb-dmc1"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "dmcap1vuonraubean")" class="@Session["active-vrb-dmc1"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Danh Mục Cấp 1</span>
                                </a>
                            </li>
                        }
                        @if (Session["vrb-spr"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "sanphamvuonraubean")" class="@Session["active-vrb-spr"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Sản Phẩm Rau</span>
                                </a>
                            </li>
                        }
                        @if (Session["vrb-qltc"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "quytrinhtrongcay")" class="@Session["active-vrb-qltc"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Quy Trình Trồng</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (Session["chtl-dmc1"] != null || Session["chtl-sp"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-chtl-dmc1"].ToString().Split('#')[0]" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-basket"></i><span>Cửa Hàng Tiện Lợi</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse @Session["active-chtl-dmc1"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">
                        @if (Session["chtl-dmc1"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "dmcap1muasam")" class="@Session["active-chtl-dmc1"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Danh Mục Cấp 1</span>
                                </a>
                            </li>
                        }
                        @if (Session["chtl-sp"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "sanphammuasam")" class="@Session["active-chtl-sp"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (Session["spnb"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-spnb"].ToString().Split('#')[0]" href="@Url.Action("index", "sanphamnoibat")">
                        <i class="bi bi-bookmark-star"></i>
                        <span>Sản Phẩm Nỗi Bật</span>
                    </a>
                </li>
            }

            @if (Session["tkb-pq"] != null || Session["tkb-tk"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-tkb-pq"].ToString().Split('#')[0]" data-bs-target="#taikhoan-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-person-badge"></i><span>Tài Khoản Bean</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="taikhoan-nav" class="nav-content collapse @Session["active-tkb-pq"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">
                        @if (Session["tkb-pq"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "role")" class="@Session["active-tkb-pq"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Phân Quyền</span>
                                </a>
                            </li>
                        }
                        @if (Session["tkb-tk"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "accountbean")" class="@Session["active-tkb-tk"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Tài Khoản</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }


            @if (Session["hab"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-hab"].ToString().Split('#')[0]" href="@Url.Action("index", "hinhanhbean")">
                        <i class="bi bi-images"></i>
                        <span>Hình Ảnh Bean</span>
                    </a>
                </li>
            }

            @if (Session["qlsp"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-qlsp"].ToString().Split('#')[0]" href="@Url.Action("index", "seopageconfig")">
                        <i class="bi bi-graph-up-arrow"></i>
                        <span>Quản Lý SEO Page</span>
                    </a>
                </li>
            }

            @if (Session["tlc-ttw"] != null || Session["tlc-lkmxh"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-tlc-ttw"].ToString().Split('#')[0]" data-bs-target="#thongtinchung-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-gear"></i><span>Thiết Lập Chung</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="thongtinchung-nav" class="nav-content collapse @Session["active-tlc-ttw"].ToString().Split('#')[1]" data-bs-parent="#sidebar-nav">
                        @if (Session["tlc-ttw"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "cauhinhweb")" class="@Session["active-tlc-ttw"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Cấu Hình Web</span>
                                </a>
                            </li>
                        }
                        @if (Session["tlc-lkmxh"] != null)
                        {
                            <li>
                                <a href="@Url.Action("index", "thongtinweb")" class="@Session["active-tlc-lkmxh"].ToString().Split('#')[2]">
                                    <i class="bi bi-circle"></i><span>Thông Tin Web</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }


            @if (Session["ndt"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-ndt"].ToString().Split('#')[0]" href="@Url.Action("index", "noidungtinh")">
                        <i class="bi bi-view-stacked"></i>
                        <span>Nội Dung Trang Tĩnh</span>
                    </a>
                </li>
            }
            @if (Session["cs"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link @Session["active-cs"].ToString().Split('#')[0]" href="@Url.Action("index", "chinhsach")">
                        <i class="bi bi-file-earmark-lock"></i>
                        <span>Chính Sách</span>
                    </a>
                </li>
            }
        </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
        @RenderBody()
        @RenderSection("scripts", required: false)
        <input hidden id="requestPath" value="@Url.Content("~")" />
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            Copyright &copy; @DateTime.Now.Year <strong><span>Beanfamily.vn</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a target="_blank" href="https://aendy.net/">Aendy.Net</a> | Tel: <a href="tel::0367909248">0367 909 248</a> | Mail: <a href="mailto::info@aendy.net">Info@aendy.net</a>
        </div>
        <div class="credits">

        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/AdminAreas/assets/vendor/apexcharts/apexcharts.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/apexcharts/apexcharts.min.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/bootstrap/js/bootstrap.bundle.min.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/chart.js/chart.umd.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/echarts/echarts.min.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/quill/quill.min.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/DataTables/js/jquery.dataTables.min.js?v=22062025.1"></script>
    <script src="~/Content/AdminAreas/assets/vendor/tinymce/tinymce.min.js?v=22062025.1"></script>
    <script src="~/Content/assets/vendor/Quill/highlight.min.js?v=22062025.1"></script>
    <script src="~/Content/assets/vendor/Quill/quill.js?v=22062025.1"></script>


    <!-- Template Main JS File -->
    <script src="~/Content/AdminAreas/assets/js/main.js?v=22062025.1"></script>
    <script src="~/Scripts/SweetAlert/sweetalert2.min.js?v=22062025.1"></script>
    <script>
        $(document).ready(function () {
            $(document).on("ajaxStart", function () {
                $('body').find('[id="load-fill-page"]').prop('hidden', false);
            });
            $(document).on("ajaxStop", function () {
                $('body').find('[id="load-fill-page"]').prop('hidden', true);
            });
        })
    </script>

</body>
</html>


