@model IEnumerable<Beanfamily.Models.SanPhamMuaSam>
@{
    Layout = null;
    int i = 1;
}

<div id="XemDanhSachSanPhamModalPartial" class="modal-body">
    <ul class="list-group">

        @foreach (var item in Model)
        {
            i++;
            if (i % 2 == 0)
            {
                <li class="list-group-item list-group-item-primary">
                    <div class="row" style="display: flex; align-items: center;">
                        @if (!string.IsNullOrEmpty(item.hinhanh))
                        {
                            <div class="col-sm-1 col-12">
                                <div style="height: 50px; width: 50px; text-align: center">
                                    <img style="margin-left: -10px; height: 50px; width: 50px; object-fit: cover; border-radius: 50% " src="@Url.Content(item.hinhanh)" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-12">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-4 col-12">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-5 col-12">
                                @foreach (var items in item.TonKhoSanPhamMuaSam.ToList())
                                {
                                    <label>
                                        Loại @items.tenloai: kho còn @items.soluong, giá @(items.gia.ToString("0,0"))đ
                                    </label>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-3 col-12">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-4 col-12">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-5 col-12">
                                @foreach (var items in item.TonKhoSanPhamMuaSam.ToList())
                                {
                                    <label>
                                        Loại @items.tenloai: kho còn @items.soluong, giá @(items.gia.ToString("0,0"))đ
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <div class="row" style="display: flex; align-items: center;">
                        @if (!string.IsNullOrEmpty(item.hinhanh))
                        {
                            <div class="col-sm-1 col-12">
                                <div style="height: 50px; width: 50px; text-align: center">
                                    <img style="margin-left: -10px; height: 50px; width: 50px; object-fit: cover; border-radius: 50% " src="@Url.Content(item.hinhanh)" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-12">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-4 col-12">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-5 col-12">
                                @foreach (var items in item.TonKhoSanPhamMuaSam.ToList())
                                {
                                    <label>
                                        Loại @items.tenloai: kho còn @items.soluong, giá @(items.gia.ToString("0,0"))đ
                                    </label>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-3 col-12">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-4 col-12">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-5 col-12">
                                @foreach (var items in item.TonKhoSanPhamMuaSam.ToList())
                                {
                                    <label>
                                        Loại @items.tenloai: kho còn @items.soluong, giá @(items.gia.ToString("0,0"))đ
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </li>
            }
        }
    </ul>
</div>
