@model Beanfamily.Models.TaiKhoanBean

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Thông tin cá nhân</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng điều khiển</a></li>
            <li class="breadcrumb-item">Tài khoản</li>
            <li class="breadcrumb-item active">Thông tin cá nhân</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    @if (string.IsNullOrEmpty(Model.hinhdaidien))
                    {
                        <img src="~/Content/AdminAreas/assets/img/profile-img.png" alt="Profile" class="rounded-circle">
                    }
                    else
                    {
                        <img src="@Url.Content(Model.hinhdaidien)" alt="Profile" class="rounded-circle">
                    }
                    <h2>@Model.hovaten</h2>
                    <h3>@Model.chucdanh</h3>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng quan</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Cập nhật thông tin</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Đổi mật khẩu</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title"></h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Tên đăng nhập</div>
                                <div class="col-lg-9 col-md-8">@Model.username</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Họ & Tên</div>
                                <div class="col-lg-9 col-md-8">@Model.hovaten</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Phân quyền</div>
                                <div class="col-lg-9 col-md-8">@Model.QuyenTaiKhoanBean.name</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Địa chỉ Email</div>
                                <div class="col-lg-9 col-md-8">@Model.email</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Chức danh</div>
                                <div class="col-lg-9 col-md-8">@Model.chucdanh</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                <div class="col-lg-9 col-md-8">@Model.sodienthoai</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ngày sinh</div>
                                <div class="col-lg-9 col-md-8">@Model.ngaysinh</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Giới tính</div>
                                <div class="col-lg-9 col-md-8">@Model.gioitinh</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Địa chỉ nhà</div>
                                <div class="col-lg-9 col-md-8">@Model.diachi</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ngày tham gia</div>
                                <div class="col-lg-9 col-md-8">Ngày @Model.ngaythamgia.ToString("dd") Tháng @Model.ngaythamgia.ToString("MM, yyyy") </div>
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <div class="row mb-3">
                                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"></label>
                                <div class="col-md-8 col-lg-9 text-center profile-edit">

                                    @if (string.IsNullOrEmpty(Model.hinhdaidien))
                                    {
                                        <img src="~/Content/AdminAreas/assets/img/profile-img.png" id="previewImage" alt="Profile" class="rounded-circle">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(Model.hinhdaidien)" alt="Profile" id="previewImage" class="rounded-circle">
                                    }
                                    <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                                    <div class="pt-2">
                                        <a id="themhinhdaidien" role="button" class="btn btn-primary btn-sm" title="Tải lên hình đại diện"><i class="bi bi-upload"></i></a>
                                        <a id="xoahinhdaidien" role="button" class="btn btn-danger btn-sm" title="Xóa hình đại diện"><i class="bi bi-trash"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="tendangnhap" class="col-md-4 col-lg-3 col-form-label">Tên đăng nhập <span class="text-danger">*</span></label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="tendangnhap" type="text" class="form-control" id="tendangnhap" value="@Model.username">
                                    <div id="invalid-tendangnhap-feedback" class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="hovaten" class="col-md-4 col-lg-3 col-form-label">Họ và Tên <span class="text-danger">*</span></label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="hovaten" type="text" class="form-control" id="hovaten" value="@Model.hovaten">
                                    <div id="invalid-hovaten-feedback" class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="email" class="col-md-4 col-lg-3 col-form-label">Địa chỉ Email <span class="text-danger">*</span></label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="email" type="email" class="form-control" id="email" value="@Model.email">
                                    <div id="invalid-email-feedback" class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="sodienthoai" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="sodienthoai" type="text" data-type='numbers' class="form-control" id="sodienthoai" value="@Model.sodienthoai">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="ngaysinh" class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="ngaysinh" type="date" class="form-control" id="ngaysinh" value="@Model.ngaysinh">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="gioitinh" class="col-md-4 col-lg-3 col-form-label">Giới tính</label>
                                <div class="col-md-8 col-lg-9">
                                    <select name="gioitinh" id="gioitinh" class="form-select">
                                        @if (string.IsNullOrEmpty(Model.gioitinh))
                                        {
                                            <option value="" selected>Chọn giới tính</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        }
                                        else if (Model.gioitinh.Equals("Nam"))
                                        {
                                            <option value="">Chọn giới tính</option>
                                            <option value="Nam" selected>Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        }
                                        else
                                        {
                                            <option value="">Chọn giới tính</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ" selected>Nữ</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="diachi" class="col-md-4 col-lg-3 col-form-label">Địa chỉ nhà</label>
                                <div class="col-md-8 col-lg-9">
                                    <textarea id="diachi" rows="4" name="diachi" class="form-control">@Model.diachi</textarea>
                                </div>
                            </div>


                            <div class="text-end mt-2 mb-2">
                                <button id="btnluuchinhsua" class="btn btn-primary">Lưu thông tin</button>
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <div>

                                <div class="row mb-3">
                                    <label for="matkhauhientai" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại <span class="text-danger">*</span></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="matkhauhientai" type="password" class="form-control" id="matkhauhientai">
                                        <div id="invalid-matkhauhientai-feedback" class="invalid-feedback"></div>

                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="matkhaumoi" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới <span class="text-danger">*</span></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="matkhaumoi" type="password" class="form-control" id="matkhaumoi">
                                        <div id="invalid-matkhaumoi-feedback" class="invalid-feedback"></div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="nhaplaimatkhaumoi" class="col-md-4 col-lg-3 col-form-label">Nhập lại MK mới <span class="text-danger">*</span></label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="nhaplaimatkhaumoi" type="password" class="form-control" id="nhaplaimatkhaumoi">
                                        <div id="invalid-nhaplaimatkhaumoi-feedback" class="invalid-feedback"></div>
                                    </div>
                                </div>

                                <div class="text-end mt-2 mb-2">
                                    <button id="btndoimatkhau" class="btn btn-primary">Lưu thông tin</button>
                                </div>
                            </div><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
<script src="~/Content/AdminAreas/assets/js/reviewImage.js?v=1.0"></script>
<script src="~/Validation/Profile/UpdateInformation.js?v=1.0"></script>
