@model IEnumerable<Beanfamily.Models.SanPhamMenuBuffet>
@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var Dmpv = models.DanhMucPhucVuMenuTiecBanVaMenuBuffet.ToList();

    var tk = Session["user-data"] as TaiKhoanKhachHang;
}

<style>
    .ttmondadattiecbanleft {
        padding-right: 10px !important;
    }

    .ttmondadattiecbanright {
        padding-left: 10px !important;
    }
</style>

<div id="contentDatBan" class="col-lg-12">
    <div class="row">
        <div class="ttmondadattiecbanleft col-md-6 col-12 mb-4">
            <div style="border: 2px solid #ffc678; border-radius: 16px; padding: 0; height: 100%; width: 100%">
                <h5 class="text-center mb-3 text-white" style="background: #5e443b !important; border-radius: 16px 16px 0 0; height: 40px; display: flex; flex-direction: column; justify-content: center; ">Thông Tin Món Đã Đặt</h5>
                <div class="row p-l-15 p-r-15 mb-3">
                    @foreach (var item in Model)
                    {
                        <div class="col-12">
                            <ul style=" list-style-position: outside !important;" class=" ms-1">
                                @if (!string.IsNullOrEmpty(item.hinhanh))
                                {
                                    <li class="mt-1" style="list-style-type: none !important;">
                                        <div style=" display: flex; flex-direction: row; justify-content: left; align-items: center;">
                                            <div>
                                                <div style="margin-right: 10px; height: 40px; width: 40px; float: left">
                                                    <img style="float: left; height: 40px; width: 40px;object-fit: cover; border-radius: 50% " src="@Url.Content(item.hinhanh)">
                                                </div>
                                            </div>
                                            <div>
                                                <label>@item.tensanpham</label>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="mt-3" style="list-style-type: none !important;">
                                        <div style=" display: flex; flex-direction: row; justify-content: left; align-items: center;">
                                            <div>
                                                <label>@item.tensanpham</label>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="ttmondadattiecbanright col-md-6 col-12  mb-4">
            <div style="border: 2px solid #ffc678; border-radius: 16px; padding: 0; height: 100%; width: 100%">
                <h5 class="text-center mb-3 text-white" style="background: #5e443b !important; border-radius: 16px 16px 0 0; height: 40px; display: flex; flex-direction: column; justify-content: center; ">Thông Tin Dịch Vụ & Chi Phí</h5>
                <div class="row p-l-15 p-r-15">
                    <div class="col-12">
                        <div class="row p-0 mb-2" style="display: flex; flex-direction: row; align-items: center">
                            <div class="col-md-4">
                                <h6 style="font-weight: normal; color: #333333;" class="mb-3">Dịch vụ kèm:</h6>
                            </div>
                            <div class="col-md-8">
                                <ul style=" list-style-position: outside !important;">
                                    @foreach (var item in Dmpv)
                                    {
                                        <li style="list-style-type: none !important;" class="ms-1">
                                            <div class="row" style="white-space: nowrap; display: flex; flex-direction: row; align-items: center">
                                                <div class="col-1">
                                                    <div style="display: unset;">
                                                        <input name="@item.id" id="item-dichvu-@item.id" type="checkbox" style="height: 20px; width: 20px; margin-left: -5px; margin-top: 10px; accent-color: #12634c " />
                                                    </div>
                                                </div>
                                                <div class="col-11 p-0">
                                                    <div style="height:20px">
                                                        <label style="display: unset; margin-left: 10px; white-space: normal; word-break: break-word; cursor: pointer;" id="label-dichvu-@item.id" for="item-dichvu-@item.id">
                                                            @item.tendanhmuc
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>



                    </div>
                    <div class="col-12">
                        <div class="row p-0 mb-2" style="display: flex; flex-direction: row; align-items: center">
                            <div class="col-md-4">
                                <h6 style="font-weight: normal; color: #333333;" class="mb-3">Số lượng bàn:<br /><small>(10 người / 1 bàn)</small></h6>
                            </div>
                            <div class="col-md-8">
                                <input style="height: 50px;border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20" data-type="numbers" type="text" id="soban" name="tabled" placeholder="Số bàn đặt (10 người / 1 bàn)">
                                <label style="margin-left: 5px" id="invalid-soban-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row p-0" style="display: flex; flex-direction: row; align-items: center">
                            <div class="col-md-4">
                                <h6 style="font-weight: normal; color: #333333;" class="mb-3">Ghi chú:</h6>
                            </div>
                            <div class="col-md-8">
                                <textarea style="background: #122E26; color: #fff !important; height: 80px !important; width: 100%" class="bo-rad-10 txt10 p-l-20 p-t-15 m-b-10 m-t-3" rows="2" id="ghichu" name="ghichu" placeholder="Ghi chú thêm (nếu có)"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h6 id="tamtinhtong" style="font-weight: bold; color: #333333;" class="mb-3">Tổng chi phí:</h6>
                    </div>
                    <div class="col-md-8">
                        <h6 style="font-weight: bold; color: #C49A6C;" class="t-center mb-3 float-start">SẼ ĐƯỢC BÁO SAU KHI ĐẶT BÀN</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="row" style="border: 2px solid #ffc678; border-radius: 16px; padding: 0; margin:0">
        <h5 class="text-center mb-3 text-white" style="background: #5e443b !important; border-radius: 16px 16px 0 0; height: 40px; display: flex; flex-direction: column; justify-content: center; ">Thông Tin Đặt Bàn</h5>
        @if (tk == null)
        {
            <div class="row p-r-0 p-l-15">
                <div class="col-12 p-r-5">
                    <span class="txt9" style="color: #333 !important">
                        Họ và Tên <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputname size12 bo-rad-10 m-t-3 m-b-23">
                        <input style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="hovaten" name="name" placeholder="Nguyễn Văn A...">
                        <label style="margin-left: 5px" id="invalid-hovaten-feedback" class="text-danger" hidden></label>
                    </div>

                </div>
                <div class="col-md-6 p-r-5">

                    <span class="txt9" style="color: #333 !important">
                        Số điện thoại <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputphone size12 bo-rad-10 m-t-3 m-b-23">
                        <input data-type="numbers" style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20 border-1" type="text" id="sodienthoai" name="phone" placeholder="Số điện thoại">
                        <label style="margin-left: 5px" id="invalid-sodienthoai-feedback" class="text-danger" hidden></label>
                    </div>

                    <span class="txt9" style="color: #333 !important">
                        Ngày tổ chức <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputdate pos-relative txt10 size12 bo-rad-10 m-t-3 m-b-23">
                        <input style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="my-calendar bo-rad-10 sizefull txt10 p-l-20" id="ngaytochuc" type="text" name="date">
                        <i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
                        <label style="margin-left: 5px" id="invalid-ngaytochuc-feedback" class="text-danger" hidden></label>
                    </div>

                </div>

                <div class="col-md-6 p-r-5">

                    <span class="txt9" style="color: #333 !important">
                        Địa chỉ Email
                    </span>

                    <div class="wrap-inputemail size12 bo-rad-10 m-t-3 m-b-23">
                        <input style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="email" name="email" placeholder="emailcuaban@email.com">
                        <label style="margin-left: 5px" id="invalid-email-feedback" class="text-danger" hidden></label>
                    </div>

                    <span class="txt9" style="color: #333 !important">
                        Giờ tổ chức <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputtime size12 bo-rad-10 m-t-3 m-b-23 selection-datban-parent" id="selectThoiGianDatBan">
                        <select class="selection-1" name="time">
                            <option>07:00</option>
                            <option>07:30</option>
                            <option>08:00</option>
                            <option>08:30</option>
                            <option>09:00</option>
                            <option>09:30</option>
                            <option>10:00</option>
                            <option>10:30</option>
                            <option>11:00</option>
                            <option>11:30</option>
                            <option>12:00</option>
                            <option>12:30</option>
                            <option>13:00</option>
                            <option>13:30</option>
                            <option>14:00</option>
                            <option>14:30</option>
                            <option>15:00</option>
                            <option>15:30</option>
                            <option>16:00</option>
                            <option>16:30</option>
                            <option>17:00</option>
                            <option>17:30</option>
                            <option>18:00</option>
                            <option>18:30</option>
                            <option>19:00</option>
                            <option>19:30</option>
                            <option>20:00</option>
                            <option>20:30</option>
                            <option>21:00</option>
                            <option>21:30</option>
                            <option>22:00</option>
                        </select>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row p-l-15">
                <div class="col-12 p-r-5">
                    <span class="txt9" style="color: #333 !important">
                        Họ và Tên <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputname size12 bo-rad-10 m-t-3 m-b-23">
                        <input value="@tk.hovaten" style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="hovaten" name="name" placeholder="Nguyễn Văn A...">
                        <label style="margin-left: 5px" id="invalid-hovaten-feedback" class="text-danger" hidden></label>
                    </div>

                </div>
                <div class="col-md-6 p-r-5">

                    <span class="txt9" style="color: #333 !important">
                        Số điện thoại <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputphone size12 bo-rad-10 m-t-3 m-b-23">
                        <input value="@tk.sodienthoai" data-type="numbers" style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20 border-1" type="text" id="sodienthoai" name="phone" placeholder="Số điện thoại">
                        <label style="margin-left: 5px" id="invalid-sodienthoai-feedback" class="text-danger" hidden></label>
                    </div>

                    <span class="txt9" style="color: #333 !important">
                        Ngày tổ chức <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputdate pos-relative txt10 size12 bo-rad-10 m-t-3 m-b-23">
                        <input style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="my-calendar bo-rad-10 sizefull txt10 p-l-20" id="ngaytochuc" type="text" name="date">
                        <i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
                        <label style="margin-left: 5px" id="invalid-ngaytochuc-feedback" class="text-danger" hidden></label>
                    </div>

                </div>

                <div class="col-md-6 p-r-5">
                    <span class="txt9" style="color: #333 !important">
                        Địa chỉ Email
                    </span>

                    <div class="wrap-inputemail size12 bo-rad-10 m-t-3 m-b-23">
                        <input value="@tk.email" style="border: 1px solid #333 !important; background: #122E26; color: #fff !important" class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="email" name="email" placeholder="emailcuaban@email.com">
                        <label style="margin-left: 5px" id="invalid-email-feedback" class="text-danger" hidden></label>
                    </div>

                    <span class="txt9" style="color: #333 !important">
                        Giờ tổ chức <span class="text-danger">*</span>
                    </span>

                    <div class="wrap-inputtime size12 bo-rad-10 m-t-3 m-b-23 selection-datban-parent" id="selectThoiGianDatBan">
                        <select class="selection-1" name="time">
                            <option>07:00</option>
                            <option>07:30</option>
                            <option>08:00</option>
                            <option>09:30</option>
                            <option>09:00</option>
                            <option>09:30</option>
                            <option>10:00</option>
                            <option>10:30</option>
                            <option>11:00</option>
                            <option>11:30</option>
                            <option>12:00</option>
                            <option>12:30</option>
                            <option>13:00</option>
                            <option>13:30</option>
                            <option>14:00</option>
                            <option>14:30</option>
                            <option>15:00</option>
                            <option>15:30</option>
                            <option>16:00</option>
                            <option>16:30</option>
                            <option>17:00</option>
                            <option>17:30</option>
                            <option>18:00</option>
                            <option>18:30</option>
                            <option>19:00</option>
                            <option>19:30</option>
                            <option>20:00</option>
                            <option>20:30</option>
                            <option>21:00</option>
                            <option>21:30</option>
                            <option>22:00</option>
                        </select>
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="~/ActionOnPage/MenuBuffet/SubmitFormDatBan.js"></script>
</div>