@model IEnumerable<Beanfamily.Models.DanhMucMenuBuffetCap1>
@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    ViewBag.Title = "Danh Mục Cấp 1 - Menu Buffet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var dmpv = models.DanhMucPhucVuMenuTiecBanVaMenuBuffet.ToList();
}
<div class="pagetitle">
    <div class="row">
        <div class="col-md-7 col-12">
            <h1>Menu Buffet</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item">Menu Buffet</li>
                    <li class="breadcrumb-item active">Danh Mục Cấp 1</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-5 col-12 text-end">
            @if (Session["chophep-them"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-them"]) == true)
                {
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ThemDmMtbModal"><i class="bi bi-plus-circle me-1"> </i> Thêm mới</button>
                }
            }
            @if (Session["chophep-xoa"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                {
                    <button id="xoahangloat" class="btn btn-danger ms-1"><i class="bi bi-trash me-1"> </i> Xóa mục đã chọn</button>
                }
            }
        </div>
    </div>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table id="lstDmMbTable" class="table datatable" width="100%"> 
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 10px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input p-2" id="checkAlls" />
                                        <label class="form-check-label" for="checkAlls"></label>
                                    </div>
                                </th>
                                <th scope="col">Mã</th>
                                <th scope="col">STT</th>
                                <th scope="col">Tên danh mục</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Số món</th>
                                <th scope="col">Phục vụ</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">#</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string lstIdDmpv = "";
                                foreach (var idDmpv in item.ApDungDanhMucPhucVu.ToList())
                                {
                                    lstIdDmpv += idDmpv.id_danhmucphucvu + "-";
                                }
                                <tr style="vertical-align: middle">
                                    <td>
                                        <div class="form-check">
                                            @if (item.SanPhamMenuBuffet.Count < 1)
                                            {
                                                <input type="checkbox" class="form-check-input p-2" id="checkitem@(item.id)" name="@item.id" />
                                                <label class="form-check-label" for="checkitem@(item.id)"></label>
                                            }
                                        </div>
                                    </td>
                                    <td scope="row">DM@(item.id.ToString("D6"))</td>
                                    <td>@item.sothutu</td>
                                    <td>
                                        @item.tendanhmuc
                                        <input hidden id="inpMadanhmuc@(item.id)" value="DM@(item.id.ToString("D6"))" />
                                        <input hidden id="inpTendanhmuc@(item.id)" value="@item.tendanhmuc" />
                                        <input hidden id="inpDmpv@(item.id)" value="@(string.IsNullOrEmpty(lstIdDmpv) ? "" : lstIdDmpv.Substring(0, lstIdDmpv.Length - 1))" />
                                        <input hidden id="inpSothutu@(item.id)" value="@item.sothutu" />
                                        <input hidden id="inpHienthi@(item.id)" value="@item.hienthi.ToString().ToLower()" />
                                    </td>
                                    <td>@item.ngaytao.ToString("HH:mm dd/MM/yy")</td>
                                    <td>
                                        @if (item.SanPhamMenuBuffet.Count < 1)
                                        {
                                            <span class="badge bg-warning"><i class="bi bi-exclamation-octagon me-1"></i> Chưa có món</span>
                                        }
                                        else
                                        {
                                            <button id="danhsachmonan@(item.id)" name="@item.id" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem danh sách món" tool class="btn btn-sm btn-primary"><i class="bi bi-info-circle me-1"></i> xem @item.SanPhamMenuBuffet.Count() món</button>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ApDungDanhMucPhucVu.Count < 1)
                                        {
                                            <span class="badge bg-warning"><i class="bi bi-exclamation-octagon me-1"></i> Không kèm</span>
                                        }
                                        else
                                        {
                                            <ul style="padding-left: 1rem; margin-bottom: 0;">
                                                @foreach (var menutiecban in item.ApDungDanhMucPhucVu.ToList())
                                                {
                                                    <li>
                                                        @menutiecban.DanhMucPhucVuMenuTiecBanVaMenuBuffet.tendanhmuc
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </td>
                                    <td>
                                        @if (item.hienthi == true)
                                        {
                                            <span class="badge bg-success"><i class="bi bi-eye-fill me-1"></i> Hiển thị</span> }
                                        else
                                        {
                                            <span class="badge bg-danger"><i class="bi bi-eye-slash-fill me-1"></i> Đã ẩn</span>
                                        }
                                    </td>
                                    <td class="text-nowrap">
                                        @if (Session["chophep-sua"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                                            {
                                                <button id="btnsuadm@(item.id)" name="@item.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật danh mục"><i class="bi bi-pencil-square"></i></button>
                                            }
                                        }
                                        @if (Session["chophep-xoa"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                                            {
                                                if (item.SanPhamMenuBuffet.Count < 1)
                                                {
                                                    <button id="btnxoadm@(item.id)" name="@item.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa danh mục"><i class="bi bi-trash"></i></button>
                                                }
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Session["chophep-them"] != null)
{
    if (Convert.ToBoolean(Session["chophep-them"]) == true)
    {
        <!-- Thêm danh mục -->
        <div class="modal fade" id="ThemDmMtbModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm danh mục mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-2">
                            <div class="col-sm-12 col-lg-12">
                                <div class="row mb-3">
                                    <label for="tendanhmuc" class="col-md-3 col-lg-3 col-form-label">Tên danh mục <span class="text-danger">*</span></label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="tendanhmuc" type="text" placeholder="Tên danh mục cấp 1" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-tendanhmuc-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="danhmucphucvu" class="col-md-3 col-lg-3 col-form-label">Phục vụ kèm</label>
                                    <div class="col-md-9 col-lg-9">
                                        <div class=" form-control">
                                            @foreach (var itemDmpv in dmpv)
                                            {
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="@itemDmpv.id" id="iddmpv@(itemDmpv.id)">
                                                    <label class="form-check-label" for="iddmpv@(itemDmpv.id)">@itemDmpv.tendanhmuc</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="sothutu" class="col-md-3 col-lg-3 col-form-label">Số thứ tự</label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="sothutu" type="text" data-type='numbers' placeholder="Số thứ tự" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="sothutu" class="col-md-3 col-lg-3 col-form-label">Hiển thị</label>
                                    <div class="col-md-9 col-lg-9">
                                        <div class="form-control">
                                            <div class="form-check form-switch">
                                                <input checked class="form-check-input" type="checkbox" id="hienthi">
                                                <label class="form-check-label" style="margin-left: 0.8em" for="hienthi"> Hiển thị sau khi tạo</label>
                                            </div>
                                            <label style="margin-left: 5px" id="invalid-hienthi-feedback" class="text-danger" hidden></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button id="btnluuthemDmMtb" type="button" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (Session["chophep-sua"] != null)
{
    if (Convert.ToBoolean(Session["chophep-sua"]) == true)
    {
        <!-- Sửa danh mục -->
        <div class="modal fade" id="SuaDmMtbModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="TitleSuaDmTdhnModal" class="modal-title">Cập nhật danh mục</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-2">
                            <div class="col-sm-12 col-lg-12">
                                <div class="row mb-3">
                                    <label for="suatendanhmuc" class="col-md-12 col-lg-3 col-form-label">Tên danh mục <span class="text-danger">*</span></label>
                                    <div class="col-md-12 col-lg-9">
                                        <input hidden id="suaiddanhmuc">
                                        <input hidden id="suastriddanhmuc">
                                        <input id="suatendanhmuc" type="text" placeholder="Tên danh mục cấp 1" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-suatendanhmuc-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="suadanhmucphucvu" class="col-md-3 col-lg-3 col-form-label">Phục vụ kèm</label>
                                    <div class="col-md-9 col-lg-9">
                                        <div class=" form-control">
                                            @foreach (var itemDmpv in dmpv)
                                            {
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="@itemDmpv.id" id="suaiddmpv@(itemDmpv.id)">
                                                    <label class="form-check-label" for="suaiddmpv@(itemDmpv.id)">@itemDmpv.tendanhmuc</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="suasothutu" class="col-md-12 col-lg-3 col-form-label">Số thứ tự</label>
                                    <div class="col-md-12 col-lg-9">
                                        <input id="suasothutu" type="text" placeholder="Số thứ tự" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="suahienthi" class="col-md-12 col-lg-3 col-form-label">Hiển thị</label>
                                    <div class="col-md-12 col-lg-9">
                                        <div class="form-check form-switch form-control">
                                            <input checked class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="suahienthi">
                                            <label class="form-check-label" style="margin-left: 0.8em" for="suahienthi"> Hiển thị sau khi tạo</label>
                                        </div>
                                        <label style="margin-left: 5px" id="invalid-suahienthi-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button id="btnluuSuaDmMtb" type="button" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<!-- Xem danh sách món -->

<div class="modal fade" id="XemDanhSachMonModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titleDanhSachMonDanhMuc" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="XemDanhSachMonModalPartial" class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="~/Validation/Dmc1MenuBuffet/ThemDmc1MenuBuffet.js"></script>
<script src="~/Validation/Dmc1MenuBuffet/SuaDmc1MenuBuffet.js"></script>
<script src="~/Validation/Dmc1MenuBuffet/XoaDmc1MenuBuffet.js"></script>
<script src="~/Validation/Dmc1MenuBuffet/XemMonDmc1MenuBuffet.js"></script>
<script src="~/Validation/Dmc1MenuBuffet/XoaHangLoat.js"></script>