@model Beanfamily.Models.SanPhamMuaSam

<tr id="row-@Model.id" style="vertical-align: middle">
    <td>
        <div class="form-check">
            <input type="checkbox" class="form-check-input p-2" id="checkitem@(Model.id)" name="@Model.id" />
            <label class="form-check-label" for="checkitem@(Model.id)"></label>
        </div>
    </td>
    <td scope="row">
        SP@(Model.id.ToString("D6"))
        <input hidden id="inpMaSanPham@(Model.id)" value="SP@(Model.id.ToString("D6"))" />
    </td>
    <td>@Model.DanhMucSanPhamMuaSamCap1.tendanhmuc</td>
    <td data-bs-toggle="tooltip" dropzone="top" title="@Model.mota">@Model.tensanpham</td>
    <td>
        @if (Model.thamkhao)
        {
            <label>(Kèm tag tham khảo)</label>
        }
        <ul style="margin-left: -2rem; margin-bottom: 0; list-style-type: none;">
            @foreach (var tonkho in Model.TonKhoSanPhamMuaSam)
            {
                <li>
                    @if (tonkho.soluong > 0)
                    {
                        <span class="badge bg-primary">@(tonkho.tenloai); @(tonkho.gia.ToString("0,0"))đ; @(tonkho.soluong) SP</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">@(tonkho.tenloai); @(tonkho.gia.ToString("0,0"))đ; @(tonkho.soluong) SP</span>
                    }
                </li>
            }
        </ul>
    </td>
    <td>@Model.luotxem.ToString("0,0") Lượt</td>
    <td>
        @if (Model.hienthi == true)
        {
            <span class="badge bg-success"><i class="bi bi-eye-fill me-1"></i> Hiển thị</span> }
        else
        {
            <span class="badge bg-danger"><i class="bi bi-eye-slash-fill me-1"></i> Đã ẩn</span>
        }
    </td>
    <td>
        @if (string.IsNullOrEmpty(Model.hinhanh))
        {
            <span class="badge bg-warning"><i class="bi bi-exclamation-octagon me-1"></i> Không có hình</span>
        }
        else
        {
            <button id="btnXemHinhAnhItem@(Model.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem danh sách hình ảnh" name="@Model.id" class="btn btn-sm btn-primary">
                <i class="bi bi-image me-1"></i> xem @Model.hinhanh.Split('#').Count() ảnh
            </button>
        }

    </td>
    <td class="text-nowrap">
        @if (Session["chophep-sua"] != null)
        {
            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
            {
                <button id="btnsuasp@(Model.id)" name="@Model.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật món"><i class="bi bi-pencil-square"></i></button>
            }
        }
        @if (Session["chophep-xoa"] != null)
        {
            if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
            {

                <button id="btnxoasp@(Model.id)" name="@Model.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa món"><i class="bi bi-trash"></i></button>

            }
        }
    </td>
</tr>