<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Beanfamily.vn nhà hàng chay ngon bình dương, vườn rau nhà trồng đảm bảo an toàn sức khỏe, cửa hàng tiện lợi.">
    <meta name="robots" content="noindex" />
    <meta name="keywords" content="beanfamily, beanfamily.vn, nhà hàng chay bình dương, nhà hàng chay, rau, vườn rau, bean, family">
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 3px SlateGray;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: SlateGray;
            border-radius: 10px;
        }
    </style>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/assets/images/logo/logo-2745.png" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/bootstrap5/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/slick/slick.css">
    <link href="~/Content/assets/vendor/slick/slick-theme.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/main.css">
    <!--===============================================================================================-->
    <link href="~/Scripts/SweetAlert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="@Url.Action("index", "home")">
                            <img src="~/Content/assets/images/logo/logo-2745.png" alt="IMG-LOGO" data-logofixed="/Content/assets/images/logo/logo-2745.png">
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a class="active" href="@Url.Action("index", "home")">Trang Chủ</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("about", "home")">Giới thiệu</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("restaurant", "home")">Nhà hàng</a>
                                    <ul class="sub_menu">
                                        <li style=" border-top-right-radius: 20px;">
                                            <a href="@Url.Action("index", "thucdonhangngay")">Menu hằng ngày</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("index", "menutiecban")">Menu tiệc bàn</a>
                                        </li>
                                        <li style="border-bottom-left-radius: 20px;"> 
                                            <a href="@Url.Action("index", "menubuffet")">Menu buffet</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="@Url.Action("garden", "home")">Vườn rau</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("shopping", "home")">Mua sắm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("contact", "home")">Liên Hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">
                        <a style="font-size: 26px; cursor:pointer" class="text-white" data-bs-toggle="modal" data-bs-target="#gioHangModal">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                    </div>
                </div>
            </div> 
        </div>
    </header>
    <div class="sticky-icon">
        <a target="_blank" href="https://facebook.com/dv.tuandag/" class="Facebook">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/fb.png" /> Facebook
        </a>
        <a target="_blank" href="https://facebook.com/dv.tuandag/" class="Messenger">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/mess.png" /> Messenger
        </a>
        <a target="_blank" href="https://facebook.com/dv.tuandag/" class="Zalo">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/zalo.png" /> Zalo Chat
        </a>
        <a target="_blank" href="https://facebook.com/dv.tuandag/" class="Instagram">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/ig.png" /> Instagram
        </a>
        <a target="_blank" href="https://facebook.com/dv.tuandag/" class="TikTok">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/ttok.png" /> TikTok
        </a>
        <a href="tel:+842743844554" class="Phone">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/phone.png" /> 0274 3844 554
        </a>
        <a href="mailto:duongle15012000@gmail.com" class="Email">
            <img style="max-width: 30px" src="~/Content/assets/images/icons/mail.png" /> Gửi mail
        </a>
    </div>
    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <!-- Button Hide sidebar -->
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

        <!-- - -->
        <ul class="menu-sidebar p-t-95 p-b-70">
            <li class="t-center m-b-13 ">
                <a class="active" href="@Url.Action("index", "home")">Trang Chủ</a>
            </li>

            <li class="t-center m-b-13">
                <a href="@Url.Action("about", "home")">Giới thiệu</a>
            </li>

            <li class="t-center m-b-13">
                <a href="@Url.Action("restaurant", "home")">Nhà hàng</a>
            </li>

            <li class="t-center m-b-13">
                <a href="@Url.Action("garden", "home")">Vườn rau</a>
            </li>
            <li class="t-center m-b-13">
                <a href="@Url.Action("shopping", "home")">Mua sắm</a>
            </li>
            <li class="t-center m-b-13">
                <a href="@Url.Action("contact", "home")">Liên Hệ</a>
            </li>

            <li class="t-center">
                <!-- Button3 -->
                <a href="~/Content/assets/reservation.html" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
                    Liên Hệ Đặt Bàn
                </a>
            </li>
        </ul>

        <!-- - -->
        <div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
            <!-- - -->
            <h4 class="txt20 m-b-33">
                Trưng bày
            </h4>

            <!-- Gallery -->
            <div class="wrap-gallery-sidebar flex-w">
                <div class="wrap-gallery-footer flex-w">
                    <div class="row" style="justify-content: center;">
                        <div class="col-6 row">
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834603318946_a0d89e7e2746ad2c653822e65bd95411.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834603318946_a0d89e7e2746ad2c653822e65bd95411.jpg" />
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834603323199_715e0839b6a46d19ea1a79928d0470f5.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834603323199_715e0839b6a46d19ea1a79928d0470f5.jpg" />
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834603328083_97f59aeeb4f64f92726eba33db2de938.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834603328083_97f59aeeb4f64f92726eba33db2de938.jpg" />
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791067763_67e79c795ddade585f626e8ce41abdb9.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791067763_67e79c795ddade585f626e8ce41abdb9.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-6 row">
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791075584_30ccc45e0a1a02c59445dd760de86f18.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791075584_30ccc45e0a1a02c59445dd760de86f18.jpg" />
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791075626_1488c6046d57199e4f43784f3e737876.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791075626_1488c6046d57199e4f43784f3e737876.jpg" />
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791078437_d255e83a28d193e347e6205096502cbf.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791078437_d255e83a28d193e347e6205096502cbf.jpg" />
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791087337_dfdc737db5de4d38ad2cdb6544c4b33c.jpg" data-lightbox="gallery-footer">
                                    <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791087337_dfdc737db5de4d38ad2cdb6544c4b33c.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    @RenderBody()
    @RenderSection("scripts", required: false)

    <!-- Footer -->
    <footer class="bg1-bottom">
        <div class="bottom-child-bg1">
            <div class="container p-t-40 p-b-70">
                <div class="row">
                    <div class="col-sm-6 col-md-6 p-t-50">
                        <!-- - -->
                        <h4 class="txt13 m-b-33">
                            Thông Tin Liên Hệ
                        </h4>

                        <ul class="m-b-70">
                            <li class="txt14 m-b-14">
                                <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                                Số 38 - Đường D1 - KDC Phú Hòa 1 - Phường Phú Hòa - Thủ Dầu Một - Bình Dương
                            </li>

                            <li class="txt14 m-b-14">
                                <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                                (+84) 274 3844 554
                            </li>

                            <li class="txt14 m-b-14">
                                <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                                duongle15012000@gmail.com
                            </li>
                        </ul>

                    </div>

                    <!--<div class="col-sm-6 col-md-4 p-t-50">-->
                    <!-- - -->
                    <!--<h4 class="txt13 m-b-33">
                            Bài viết mới
                        </h4>

                        <div class="m-b-25">
                            <span class="fs-13 color2 m-r-5">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </span>
                            <a href="~/Content/assets/#" class="txt15">
                                @@colorlib
                            </a>

                            <p class="txt14 m-b-18">
                                Activello is a good option. It has a slider built into that displays the featured image in the slider.
                                <a href="~/Content/assets/#" class="txt15">
                                    https://buff.ly/2zaSfAQ
                                </a>
                            </p>

                            <span class="txt16">
                                21 Th2 2017
                            </span>
                        </div>

                        <div>
                            <span class="fs-13 color2 m-r-5">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </span>
                            <a href="~/Content/assets/#" class="txt15">
                                @@colorlib
                            </a>

                            <p class="txt14 m-b-18">
                                Activello is a good option. It has a slider built into that displays
                                <a href="~/Content/assets/#" class="txt15">
                                    https://buff.ly/2zaSfAQ
                                </a>
                            </p>

                            <span class="txt16">
                                21 Th2 2017
                            </span>
                        </div>
                    </div>-->

                    <div class="col-sm-6 col-md-6 p-t-50">
                        <!-- - -->
                        <h4 class="txt13 m-b-38">
                            Hình Ảnh Nhà Hàng Bean
                        </h4>

                        <!-- Gallery footer -->
                        <div class="wrap-gallery-footer flex-w">
                            <div class="hinhanhbean-list row">
                                <div class="col-6 row">
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%; " href="~/Content/assets/images/Beans/NhaHang/z4834603318946_a0d89e7e2746ad2c653822e65bd95411.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834603318946_a0d89e7e2746ad2c653822e65bd95411.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834603323199_715e0839b6a46d19ea1a79928d0470f5.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834603323199_715e0839b6a46d19ea1a79928d0470f5.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834603328083_97f59aeeb4f64f92726eba33db2de938.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834603328083_97f59aeeb4f64f92726eba33db2de938.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-6 border-16">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791067763_67e79c795ddade585f626e8ce41abdb9.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791067763_67e79c795ddade585f626e8ce41abdb9.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791075584_30ccc45e0a1a02c59445dd760de86f18.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791075584_30ccc45e0a1a02c59445dd760de86f18.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791075626_1488c6046d57199e4f43784f3e737876.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791075626_1488c6046d57199e4f43784f3e737876.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791078437_d255e83a28d193e347e6205096502cbf.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791078437_d255e83a28d193e347e6205096502cbf.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="item-gallery-footer wrap-pic-w" style="width: 100%;" href="~/Content/assets/images/Beans/NhaHang/z4834791087337_dfdc737db5de4d38ad2cdb6544c4b33c.jpg" data-lightbox="gallery-footer">
                                            <img style="width: 100%; height: 100px; object-fit: cover; border-radius: 16px;" src="~/Content/assets/images/Beans/NhaHang/z4834791087337_dfdc737db5de4d38ad2cdb6544c4b33c.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="end-footer text-center">
                <div class="container">
                    <div class="flex-sb-m flex-w p-t-22 p-b-22">
                        <div style="width: 100%" class="p-t-5 p-b-5">
                            <a href="#" target="_blank" class="fs-15 c-white me-2 .Facebook">
                                <img style="max-width: 30px; border-radius:50%; outline: 2px solid #fff" src="~/Content/assets/images/icons/fb.png" />
                            </a>
                            <a href="#" target="_blank" class="fs-15 c-white me-2">
                                <img style="max-width: 30px; border-radius: 50%; outline: 2px solid #fff " src="~/Content/assets/images/icons/mess.png" />
                            </a>
                            <a href="#" target="_blank" class="fs-15 c-white me-2">
                                <img style="max-width: 30px; border-radius: 50%; outline: 2px solid #fff " src="~/Content/assets/images/icons/zalo.png" />
                            </a>
                            <a href="#" target="_blank" class="fs-15 c-white me-2">
                                <img style="max-width: 30px; border-radius: 50%; outline: 2px solid #fff " src="~/Content/assets/images/icons/ig.png" />
                            </a>
                            <a href="#" target="_blank" class="fs-15 c-white me-2">
                                <img style="max-width: 30px; border-radius: 50%; outline: 2px solid #fff " src="~/Content/assets/images/icons/ttok.png" />
                            </a>
                            <a href="tel:+842743844554" class="fs-15 c-white me-2">
                                <img style="max-width: 30px; border-radius: 50%; outline: 2px solid #fff " src="~/Content/assets/images/icons/phone.png" />
                            </a>
                            <a href="mailto:duongle15012000@gmail.com" class="fs-15 c-white">
                                <img style="max-width: 30px; border-radius: 50%; outline: 2px solid #fff " src="~/Content/assets/images/icons/mail.png" />
                            </a>
                        </div>

                        <div class="txt17 p-r-20 p-t-5 p-b-5" style="width: 100%">
                            Copyright &copy; @DateTime.Now.Year  <a href="https://beanfamily.vn">Beanfamily.vn</a>  |  Design by <a href="https://www.aendy.net" target="_blank">Aendy.Net</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0"><img src="~/Content/assets/images/icons/video-16-9.jpg" alt="IMG"></div>
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- GIỎ HÀNG -->
    @using Beanfamily.Models
    @{
        BeanfamilyEntities models = new BeanfamilyEntities();
        List<string> giohangmuassam = Session["giohang-muasam"] as List<string>;
        List<string> giohangvuonrau = Session["giohang-vuonrau"] as List<string>;
        List<string> giohangthucdonhangngay = Session["giohang-thucdonhangngay"] as List<string>;

        Layout = null;
    }
    <div class="modal fade" id="gioHangModal" style="height: 97%;" aria-hidden="true" aria-labelledby="gioHangModalLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div style="border-radius:16px;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-weight:bold" id="gioHangModalLabel2">Giỏ Hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding-left: 0px; padding-right: 0px; padding-top: 10px;">
                    <div style=" padding-bottom: 0 !important;" class="container py-3 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="row">
                                <div id="cart-content-load" class="col-lg-12">
                                    @if ((giohangmuassam == null || giohangmuassam.Count < 1) && (giohangvuonrau == null || giohangvuonrau.Count < 1) && (giohangthucdonhangngay == null || giohangthucdonhangngay.Count < 1))
                                    {
                                        <h5 style="text-align: center; font-weight: bold">Chưa có sản phẩm nào trong giỏ hàng!</h5>
                                    }
                                    else
                                    {
                                        if ((giohangmuassam != null && giohangmuassam.Count > 0))
                                        {
                                            <h5 class="text-center mb-3 text-white" style="background: #5e443b !important; border-radius: 16px 16px 0 0; height: 50px; display: flex; flex-direction: column; justify-content: center; ">Sản Phẩm Mục Mua Sắm</h5>

                                            foreach (var item in giohangmuassam)
                                            {
                                                int idPro = Int32.Parse(item.Split('#')[0]);
                                                int idLoaiPro = Int32.Parse(item.Split('#')[1]);
                                                int soluong = Int32.Parse(item.Split('#')[2]);

                                                var pro = models.SanPhamMuaSam.Find(idPro);
                                                if (pro == null)
                                                {
                                                    continue;
                                                }
                                                else
                                                {

                                                    <div class="card mb-3 bo-rad-16 bggreen text-white">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between row">
                                                                <div class="d-flex flex-row align-items-center col-md-6 col-sm-6 ms-2 me-2 mt-2 mb-2">
                                                                    <div>
                                                                        @if (string.IsNullOrEmpty(pro.hinhanh))
                                                                        {
                                                                            <a class="text-white" href="@Url.Action("productdetail", "muasam", new { id = idPro })">
                                                                                <img src="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")"
                                                                                     class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="text-white" href="@Url.Action("productdetail", "muasam", new { id = idPro })">
                                                                                <img src="@Url.Content(pro.hinhanh.Split('#')[0])"
                                                                                     class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                            </a>
                                                                        }
                                                                    </div>
                                                                    <div class="ms-3">
                                                                        <a class="text-white" href="@Url.Action("productdetail", "muasam", new { id = idPro })"><h5>@pro.tensanpham</h5></a>
                                                                        <p class="small mb-0">@(pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) == null ? "Chọn phân loại hàng" : pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).tenloai + ", " + pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).gia.ToString("0,0") + "đ")</p>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-row align-items-center col-md-5 col-sm-5">
                                                                    <div class="row">
                                                                        <div class="ms-2 me-2 mt-2 mb-2 col-sm-12 col-md-6">
                                                                            <div class="input-group">
                                                                                <button class="text-white btn btn-white border border-secondary px-3" type="button" id="giamsoluonggiohangmuasam-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" data-mdb-ripple-color="dark">
                                                                                    <i class="fa fa-minus"></i>
                                                                                </button>
                                                                                <input tonkho="@Session["tonkhoconlai-muasam-" + idPro + idLoaiPro]" value="@soluong" id="soluonggiohangmuasam-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" data-type='numbers' type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Số lượng sản phẩm" aria-describedby="button-addon1" />
                                                                                <button class="text-white btn btn-white border border-secondary px-3" type="button" id="tangsoluonggiohangmuasam-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" data-mdb-ripple-color="dark">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </button>
                                                                            </div>
                                                                            <p id="thongbaosoluongmuasam-@idPro-@idLoaiPro" style="margin-bottom: -5px" class="text-red small">@(Session["soluongmax-muasam-" + idPro + idLoaiPro] != null ? "Kho còn " + Session["soluongmax-muasam-" + idPro + idLoaiPro] + " sản phẩm!" : "")</p>
                                                                        </div>
                                                                        <div class="ms-2 me-2 mt-2 mb-2 col-sm-12 col-md-5 text-center">
                                                                            <h5 id="giasanphammuasam-@idPro-@idLoaiPro" dongia="@((pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) == null ? "CHONPHANLOAI" : (pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).gia).ToString("0")))"
                                                                                class="mt-2">
                                                                                @((pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) == null ? "Chọn phân loại hàng" : (pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).gia * soluong).ToString("0,0") + "đ"))
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <a id="xoasanphamgiohangmuasam-@idPro-@idLoaiPro" name="@idPro-@idLoaiPro" tensanpham="@pro.tensanpham, @(pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro) != null ? pro.TonKhoSanPham.FirstOrDefault(l => l.id == idLoaiPro).tenloai : "")"
                                                                       class="text-red" role="button" style="width: 30px; text-align: center; position: absolute; right: 5px; top: 5px;"><i class="fa fa-trash"></i></a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        if (giohangmuassam != null && giohangvuonrau != null)
                                        {
                                            if (giohangmuassam.Count > 0 && giohangvuonrau.Count > 0)
                                            {
                                                <hr class="my-4" style="background-color: darkgray" />
                                            }
                                        }
                                        else if (giohangmuassam != null && giohangthucdonhangngay != null)
                                        {
                                            if (giohangmuassam.Count > 0 && giohangthucdonhangngay.Count > 0)
                                            {
                                                <hr class="my-4" style="background-color: darkgray" />
                                            }
                                        }

                                        if (giohangvuonrau != null && giohangvuonrau.Count > 0)
                                        {
                                            <h5 class="text-center mb-3 text-white" style="background: #5e443b !important; border-radius: 16px 16px 0 0; height: 50px; display: flex; flex-direction: column; justify-content: center;">Sản Phẩm Rau Nhà Trồng</h5>

                                            foreach (var item in giohangvuonrau)
                                            {
                                                int idPro = Int32.Parse(item.Split('#')[0]);
                                                decimal soluong = Convert.ToDecimal(item.Split('#')[1].Replace(".", ","));

                                                var pro = models.SanPhamRauNhaTrong.Find(idPro);
                                                if (pro == null)
                                                {
                                                    continue;
                                                }
                                                else
                                                {

                                                    <div class="card mb-3 bo-rad-16 bggreen text-white">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between row">
                                                                <div class="d-flex flex-row align-items-center col-md-6 col-sm-6 ms-2 me-2 mt-2 mb-2">
                                                                    <div>
                                                                        @if (string.IsNullOrEmpty(pro.hinhanh))
                                                                        {
                                                                            <a class="text-white" href="@Url.Action("productdetail", "vuonrau", new { id = idPro })">
                                                                                <img src="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")"
                                                                                     class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="text-white" href="@Url.Action("productdetail", "vuonrau", new { id = idPro })">
                                                                                <img src="@Url.Content(pro.hinhanh.Split('#')[0])"
                                                                                     class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                            </a>
                                                                        }
                                                                    </div>
                                                                    <div class="ms-3">
                                                                        <a class="text-white" href="@Url.Action("productdetail", "vuonrau", new { id = idPro })"><h5>@pro.tensanpham</h5></a>
                                                                        <p class="small mb-0">@pro.gia.ToString("0,0")đ / @pro.donvi</p>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-row align-items-center col-md-5 col-sm-5">
                                                                    <div class="row">
                                                                        <div class="ms-2 me-2 mt-2 mb-2 col-sm-12 col-md-6">
                                                                            <div class="input-group">
                                                                                <button class="text-white btn btn-white border border-secondary px-3" type="button" id="giamsoluonggiohangvuonrau-@idPro" name="@idPro" data-mdb-ripple-color="dark">
                                                                                    <i class="fa fa-minus"></i>
                                                                                </button>
                                                                                <input tonkho="@Session["tonkhoconlai-vuonrau-" + idPro]" donvi="@pro.donvi" value="@soluong.ToString("0.00").Replace(",", ".")" id="soluonggiohangvuonrau-@idPro" name="@idPro" data-type='currency' type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Số lượng sản phẩm" aria-describedby="button-addon1" />
                                                                                <button class="text-white btn btn-white border border-secondary px-3" type="button" id="tangsoluonggiohangvuonrau-@idPro" name="@idPro" data-mdb-ripple-color="dark">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </button>
                                                                            </div>
                                                                            <p id="thongbaosoluongvuonrau-@idPro" style="margin-bottom: -5px" class="text-red small">@(Session["soluongmax-muasam-" + idPro] != null ? "Kho còn " + Session["soluongmax-muasam-" + idPro] + " sản phẩm!" : "")</p>
                                                                        </div>
                                                                        <div class="ms-2 me-2 mt-2 mb-2 col-sm-12 col-md-5 text-center">
                                                                            <h5 id="giasanphamvuonrau-@idPro" dongia="@pro.gia.ToString("0")"
                                                                                class="mt-2">
                                                                                @((pro.gia * soluong).ToString("0,0") + "đ")
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <a id="xoasanphamgiohangvuonrau-@idPro" name="@idPro" tensanpham="@pro.tensanpham"
                                                                       class="text-red" role="button" style="width: 30px; text-align: center; position: absolute; right: 5px; top: 5px;"><i class="fa fa-trash"></i></a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                        }
                                        if (giohangvuonrau != null && giohangthucdonhangngay != null)
                                        {
                                            if (giohangvuonrau.Count > 0 && giohangthucdonhangngay.Count > 0)
                                            {
                                                <hr class="my-4" style="background-color: darkgray" />
                                            }
                                        }
                                        if (giohangthucdonhangngay != null && giohangthucdonhangngay.Count > 0)
                                        {
                                            <h5 class="text-center mb-3 text-white" style="background: #5e443b !important; border-radius: 16px 16px 0 0; height: 50px; display: flex; flex-direction: column; justify-content: center;">Thực Đơn Hằng Ngày</h5>

                                            foreach (var item in giohangthucdonhangngay)
                                            {
                                                int idPro = Int32.Parse(item.Split('#')[0]);
                                                decimal soluong = Convert.ToDecimal(item.Split('#')[1].Replace(".", ","));

                                                var pro = models.SanPhamThucDonHangNgay.Find(idPro);
                                                if (pro == null)
                                                {
                                                    continue;
                                                }
                                                else
                                                {

                                                    <div class="card mb-3 bo-rad-16 bggreen text-white">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between row">
                                                                <div class="d-flex flex-row align-items-center col-md-6 col-sm-6 ms-2 me-2 mt-2 mb-2">
                                                                    <div>
                                                                        @if (string.IsNullOrEmpty(pro.hinhanh))
                                                                        {
                                                                            <a class="text-white" href="@Url.Action("productdetail", "thucdonhangngay", new { id = idPro })">
                                                                                <img src="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")"
                                                                                     class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="text-white" href="@Url.Action("productdetail", "thucdonhangngay", new { id = idPro })">
                                                                                <img src="@Url.Content(pro.hinhanh.Split('#')[0])"
                                                                                     class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                            </a>
                                                                        }
                                                                    </div>
                                                                    <div class="ms-3">
                                                                        <a class="text-white" href="@Url.Action("productdetail", "thucdonhangngay", new { id = idPro })"><h5>@pro.tensanpham</h5></a>
                                                                        <p class="small mb-0">@pro.gia.ToString("0,0")đ</p>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-row align-items-center col-md-5 col-sm-5">
                                                                    <div class="row">
                                                                        <div class="ms-2 me-2 mt-2 mb-2 col-sm-12 col-md-6">
                                                                            <div class="input-group">
                                                                                <button class="text-white btn btn-white border border-secondary px-3" type="button" id="giamsoluonggiohangthucdonhangngay-@idPro" name="@idPro" data-mdb-ripple-color="dark">
                                                                                    <i class="fa fa-minus"></i>
                                                                                </button>
                                                                                <input value="@soluong" id="soluonggiohangthucdonhangngay-@idPro" name="@idPro" data-type='numbers' type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Số lượng sản phẩm" aria-describedby="button-addon1" />
                                                                                <button class="text-white btn btn-white border border-secondary px-3" type="button" id="tangsoluonggiohangthucdonhangngay-@idPro" name="@idPro" data-mdb-ripple-color="dark">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </button>
                                                                            </div>
                                                                            <p id="thongbaosoluongthucdonhangngay-@idPro" style="margin-bottom: -5px" class="text-red small"></p>
                                                                        </div>
                                                                        <div class="ms-2 me-2 mt-2 mb-2 col-sm-12 col-md-5 text-center">
                                                                            <h5 id="giasanphamthucdonhangngay-@idPro" dongia="@pro.gia.ToString("0")"
                                                                                class="mt-2">
                                                                                @((pro.gia * soluong).ToString("0,0") + "đ")
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <a id="xoasanphamgiohangthucdonhangngay-@idPro" name="@idPro" tensanpham="@pro.tensanpham"
                                                                       class="text-red" role="button" style="width: 30px; text-align: center; position: absolute; right: 5px; top: 5px;"><i class="fa fa-trash"></i></a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                        }
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn3 flex-c-m size1 txt11 trans-0-4">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>

    <input id="requestPath" value="@Url.Content("~")" hidden />


    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/popper.js"></script>
    @*<script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap5/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/assets/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Scripts/SweetAlert/sweetalert2.min.js"></script>

    <!-- Cart -->
    <script src="~/ActionOnPage/GioHang/ChangeQuantity.js"></script>
    <script src="~/ActionOnPage/GioHang/DeletedProduct.js"></script>
</body>
</html>


