@using Beanfamily.Models
@{
    BeanfamilyEntities model = new BeanfamilyEntities();

    var currentMonth = DateTime.Now.Month;
    var currentYear = DateTime.Now.Year;

    var maxyear = DateTime.Now.Year;
    var doanhthulst = model.LichSuThanhToanDonHangTongHop.Where(w => w.thoigian.Year == currentYear).ToList();

    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Bảng điều khiển</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Home</a></li>
            <li class="breadcrumb-item active"><a href="@Url.Action("index", "dashboard")">Bảng điều khiển</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 col-6">
                            <h5 class="ms-3" id="tieude-doanhthu" style="margin-top: 15px">THỐNG KÊ DOANH THU NĂM @currentYear</h5>
                        </div>
                        <div class="col-md-6 col-6" style="display: flex; justify-content: end">
                            <select id="chonnamthongke" class="form-control form-select mb-1 me-2" style="margin-top: 5px; width: auto !important">
                                @for (int i = 2024; i <= maxyear; i++)
                                {
                                    if (currentYear == i)
                                    {
                                        <option selected value="@i">Doanh Thu Năm @i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">Doanh Thu Năm @i</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div id="doanhthutongChart" class="mt-3 mb-3"></div>
                    <hr />
                    <!-- table -->
                    <div id="content-doanhthu-append">
                        <div class="row">
                            <div class="col-12" style="display: flex; flex-direction: row; justify-content: end">
                                <select id="chonthangthongke" class="form-control form-select mt-3 me-2" style="margin-top: 5px; width: auto !important">

                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        if (currentMonth == i)
                                        {
                                            <option selected value="@i">Doanh Thu Tháng @i/@currentYear</option>
                                        }
                                        else
                                        {
                                            <option value="@i">Doanh Thu Tháng @i/@currentYear</option>
                                        }
                                    }
                                </select>
                                <button id="xuat-thong-ke" class="btn btn-primary  mt-3"><i class="bi bi-cloud-arrow-down-fill"></i><span class="ms-2">Xuất Thống Kê</span></button>
                            </div>
                        </div>
                        <table id="dataTableBasic" class="table datatable" width="100%">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="text-nowrap">#</th>
                                    <th scope="col" class="text-nowrap">Thời gian</th>
                                    <th scope="col" class="text-nowrap">Loại</th>
                                    <th scope="col" class="text-nowrap">Thực hiện</th>
                                    <th scope="col" class="text-nowrap">Số tiền</th>
                                    <th scope="col" class="text-nowrap">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (doanhthulst.Where(w => w.thoigian.Month == currentMonth).ToList().Count() > 0)
                                {
                                    int i = 0;
                                    foreach (var item in doanhthulst.Where(w => w.thoigian.Month == currentMonth).ToList().OrderByDescending(o => o.id).ToList())
                                    {
                                        i++;
                                        <tr>
                                            <td class="align-middle text-nowrap">
                                                @i.
                                            </td>
                                            <td class="align-middle text-nowrap">
                                                @item.thoigian.ToString("HH:mm") @item.thoigian.ToString("dd/MM/yyyy")
                                            </td>
                                            <td class="align-middle text-nowrap">
                                                @if (item.id_donhangvuonraumuasamvamenuhangngay != null)
                                                {
                                                    <span>Đơn đặt hàng</span>
                                                }
                                                else if (item.id_donhangmenubuffet != null)
                                                {
                                                    <span>Đặt bàn buffet</span>
                                                }
                                                else
                                                {
                                                    <span>Đặt bàn tiệc</span>
                                                }
                                            </td>
                                            <td class="align-middle">
                                                @item.TaiKhoanBean.hovaten
                                                <br />
                                                NV@(item.id_taikhoanbean.ToString("D6"))
                                            </td>
                                            <td class="align-middle text-nowrap">
                                                @item.sotien.ToString("0,0") đ
                                            </td>
                                            <td style="max-width: 400px" class="align-middle">
                                                @item.noidung
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div hidden>
                            <table slyear="@currentYear" slmonth="@currentMonth" id="download-table-doanhthu">
                                <thead>
                                    <tr colspan="6" rowspan="2">
                                        THỐNG KÊ DOANH THU THÁNG @currentMonth/@currentYear
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-nowrap">STT</th>
                                        <th scope="col" class="text-nowrap">Thời gian</th>
                                        <th scope="col" class="text-nowrap">Loại</th>
                                        <th scope="col" class="text-nowrap">Thực hiện</th>
                                        <th scope="col" class="text-nowrap">Số tiền</th>
                                        <th scope="col" class="text-nowrap">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (doanhthulst.Where(w => w.thoigian.Month == currentMonth).ToList().Count() > 0)
                                    {
                                        int i = 0;
                                        foreach (var item in doanhthulst.Where(w => w.thoigian.Month == currentMonth).ToList().OrderByDescending(o => o.id).ToList())
                                        {
                                            i++;
                                            <tr>
                                                <td class="align-middle text-nowrap">
                                                    @i
                                                </td>
                                                <td class="align-middle text-nowrap">
                                                    @item.thoigian.ToString("HH:mm") ngày @item.thoigian.ToString("dd/MM/yyyy")
                                                </td>
                                                <td class="align-middle text-nowrap">
                                                    @if (item.id_donhangvuonraumuasamvamenuhangngay != null)
                                                    {
                                                        <span>Đơn đặt hàng</span>
                                                    }
                                                    else if (item.id_donhangmenubuffet != null)
                                                    {
                                                        <span>Đặt bàn buffet</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Đặt bàn tiệc</span>
                                                    }
                                                </td>
                                                <td class="align-middle">
                                                    @item.TaiKhoanBean.hovaten
                                                    <br />
                                                    NV@(item.id_taikhoanbean.ToString("D6"))
                                                </td>
                                                <td class="align-middle text-nowrap">
                                                    @item.sotien.ToString("0,0") đ
                                                </td>
                                                <td class="align-middle">
                                                    @item.noidung
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card h-100">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-6" style="padding-right: 0;">
                <!-- card header -->
                <div class="card-header text-center">
                    <h6 class="mb-0">THỐNG KÊ ĐƠN HÀNG</h6>
                </div>
                <!-- card body -->
                <div class="card-body" style="border-right: 1px solid #ebeef4">
                    <!-- chart -->
                    <div id="chartDonHang" class=" mt-4"></div>
                    <!-- table -->

                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-6" style="padding-left: 0;">
                <!-- card -->
                <!-- card header -->
                <div class="card-header text-center">
                    <h6 class="mb-0">TIẾN TRÌNH ĐƠN HÀNG</h6>
                </div>
                <!-- card body -->
                <div class="card-body">
                    <!-- chart -->
                    <div id="chartTienTrinhDonHang"></div>
                    <!-- table -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-6 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card header -->
                <div class="card-header text-center">
                    <h6 class="mb-0">THỐNG KÊ ĐƠN ĐẶT BÀN TIỆC</h6>
                </div>
                <!-- card body -->
                <div class="card-body">
                    <div id="chartBanTiec"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-6 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card header -->
                <div class="card-header text-center">
                    <h6 class="mb-0">THỐNG KÊ ĐƠN ĐẶT BÀN BUFFET</h6>
                </div>
                <!-- card body -->
                <div class="card-body">
                    <div id="chartBanBuffet"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        //Chart doanh thu
        var lstDoanhThu = @Html.Raw(Json.Encode(Session["lst-doanhthu-nam"]));
        var lstDonHang = @Html.Raw(Json.Encode(Session["lst-donhang-nam"]));
        var lstTiecBan = @Html.Raw(Json.Encode(Session["lst-tiecban-nam"]));
        var lstBuffet = @Html.Raw(Json.Encode(Session["lst-buffet-nam"]));
        var lstSoDonHang = @Html.Raw(Json.Encode(Session["lst-sodonhang-nam"]));
        var lstSoTiecBan = @Html.Raw(Json.Encode(Session["lst-sotiecban-nam"]));
        var lstSoBuffet = @Html.Raw(Json.Encode(Session["lst-sobuffet-nam"]));

        var doanhthutach = lstDoanhThu.split('-');
        var donhangtach = lstDonHang.split('-');
        var tiecbantach = lstTiecBan.split('-');
        var buffettach = lstBuffet.split('-');
        var sodonhangtach = lstSoDonHang.split('-');
        var sotiecbantach = lstSoTiecBan.split('-');
        var sobuffettach = lstSoBuffet.split('-');

        var options = {
            series: [{
                name: ' Tổng doanh thu',
                data: []
            }, {
                name: ' DT đơn hàng',
                data: []
            }, {
                name: ' Số đơn hàng',
                data: []
            } , {
                name: ' DT đơn bàn tiệc',
                data: []
            }, {
                name: ' Số đơn bàn tiệc',
                data: []
            }, {
                name: ' DT đơn bàn buffet',
                data: []
            }, {
                name: ' Số đơn bàn buffet',
                data: []
            }],
            title: {
                text: '\n',
                margin: 20,
                floating: false
            },
            chart: {
                height: 350,
                type: 'area'
            },
            dataLabels: {
                enabled: false,
            },
            colors: ["#6610f2", "#dc3545", "#d63384", "#198754", "#20c997", "#fd7e14", "#ffc107"],
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                type: 'month',
                categories: ["T1/@currentYear.ToString()", "T2/@currentYear.ToString()", "T3/@currentYear.ToString()", "T4/@currentYear.ToString()", "T5/@currentYear.ToString()"
                    , "T6/@currentYear.ToString()", "T7/@currentYear.ToString()", "T8/@currentYear.ToString()", "T9/@currentYear.ToString()", "T10/@currentYear.ToString()", "T11/@currentYear.ToString()", "T12/@currentYear.ToString()"]
            },
            yaxis: [{
            }, {
                opposite: true,
            }]
        };

        options.series[0].data = doanhthutach;
        options.series[1].data = donhangtach;
        options.series[2].data = sodonhangtach;
        options.series[3].data = tiecbantach;
        options.series[4].data = sotiecbantach;
        options.series[5].data = buffettach;
        options.series[6].data = sobuffettach;
        var chart = new ApexCharts(document.querySelector("#doanhthutongChart"), options);
        chart.render();

        //Chart đơn hàng
        var lstThongKeDonHang = @Html.Raw(Json.Encode(Session["lst-donhang-thongke"]));
        var thongkedonhangtach = lstThongKeDonHang.split('-');

        var optionsDonHang = {
            series: [],
            chart: {
                type: 'polarArea',
            },
            stroke: {
                colors: ['#fff']
            },
            fill: {
                opacity: 0.8
            },
            colors: ["#ffc107", "#0dcaf0", "#6610f2", "#dc3545"],
            labels: ['Đơn chờ duyệt', 'Đơn đang đóng gói', 'Đơn đang giao', 'Đơn giao thất bại'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };
        for (var i = 0; i < 4; i++) {
            optionsDonHang.series.push(thongkedonhangtach[i]);
        }
        var chartDonHang = new ApexCharts(document.querySelector("#chartDonHang"), optionsDonHang);
        chartDonHang.render();



        //Chart tiến trình đơn hàng
        var thongSoTienTrinhDonHang = @Html.Raw(Json.Encode(Session["tientrinhdonhang-thongke"]));
        var optionschartTienTrinhDonHang = {
            chart: {
                height: 380,
                type: "radialBar",
            },

            series: [thongSoTienTrinhDonHang],
            colors: ["#6610f2"],
            plotOptions: {
                radialBar: {
                    hollow: {
                        margin: 0,
                        size: "50%",
                        background: "#ffffff"
                    },
                    track: {
                        dropShadow: {
                            enabled: true,
                            top: 2,
                            left: 0,
                            blur: 4,
                            opacity: 0.15
                        }
                    },
                    dataLabels: {
                        name: {
                            offsetY: -10,
                            color: "#293450",
                            fontSize: "14px"
                        },
                        value: {
                            color: "#293450",
                            fontSize: "30px",
                            show: true
                        }
                    }
                }
            },
            fill: {
                type: "gradient",
                gradient: {
                    shade: "dark",
                    type: "vertical",
                    gradientToColors: ["#dc3545"],
                    stops: [0, 100]
                }
            },
            stroke: {
                lineCap: "round"
            },
            labels: ["Đã giao hàng"]
        };

        var chartTienTrinhDonHang = new ApexCharts(document.querySelector("#chartTienTrinhDonHang"), optionschartTienTrinhDonHang);
        chartTienTrinhDonHang.render();


        //Chart đơn tiệc bàn
        var datachartBanTiec = @Html.Raw(Json.Encode(Session["dontiecban-thongke"]));
        var chartBanTiectach = datachartBanTiec.split('-');

        var optionschartBanTiec = {
            series: [{
                data: [400, 430, 448, 470, 470]
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    borderRadiusApplication: 'end',
                    horizontal: true,
                }
            },
            colors: ["#ffc107", "#0dcaf0", "#6610f2", "#dc3545"],
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: ['Chờ duyệt', 'Đang diễn ra', 'Sắp diễn ra', 'Đã quá hạn', 'Chờ thanh toán'
                ],
            }
        };
        optionschartBanTiec.series[0].data = chartBanTiectach;
        var chartBanTiec = new ApexCharts(document.querySelector("#chartBanTiec"), optionschartBanTiec);
        chartBanTiec.render();

        //Chart đơn tiệc bàn
        var datachartBanBuffet = @Html.Raw(Json.Encode(Session["donbuffet-thongke"]));
        var chartBanBuffettach = datachartBanBuffet.split('-');

        var optionschartBanBuffet = {
            series: [{
                data: [400, 430, 448, 470, 470]
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    borderRadiusApplication: 'end',
                    horizontal: true,
                }
            },
            colors: ["#ffc107", "#0dcaf0", "#6610f2", "#dc3545"],
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: ['Chờ duyệt', 'Đang diễn ra', 'Sắp diễn ra', 'Đã quá hạn', 'Chờ thanh toán'
                ],
            }
        };
        optionschartBanBuffet.series[0].data = chartBanBuffettach;
        var chartBanBuffet = new ApexCharts(document.querySelector("#chartBanBuffet"), optionschartBanBuffet);
        chartBanBuffet.render();
    });
</script>
<script src="~/Validation/Dashboard/ThongKeNam.js"></script>
<script src="~/Content/AdminAreas/assets/vendor/table2excel/jquery.table2excel.min.js"></script>