@model  Beanfamily.Models.TopSanPhamNoiBat
@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var lstSp = models.SanPhamThucDonHangNgay.ToList();
}
<div class="modal-body" id="content-spnb-modal">
    <div class="row mb-2">
        <div class="col-12">
            @foreach (var item in lstSp)
            {
                if (Model.list_id_thucdon.IndexOf(item.id.ToString()) != -1)
                {
                    <div class="form-group mb-3 form-control">
                        <input checked type="checkbox" class="form-check-input p-2 me-2" name="@item.id" id="sanpham-@item.id" />
                        <label class="form-check-label" for="sanpham-@item.id">
                            SP@(item.id.ToString("D6")) - @item.tensanpham - @item.gia.ToString("0,0") đ
                        </label>
                    </div>
                }
                else
                {
                    <div class="form-group mb-3 form-control">
                        <input type="checkbox" class="form-check-input p-2 me-2" name="@item.id" id="sanpham-@item.id" />
                        <label class="form-check-label" for="sanpham-@item.id">
                            SP@(item.id.ToString("D6")) - @item.tensanpham - @item.gia.ToString("0,0") đ
                        </label>
                    </div>
                }
            }
        </div>
    </div>
</div>
