@model Beanfamily.Models.QuyTrinhTrongCay
@{
    Layout = null;
    int i = 0;
}

<div id="SuaModalPartial">
    <div class="modal-body m-2">
        <h5 class="text-center mb-4 text-bg-primary text-white" style="border-radius: 16px; height: 30px; display: flex; flex-direction: column; justify-content: center;">THÔNG TIN QUY TRÌNH</h5>
        <div class="row mt-1">
            <div class="col-12">
                <input value="@Model.id" id="suaidQuyTrinh" hidden />
                <input value="@Model.tenquytrinhtrongcay" id="suatenquytrinh" type="text" placeholder="Nhập tên quy trình..." class="form-control">
                <label style="margin-left: 5px" id="invalid-suatenquytrinh-feedback" class="text-danger" hidden></label>
            </div>
        </div>
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="form-check form-switch form-control">
                    @if (Model.hienthi == true)
                    {
                        <input checked class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="suahienthi">
                    }
                    else
                    {
                        <input class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="suahienthi">
                    }
                    <label class="form-check-label" style="margin-left: 0.8em" for="suahienthi"> Hiển thị sau khi tạo</label>
                </div>
                <label style="margin-left: 5px" id="invalid-suahienthi-feedback" class="text-danger" hidden></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="form-check form-control form-switch">
                    @if (!string.IsNullOrEmpty(Model.video) && Model.video.IndexOf("~/Content") != -1)
                    {
                        <input checked class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="suacheckurlvideo">
                    }
                    else
                    {
                        <input class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="suacheckurlvideo">
                    }
                    <label class="form-check-label" style="margin-left: 0.8em" for="suacheckurlvideo">Nhập URL/Tải lên video <small class="fst-italic text-danger">(không bắt buộc)</small></label>
                </div>
                <label style="margin-left: 5px" id="invalid-suacheckurlvideo-feedback" class="text-danger" hidden></label>
            </div>
        </div>
        <input hidden id="url-suapro-video" value="@Model.video" />
        <input hidden id="optionVideo" value="@(string.IsNullOrEmpty(Model.video) ? "" : Model.video.IndexOf("~/Content") != -1 ? "" : "addurl")" />
        @if (!string.IsNullOrEmpty(Model.video))
        {
            if (Model.video.IndexOf("~/Content") != -1)
            {
                <div class="row mb-3">

                    <div hidden id="suahienthi-addurlvideo" class="col-12">
                        <input id="suaurlvideo" type="text" placeholder="Nhập url video..." class="form-control">
                        <label style="margin-left: 5px" id="invalid-suaurlvideo-feedback" class="text-danger" hidden></label>
                    </div>
                    <div id="suahienthi-uploadvideo" class="col-md-12 mb-1">

                        <fieldset class="form-group">
                            <a class="btn btn-sm btn-primary mb-2" onclick="$('#suapro-video').click()"><i class="bi bi-file-earmark-play-fill"></i> Tải lên video</a>
                            <a id="suabtn-xoa-video" class="btn btn-sm btn-danger mb-2" data-bs-toggle="tooltip" dropzone="top" title="Xóa video upload"><i class="bi bi-trash"></i></a> <small class="text-muted fst-italic">(Chọn 1 video).</small>

                            <input accept="video/*" type="file" id="suapro-video" name="suapro-video" style="display: none;" class="form-control">
                        </fieldset>
                        <video id="suaload-video" style="border-radius: 10px; border: 1px solid #ddd" class="video-list text-center form-control" autoplay="autoplay" type="video/mp4" width="100%" height="100%" src="@Url.Content(Model.video)" controls></video>
                    </div>
                </div>

                <div hidden id="suashow-video" class="row mb-3">
                    <div class="col-md-12 mb-1">
                        <video id="suaload-video-url" class="video-list text-center form-control" style="border-radius: 10px; border: 1px solid #ddd; padding: 0 !important" controls width="100%" height="100%"></video>
                    </div>
                </div>
            }
            else
            {
                <div class="row mb-3">

                    <div id="suahienthi-addurlvideo" class="col-12">
                        <input id="suaurlvideo" value="@Model.video" type="text" placeholder="Nhập url video..." class="form-control">
                        <label style="margin-left: 5px" id="invalid-suaurlvideo-feedback" class="text-danger" hidden></label>
                    </div>
                    <div hidden id="suahienthi-uploadvideo" class="col-md-12 mb-1">

                        <fieldset class="form-group">
                            <a class="btn btn-sm btn-primary mb-2" onclick="$('#suapro-video').click()"><i class="bi bi-file-earmark-play-fill"></i> Tải lên video</a>
                            <a id="suabtn-xoa-video" class="btn btn-sm btn-danger mb-2" data-bs-toggle="tooltip" dropzone="top" title="Xóa video upload"><i class="bi bi-trash"></i></a> <small class="text-muted fst-italic">(Chọn 1 video).</small>

                            <input accept="video/*" type="file" id="suapro-video" name="suapro-video" style="display: none;" class="form-control">
                        </fieldset>
                        <video id="suaload-video" style="border-radius: 10px; border: 1px solid #ddd" class="video-list text-center form-control" type="video/mp4" width="100%" height="300px"></video>
                    </div>
                </div>

                <div id="suashow-video" class="row mb-3">
                    <div class="col-md-12 mb-1">
                        <div class="col-md-12 mb-1">
                            <iframe src="@(Model.video.Replace("watch?v=", "embed/") + "?autoplay=1")" id="suaload-video-url" style="border-radius: 10px; border: 1px solid #ddd; padding: 0 !important" class="video-list text-center form-control" controls width="100%" height="100%" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row mb-3">

                <div id="suahienthi-addurlvideo" class="col-12">
                    <input id="suaurlvideo" type="text" placeholder="Nhập url video..." class="form-control">
                    <label style="margin-left: 5px" id="invalid-suaurlvideo-feedback" class="text-danger" hidden></label>
                </div>
                <div hidden id="suahienthi-uploadvideo" class="col-md-12 mb-1">

                    <fieldset class="form-group">
                        <a class="btn btn-sm btn-primary mb-2" onclick="$('#suapro-video').click()"><i class="bi bi-file-earmark-play-fill"></i> Tải lên video</a>
                        <a id="suabtn-xoa-video" class="btn btn-sm btn-danger mb-2" data-bs-toggle="tooltip" dropzone="top" title="Xóa video upload"><i class="bi bi-trash"></i></a> <small class="text-muted fst-italic">(Chọn 1 video).</small>

                        <input accept="video/*" type="file" id="suapro-video" name="suapro-video" style="display: none;" class="form-control">
                    </fieldset>
                    <video id="suaload-video" style="border-radius: 10px; border: 1px solid #ddd" class="video-list text-center form-control" type="video/mp4" width="100%" height="300px"></video>
                </div>
            </div>

            <div hidden id="suashow-video" class="row mb-3">
                <div class="col-md-12 mb-1">
                    <video id="suaload-video-url" class="video-list text-center form-control" style="border-radius: 10px; border: 1px solid #ddd; padding: 0 !important" controls width="100%" height="100%"></video>
                </div>
            </div>
        }
        <hr class="my-4" />
        <h5 class="text-center mb-4 text-bg-primary text-white" style="border-radius: 16px; height: 30px; display: flex; flex-direction: column; justify-content: center;">THÔNG TIN BƯỚC THỰC HIỆN</h5>

        <div id="suadanhsachcacbuoc" class="row mt-4">
            @foreach (var item in Model.CacBuocQuyTrinhTrongCay.OrderBy(o => o.id))
            {
                i++;
                if (i == 1)
                {
                    <div id="suacumbuoc@(i)" name="1" class="col-sm-12 col-lg-12">
                        <div class="mb-3 row">
                            <div class="col-md-12 col-lg-4">
                                @if (string.IsNullOrEmpty(item.hinhanh))
                                {
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm hình ảnh" id="suahienthihinhbuoc@(i)" onclick="$('#suahinhbuoc@(i)').click()" style="height: 187px; border: 1px solid #dee2e6; border-radius: 15px; cursor: pointer; background-image: url('/Content/assets/images/uploadImage.png'); background-position: center; background-size: 65%; background-repeat: no-repeat; "></div>
                                    <input type="file" accept="image/*" hidden id="suahinhbuoc@(i)" name="@(i)" />
                                    <input hidden id="suahinhcubuoc@(i)" value="" />
                                }
                                else
                                {
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm hình ảnh" id="suahienthihinhbuoc@(i)" onclick="$('#suahinhbuoc@(i)').click()" style="height: 187px; border: 1px solid #dee2e6; border-radius: 15px; cursor: pointer; background-image: url('@item.hinhanh.Replace("~", "")'); background-position: center; background-size: cover; background-repeat: no-repeat; "></div>
                                    <input type="file" accept="image/*" hidden id="suahinhbuoc@(i)" name="@(i)" />
                                    <input hidden id="suahinhcubuoc@(i)" value="@item.hinhanh" />
                                }
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input id="suaten@(i)" value="@item.sobuoc" type="text" placeholder="Tên bước" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-suaten@(i)-feedback" class="text-danger" hidden></label>
                                    </div>
                                    <div class="col-12">
                                        <textarea rows="5" id="suamota@(i)" placeholder="Mô tả bước" class="form-control">@item.motabuoc</textarea>
                                        <label style="margin-left: 5px" id="invalid-suamota@(i)-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="suacumbuoc@(i)" name="@(i)" class="col-sm-12 col-lg-12 mt-3">
                        <div style="width: 100%; height: 50px; background-image: url('/Content/assets/images/arrowDown.png'); background-position: center; background-size: contain; background-repeat: no-repeat; margin-top: -25px; margin-bottom: 15px; "></div>
                        <div class="mb-3 row">
                            <div class="col-md-12 col-lg-4">
                                @if (string.IsNullOrEmpty(item.hinhanh))
                                {
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm hình ảnh" id="suahienthihinhbuoc@(i)" onclick="$('#suahinhbuoc@(i)').click()" style="height: 190px; border: 1px solid #dee2e6; border-radius: 15px; cursor: pointer; background-image: url('/Content/assets/images/uploadImage.png'); background-position: center; background-size: 65%; background-repeat: no-repeat; "></div>
                                    <input type="file" accept="image/*" hidden id="suahinhbuoc@(i)" name="@(i)" />
                                    <input hidden id="suahinhcubuoc@(i)" value="@item.hinhanh" />
                                }
                                else
                                {
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm hình ảnh" id="suahienthihinhbuoc@(i)" onclick="$('#suahinhbuoc@(i)').click()" style="height: 190px; border: 1px solid #dee2e6; border-radius: 15px; cursor: pointer; background-image: url('@item.hinhanh.Replace("~", "")'); background-position: center; background-size: cover; background-repeat: no-repeat; "></div>
                                    <input type="file" accept="image/*" hidden id="suahinhbuoc@(i)" name="@(i)" />
                                    <input hidden id="suahinhcubuoc@(i)" value="@item.hinhanh" />
                                }
                            </div>
                            <div class="col-md-12 col-lg-7">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input value="@item.sobuoc" id="suaten@(i)" type="text" placeholder="Tên bước" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-suaten@(i)-feedback" class="text-danger" hidden></label>
                                    </div>
                                    <div class="col-12">
                                        <textarea rows="5" id="suamota@(i)" placeholder="Mô tả bước" class="form-control">@item.motabuoc</textarea>
                                        <label style="margin-left: 5px" id="invalid-suamota@(i)-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-1">
                                <button data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa bước" id="suaxoabuoc@(i)" name="@(i)" style="width: 100%; height: 187px" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash me-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
            @{
                i = i + 1;
            }
        </div>
        <input value="@(i)" hidden id="suadembuoc" />
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12 col-lg-12">
                <button id="suathembuoc" style="width: 100%" class="btn btn-outline-primary">
                    <i class="bi bi-plus-circle me-1"> </i> Thêm bước @(i)
                </button>
            </div>
        </div>
    </div>

    <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btnluusuaSanPham" type="button" class="btn btn-primary">Lưu thông tin</button>
    </div>
    <script src="~/Validation/QuyTrinhTrongCay/Sua.js?v=1.0"></script>
</div>