@model IEnumerable<Beanfamily.Models.QuyTrinhTrongCay>
@using Beanfamily.Models
@{
    ViewBag.Title = "Sản Phẩm - Vườn Rau Bean";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    BeanfamilyEntities models = new BeanfamilyEntities();
    var lstSp1 = models.SanPhamRauNhaTrong.ToList();
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-7 col-12">
            <h1>Quy Trình Trồng</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item">Vườn Rau Bean</li>
                    <li class="breadcrumb-item active">Quy Trình Trồng</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-5 col-12 text-end">
            @if (Session["chophep-them"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-them"]) == true)
                {
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ThemMoiModal"><i class="bi bi-plus-circle me-1"> </i> Thêm mới</button>
                }
            }
            @if (Session["chophep-xoa"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                {
                    <button id="xoahangloat" class="btn btn-danger ms-1"><i class="bi bi-trash me-1"> </i> Xóa mục đã chọn</button>
                }
            }
        </div>
    </div>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table id="lstSanPhamRauTable" class="table datatable striped" width="100%">
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 10px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input p-2" id="checkAlls" />
                                        <label class="form-check-label" for="checkAlls"></label>
                                    </div>
                                </th>
                                <th scope="col">Mã</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Bước</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Lượt xem</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">#</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="vertical-align: middle">
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input p-2" id="checkitem@(item.id)" name="@item.id" />
                                            <label class="form-check-label" for="checkitem@(item.id)"></label>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        QT@(item.id.ToString("D6"))
                                        <input hidden id="inpMaQuyTrinh@(item.id)" value="QT@(item.id.ToString("D6"))" />
                                    </td>
                                    <td>
                                        @item.tenquytrinhtrongcay
                                    </td>
                                    <td>
                                        @item.CacBuocQuyTrinhTrongCay.Count
                                    </td>
                                    <td>@item.ngaytao.ToString("HH:mm dd/MM/yy")</td>
                                    <td>@item.luotxem.ToString("0,0") Lượt</td>
                                    <td>
                                        @if (item.hienthi == true)
                                        {
                                            <span class="badge bg-success"><i class="bi bi-eye-fill me-1"></i> Hiển thị</span> }
                                        else
                                        {
                                            <span class="badge bg-danger"><i class="bi bi-eye-slash-fill me-1"></i> Đã ẩn</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.SanPhamRauNhaTrong.Count < 1)
                                        {
                                            <span class="badge bg-warning"><i class="bi bi-exclamation-octagon me-1"></i> Chưa áp dụng</span>
                                        }
                                        else
                                        {
                                            <ul style="padding-left: 1rem; margin-bottom: 0;">
                                                @foreach (var menutiecban in item.SanPhamRauNhaTrong.ToList())
                                                {
                                                    <li>
                                                        @menutiecban.tensanpham
                                                    </li>
                                                }
                                            </ul>
                                        }

                                    </td>
                                    <td class="text-nowrap">
                                        @if (Session["chophep-sua"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                                            {
                                                <button id="btnsuasp@(item.id)" name="@item.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật quy trình"><i class="bi bi-pencil-square"></i></button>
                                            }
                                        }
                                        @if (Session["chophep-xoa"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                                            {

                                                <button id="btnxoasp@(item.id)" name="@item.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa quy trình"><i class="bi bi-trash"></i></button>

                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Session["chophep-them"] != null)
{
    if (Convert.ToBoolean(Session["chophep-them"]) == true)
    {
        <!-- Thêm sản phẩm -->
        <div class="modal fade" id="ThemMoiModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm quy trình trồng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body m-2">
                        <h5 class="text-center mb-4 text-bg-primary text-white" style="border-radius: 16px; height: 30px; display: flex; flex-direction: column; justify-content: center;">THÔNG TIN QUY TRÌNH</h5>

                        <div class="row mt-1">
                            <div class="col-12">
                                <input id="tenquytrinh" type="text" placeholder="Nhập tên quy trình..." class="form-control">
                                <label style="margin-left: 5px" id="invalid-tenquytrinh-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                        <div class="row mb-4 mt-3">
                            <div class="col-12">
                                <div class="form-check form-switch form-control">
                                    <input checked class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="hienthi">
                                    <label class="form-check-label" style="margin-left: 0.8em" for="hienthi"> Hiển thị sau khi tạo</label>
                                </div>
                                <label style="margin-left: 5px" id="invalid-hienthi-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <h5 class="text-center mb-4 text-bg-primary text-white" style="border-radius: 16px; height: 30px; display: flex; flex-direction: column; justify-content: center;">THÔNG TIN BƯỚC THỰC HIỆN</h5>
                        <div id="danhsachcacbuoc" class="row mt-4">

                            <div id="cumbuoc1" name="1" class="col-sm-12 col-lg-12">
                                <div class="mb-3 row">
                                    <div class="col-md-12 col-lg-4">
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm hình ảnh" id="hienthihinhbuoc1" onclick="$('#hinhbuoc1').click()" style="height: 187px; border: 1px solid #dee2e6; border-radius: 15px; cursor: pointer; background-image: url('/Content/assets/images/uploadImage.png'); background-position: center; background-size: 65%; background-repeat: no-repeat; "></div>
                                        <input type="file" accept="image/*" hidden id="hinhbuoc1" name="1" />
                                    </div>
                                    <div class="col-md-12 col-lg-8">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <input id="ten1" type="text" placeholder="Tên bước" class="form-control">
                                                <label style="margin-left: 5px" id="invalid-ten1-feedback" class="text-danger" hidden></label>
                                            </div>
                                            <div class="col-12">
                                                <textarea rows="5" id="mota1" placeholder="Mô tả bước" class="form-control"></textarea>
                                                <label style="margin-left: 5px" id="invalid-mota1-feedback" class="text-danger" hidden></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input value="1" hidden id="dembuoc" />
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-12 col-lg-12">
                                <button id="thembuoc" style="width: 100%" class="btn btn-outline-primary">
                                    <i class="bi bi-plus-circle me-1"> </i> Thêm bước 2
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button id="btnluuthemSanPham" type="button" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Validation/QuyTrinhTrongCay/ThemMoi.js"></script>
    }
}

@if (Session["chophep-xoa"] != null)
{
    if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
    {
        <script src="~/Validation/QuyTrinhTrongCay/Xoa.js"></script>
        <script src="~/Validation/QuyTrinhTrongCay/XoaHangLoat.js"></script>
    }
}

@if (Session["chophep-sua"] != null)
{
    if (Convert.ToBoolean(Session["chophep-sua"]) == true)
    {
        <!-- Sửa sản phẩm -->
        <div class="modal fade" id="SuaModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="titleSua" class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="SuaModalPartial">
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Validation/QuyTrinhTrongCay/OpenModalSua.js"></script>
    }
}