@model IEnumerable<Beanfamily.Models.DonHangMenuTiecBan>
@using Beanfamily.Models
@{
    ViewBag.Title = "Đơn Đặt Tiệc Bàn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    BeanfamilyEntities models = new BeanfamilyEntities();
    var lstTTDH = models.TinhTrangDonHangMenuTiecBan.ToList();
    var lstDH = models.DonHangMenuTiecBan.ToList();
    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));
    int chuaThanhToan = 0;
    int hoanthanh = 0;
    foreach (var item in lstDH.Where(w => (w.ngaybatdau - DateTime.Now).Days <= 0).ToList())
    {
        if (item.LichSuThanhToanDonHangTongHop.Count < 1
            && item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Hoàn thành"))
        {
            chuaThanhToan++;
        }
        else
        {
            if ((item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban) +
                item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban) +
                item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia))
                > item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien)
                && item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Hoàn thành"))
            {
                chuaThanhToan++;
            }
        }

        if ((item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban) +
            item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban) +
            item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia))
            <= item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien)
            && item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Hoàn thành"))
        {
            hoanthanh++;
        }
    }
}
<div class="pagetitle">
    <div class="row">
        <div class="col-md-7 col-12">
            <h1>Đơn Đặt Bàn Tiệc</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item active">Đơn Đặt Bàn Tiệc</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-5 col-12 text-end">
            <div style="display: flex; flex-direction: row; justify-content: end; align-items: center; height: 100%">

                <select id="locdonhang" class="form-control form-select me-2">
                    <option selected value="all">
                        Tất cả đơn hàng (@lstTTDH.Count())
                    </option>
                    <option value="choduyet">Đang chờ duyệt (@lstTTDH.Where(t => t.tieude.Equals("Chờ duyệt")).Count())</option>
                    <option value="dangdienra">
                        Đang diễn ra (@lstDH.Where(w => (w.ngaybatdau - currentDate).Days == 0 &&
w.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")).Count())
                    </option>
                    <option value="sapdienra">
                        Sắp diễn ra (@lstDH.Where(w => (w.ngaybatdau - currentDate).Days >= 1 &&
w.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")).Count())
                    </option>
                    <option value="quahan">
                        Đã quá hạn (@lstDH.Where(w => (w.ngaybatdau - currentDate).Days < 0 &&
w.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")).Count())
                    </option>
                    <option value="chuathanhtoan">Chờ thanh toán (@chuaThanhToan)</option>
                    <option value="dahuy">Đã hủy (@lstTTDH.Where(t => t.tieude.Equals("Đã hủy")).Count())</option>
                    <option value="hoanthanh">Hoàn thành (@hoanthanh)</option>
                </select>
                @if (Session["chophep-them"] != null)
                {
                    if (Convert.ToBoolean(Session["chophep-them"]) == true)
                    {
                    }
                }
                @if (Session["chophep-xoa"] != null)
                {
                    if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                    {
                        <button id="huydonhangloat" class="btn btn-danger ms-1 text-nowrap"><i class="bi bi-x-square-fill"> </i> Hủy Đơn Đã Chọn</button>
                    }
                }
            </div>
        </div>
    </div>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" id="content-table">
                    <!-- Table with stripped rows -->
                    <table id="lstDonDatHangTable" class="table datatable" width="100%">
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 10px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input p-2" id="checkAlls" />
                                        <label class="form-check-label" for="checkAlls"></label>
                                    </div>
                                </th>
                                <th scope="col">Diễn ra</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thông tin</th>
                                <th scope="col">Thanh toán</th>
                                <th scope="col">Khách hàng</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(o => o.id))
                            {
                                <tr style="vertical-align: middle">
                                    <td>
                                        @if (!item.TinhTrangDonHangMenuTiecBan.First().tieude.ToLower().Equals("hoàn thành")
                                            && !item.TinhTrangDonHangMenuTiecBan.First().tieude.ToLower().Equals("đã hủy")
                                            && !item.TinhTrangDonHangMenuTiecBan.First().tieude.ToLower().Equals("không thành công"))
                                        {
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input p-2" id="checkitem@(item.id)" name="@item.id" />
                                                <label class="form-check-label" for="checkitem@(item.id)"></label>
                                            </div>
                                        }
                                        <input hidden id="inpMaDonHang@(item.id)" value="@item.madonhang" />
                                    </td>
                                    <td>
                                        <small>
                                            <i class="bi bi-clock-history"></i> @item.giobatdau<br />@item.ngaybatdau.ToString("dd/MM/yyyy")
                                        </small>
                                    </td>
                                    <td>
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã hủy"))
                                        {
                                            <span class="badge bg-danger me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                @item.TinhTrangDonHangMenuTiecBan.First().tieude
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="@item.TinhTrangDonHangMenuTiecBan.First().tieude" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-danger" />
                                        }
                                        @if ((item.ngaybatdau - currentDate).Days <= 0
                                            && (item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban) +
                                            item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban) +
                                            item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia))
                                            <= item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien)
                                            && item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Hoàn thành"))
                                        {
                                            <span class="badge bg-success me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                @item.TinhTrangDonHangMenuTiecBan.First().tieude
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="@item.TinhTrangDonHangMenuTiecBan.First().tieude" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-success" />
                                        }
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Chờ duyệt"))
                                        {
                                            <span class="badge bg-warning me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                @item.TinhTrangDonHangMenuTiecBan.First().tieude
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="@item.TinhTrangDonHangMenuTiecBan.First().tieude" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-warning" />
                                        }
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã lên món"))
                                        {
                                            <span class="badge bg-primary me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                @item.TinhTrangDonHangMenuTiecBan.First().tieude
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="@item.TinhTrangDonHangMenuTiecBan.First().tieude" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-primary" />
                                        }
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")
                                            && (item.ngaybatdau - currentDate).Days < 0)
                                        {
                                            <span class="badge bg-danger me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                Quá hạn @((item.ngaybatdau - currentDate).Days.ToString().Replace("-", "")) ngày
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="Quá hạn @((item.ngaybatdau - currentDate).Days.ToString().Replace("-", "")) ngày" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-danger" />
                                        }
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")
                                            && (item.ngaybatdau - currentDate).Days == 0)
                                        {
                                            <span class="badge bg-primary me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                Đang diễn ra
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="Đang diễn ra" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-primary" />
                                        }
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")
                                            && (item.ngaybatdau - currentDate).Days == 1)
                                        {
                                            <span class="badge bg-primary me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                Diễn ra vào ngày mai
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="Diễn ra vào ngày mai" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-primary" />
                                        }
                                        @if (item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Đã xác nhận")
                                            && (item.ngaybatdau - currentDate).Days >= 2)
                                        {
                                            <span class="badge bg-primary me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                Diễn ra sau @((item.ngaybatdau - currentDate).Days) ngày
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="Diễn ra sau @((item.ngaybatdau - currentDate).Days) ngày" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-primary" />
                                        }
                                        @if ((item.ngaybatdau - currentDate).Days < 0
                                            && (item.LichSuThanhToanDonHangTongHop.Count < 1
                                            && item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Hoàn thành"))
                                            ||
                                            (item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban) +
                                            item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban) +
                                            item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia))
                                            > item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien)
                                            && item.TinhTrangDonHangMenuTiecBan.First().tieude.Equals("Hoàn thành"))
                                        {
                                            <span class="badge bg-danger me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.TinhTrangDonHangMenuTiecBan.First().noidung">
                                                Chờ thanh toán
                                            </span>
                                            <input hidden id="inpTrangThaiDonHang@(item.id)" value="Chờ thanh toán" />
                                            <input hidden id="mauChuTrangThai@(item.id)" value="bg-danger" />
                                        }
                                        <br />
                                        <label class="me-2">
                                            <small><i class="bi bi-clock-history"></i> @item.TinhTrangDonHangMenuTiecBan.First().thoigian.ToString("HH:mm dd/MM/yyyy")</small>
                                        </label>
                                    </td>
                                    <td>
                                        <ul style="margin-left: -2rem; margin-bottom: 0;" class="me-4">
                                            <li>
                                                <small><b>Mã:</b> @item.madonhang</small>
                                            </li>
                                            <li>
                                                <small><b>Số bàn:</b> @item.soban bàn</small>
                                            </li>
                                            <li>
                                                <small><b>Số món:</b> @item.ChiTietDonHangSanPhamMenuTiecBan.Count() món</small>
                                            </li>
                                            <li>
                                                <small>
                                                    <b>Phục vụ:</b>
                                                    @foreach (var pv in item.ChiTietDonHangDanhMucPhucVuMenuTiecBan)
                                                    {
                                                        if (item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Last() == pv)
                                                        {
                                                            <span>
                                                                @pv.tendanhmuc
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                @pv.tendanhmuc,
                                                            </span>
                                                        }
                                                    }
                                                </small>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-nowrap">
                                        <ul style="margin-left: -2rem; margin-bottom: 0;">
                                            <li>
                                                <small class="me-4">
                                                    <b>Tổng thanh toán:</b> @((item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban) +
                                                item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban) +
                                                item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia)).ToString("0,0") + "đ")
                                                </small>
                                            </li>
                                            <li>
                                                <small class="me-4">
                                                    <b>Đã thanh toán:</b> @(item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien).ToString("0,0").Equals("00") ?
                                                "0đ" : item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien).ToString("0,0") + "đ")
                                                </small>
                                            </li>
                                            <li>
                                                <small class="me-4">
                                                    <b>Còn lại:</b> @((
                                                        (item.ChiTietDonHangSanPhamMenuTiecBan.Sum(s => s.gia * item.soban) +
                                                    item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == true).Sum(s => s.gia * item.soban) +
                                                    item.ChiTietDonHangDanhMucPhucVuMenuTiecBan.Where(w => w.giatheosoban == false).Sum(s => s.gia))
                                                    - item.LichSuThanhToanDonHangTongHop.Sum(s => s.sotien)
                                                    ).ToString("0,0") + "đ"
                                                    )
                                                </small>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="margin-left: -2rem; margin-bottom: 0;">
                                            <li>
                                                <small><b>Họ & Tên:</b> @item.hoten</small>
                                            </li>
                                            <li>
                                                <small><b>Điện thoại:</b> @item.sdt</small>
                                            </li>
                                            <li>
                                                <small><b>Email:</b> @item.email</small>
                                            </li>

                                            <li>
                                                <small><b>Ghi chú:</b> @item.ghichukhachhang</small>
                                            </li>
                                        </ul>
                                    </td>

                                    <td class="text-nowrap">
                                        @if (Session["chophep-sua"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                                            {
                                                <button id="btncapnhatdon@(item.id)" name="@item.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem & Cập nhật đơn hàng"><i class="bi bi-arrows-angle-expand"></i></button>
                                            }
                                        }
                                        @if (Session["chophep-xoa"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                                            {
                                                if (!item.TinhTrangDonHangMenuTiecBan.First().tieude.ToLower().Equals("hoàn thành")
                                                    && !item.TinhTrangDonHangMenuTiecBan.First().tieude.ToLower().Equals("đã hủy")
                                                    && !item.TinhTrangDonHangMenuTiecBan.First().tieude.ToLower().Equals("không thành công"))
                                                {
                                                    <button id="btnhuydon@(item.id)" name="@item.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Hủy đơn hàng"><i class="bi bi-x-square-fill"></i></button>
                                                }
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Session["chophep-sua"] != null)
{
    if (Convert.ToBoolean(Session["chophep-sua"]) == true)
    {
        <!-- Sửa danh mục -->
        <div class="modal fade" id="CapNhatDonHangModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row" style="width: 100%">
                            <div class="col-6">
                                <h5 id="TitleCapNhatDonHangModal" class="modal-title"></h5>
                            </div>
                            <div class="col-6 text-end">
                                <span id="trangthaidonhang-chitiet" style="font-size: 17px" class="badge"></span>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="content-CapNhatDonHangModal">
                    </div>

                    <div class="modal-footer mt-3" id="footer-modal-capnhatdonhang">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button id="btnLuuCapNhatDonHang" type="button" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script src="~/Validation/DonDatBanTiec/HuyDonHangLoat.js?v=15102025.1"></script>
<script src="~/Validation/DonDatBanTiec/HuyDon.js?v=15102025.1"></script>
<script src="~/Validation/DonDatBanTiec/DanhSach.js?v=15102025.1"></script>
<script src="~/Validation/DonDatBanTiec/CapNhatDon.js?v=15102025.1"></script>

