@model Beanfamily.Models.QuyenTaiKhoanBean

<tr id="row-@Model.id" style="vertical-align: middle">
    <td>
        @if (Model.TaiKhoanBean.Count() < 1)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input p-2" id="checkitem@(Model.id)" name="@Model.id" />
                <label class="form-check-label" for="checkitem@(Model.id)"></label>
            </div>
        }
    </td>
    <td>R@(Model.id.ToString("D6"))</td>
    <td>
        <input hidden id="tenquyen@(Model.id)" value="@Model.name" />
        @Model.name
    </td>
    <td>@Model.ngaytao.ToString("HH:mm dd/MM/yy")</td>
    <td>@Model.ngaysuadoi.ToString("HH:mm dd/MM/yy")</td>
    <td>
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal@(Model.id)">
            <i class="bi bi-info-circle me-1"> </i> Xem danh sách
        </button>
    </td>
    <td class="text-nowrap">
        @if (Model.id != 1)
        {
            if (Session["chophep-sua"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                {
                    <button id="btnsuaquyen@(Model.id)" name="@Model.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật quyền"><i class="bi bi-pencil-square"></i></button>
                }
            }
            if (Session["chophep-xoa"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                {
                    if (Model.TaiKhoanBean.Count() < 1)
                    {
                        <button id="btnxoaquyen@(Model.id)" name="@Model.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa quyền"><i class="bi bi-trash"></i></button>
                    }
                }
            }
        }
    </td>
</tr>