@model IEnumerable<Beanfamily.Models.QuyenTaiKhoanBean>
@using Beanfamily.Models
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var lstFunc = models.ChucNangHeThongBean.ToList();
    ViewBag.Title = "Quản Lý Tài Khoản Bean";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-7 col-12">
            <h1>Quản Lý Phân Quyền</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item">Tài Khoản Bean</li>
                    <li class="breadcrumb-item active">Phân Quyền</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-5 col-12 text-end">
            @if (Session["chophep-them"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-them"]) == true)
                {
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ThemPhanQuyenModal"><i class="bi bi-plus-circle me-1"> </i> Thêm mới</button>
                }
            }
            @if (Session["chophep-xoa"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                {
                    <button id="xoahangloat" class="btn btn-danger ms-1"><i class="bi bi-trash me-1"> </i> Xóa mục đã chọn</button>
                }
            }
        </div>
    </div>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table id="tbRole" class="table datatable" width="100%">
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 10px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input p-2" id="checkAlls" />
                                        <label class="form-check-label" for="checkAlls"></label>
                                    </div>
                                </th>
                                <th scope="col">Mã</th>
                                <th scope="col">Tên phân quyền</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Cập nhật cuối</th>
                                <th scope="col">Quyền truy cập</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody style="overflow-x: scroll;">
                            @foreach (var item in Model)
                            {
                                <tr style="vertical-align: middle">
                                    <td>
                                        @if (item.TaiKhoanBean.Count() < 1)
                                        {
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input p-2" id="checkitem@(item.id)" name="@item.id" />
                                                <label class="form-check-label" for="checkitem@(item.id)"></label>
                                            </div>
                                        }
                                    </td>
                                    <td>R@(item.id.ToString("D6"))</td>
                                    <td>
                                        <input hidden id="tenquyen@(item.id)" value="@item.name" />
                                        @item.name
                                    </td>
                                    <td>@item.ngaytao.ToString("HH:mm dd/MM/yy")</td>
                                    <td>@item.ngaysuadoi.ToString("HH:mm dd/MM/yy")</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal@(item.id)">
                                            <i class="bi bi-info-circle me-1"> </i> Xem danh sách
                                        </button>
                                    </td>
                                    <td class="text-nowrap">
                                        @if (item.id != 1)
                                        {
                                            if (Session["chophep-sua"] != null)
                                            {
                                                if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                                                {
                                                    <button id="btnsuaquyen@(item.id)" name="@item.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật quyền"><i class="bi bi-pencil-square"></i></button>
                                                }
                                            }
                                            if (Session["chophep-xoa"] != null)
                                            {
                                                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                                                {
                                                    if (item.TaiKhoanBean.Count() < 1)
                                                    {
                                                        <button id="btnxoaquyen@(item.id)" name="@item.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa quyền"><i class="bi bi-trash"></i></button>
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Session["chophep-them"] != null)
{
    if (Convert.ToBoolean(Session["chophep-them"]) == true)
    {
        <!-- Thêm quyền -->
        <div class="modal fade" id="ThemPhanQuyenModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm quyền mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-sm-12">
                                <input id="name" type="text" placeholder="Nhập tên quyền mới..." class="form-control">
                                <label style="margin-left: 5px" id="invalid-name-feedback" class="text-danger" hidden></label>
                            </div>
                        </div>
                        <h6 class="text-center  mb-4">CHỌN CHỨC NĂNG CHO PHÉP TRUY CẬP</h6>
                        <ul class="list-group">

                            @foreach (var item in lstFunc)
                            {
                                i++;
                                if (i % 2 == 0)
                                {
                                    <li class="list-group-item list-group-item-primary">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="@item.id" id="checkchucnang@(item.id)">
                                                    <label class="form-check-label" for="checkchucnang@(item.id)">@item.tenchucnang</label>
                                                </div>
                                            </div>
                                            <div hidden id="child-chucnang@(item.id)" class="row col-sm-4">
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <input checked class="form-check-input" type="checkbox" id="them-chucnang@(item.id)">
                                                        <label class="form-check-label" for="them-chucnang@(item.id)">
                                                            Thêm
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <input checked class="form-check-input" type="checkbox" id="sua-chucnang@(item.id)">
                                                        <label class="form-check-label" for="sua-chucnang@(item.id)">
                                                            Sửa
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input checked class="form-check-input" type="checkbox" id="xoa-chucnang@(item.id)">
                                                        <label class="form-check-label" for="xoa-chucnang@(item.id)">
                                                            Xóa
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="@item.id" id="checkchucnang@(item.id)">
                                                    <label class="form-check-label" for="checkchucnang@(item.id)">@item.tenchucnang</label>
                                                </div>
                                            </div>
                                            <div hidden id="child-chucnang@(item.id)" class="row col-sm-4">
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <input checked class="form-check-input" type="checkbox" id="them-chucnang@(item.id)">
                                                        <label class="form-check-label" for="them-chucnang@(item.id)">
                                                            Thêm
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <input checked class="form-check-input" type="checkbox" id="sua-chucnang@(item.id)">
                                                        <label class="form-check-label" for="sua-chucnang@(item.id)">
                                                            Sửa
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input checked class="form-check-input" type="checkbox" id="xoa-chucnang@(item.id)">
                                                        <label class="form-check-label" for="xoa-chucnang@(item.id)">
                                                            Xóa
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                }
                            }
                        </ul>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button id="btnluuthemrole" type="button" class="btn btn-primary">Lưu thông tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (Session["chophep-sua"] != null)
{
    if (Convert.ToBoolean(Session["chophep-sua"]) == true)
    {
        <!-- Sửa quyền -->
        <div class="modal fade" id="SuaPhanQuyenModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cập nhật phân quyền</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="chinhsuaquyenpartial" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    }
}
@foreach (var item in Model.ToList())
{
    i = 1;
    <div class="modal fade" id="modal@(item.id)" tabindex="-1">
        <div class="modal-dialog  modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quyền truy cập tính năng: @item.name - #R@(item.id.ToString("D6"))</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <ul class="list-group">
                        @foreach (var function in item.ApDungChucNangChoQuyenTaiKhoan.ToList())
                        {
                            if (i % 2 == 0)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @function.ChucNangHeThongBean.tenchucnang
                                    @if (function.chophepthem == true)
                                    {<span class="badge bg-primary rounded-pill">
                                            Xem | Thêm
                                            @if (function.chophepsua == true)
                                            {<span> | Sửa</span>}
                                            @if (function.chophepxoa == true)
                                            {<span> | Xóa</span>}
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary rounded-pill">
                                            Xem
                                            @if (function.chophepsua == true)
                                            {
                                                <span> | Sửa</span>
                                                if (function.chophepxoa == true)
                                                {<span> | Xóa</span>}
                                            }
                                            else
                                            {
                                                if (function.chophepxoa == true)
                                                {<span>Xem | Xóa</span>}
                                            }
                                        </span>
                                    }

                                </li>
                            }
                            else
                            {
                                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                                    @function.ChucNangHeThongBean.tenchucnang
                                    @if (function.chophepthem == true)
                                    {<span class="badge bg-primary rounded-pill">
                                            Xem | Thêm
                                            @if (function.chophepsua == true)
                                            {<span> | Sửa</span>}
                                            @if (function.chophepxoa == true)
                                            {<span> | Xóa</span>}
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary rounded-pill">
                                            Xem
                                            @if (function.chophepsua == true)
                                            {
                                                <span> | Sửa</span>
                                                if (function.chophepxoa == true)
                                                {<span> | Xóa</span>}
                                            }
                                            else
                                            {
                                                if (function.chophepxoa == true)
                                                {<span>Xem | Xóa</span>}
                                            }
                                        </span>
                                    }
                                </li>
                            }

                            i++;
                        }

                    </ul>

                </div>

            </div>
        </div>
    </div>

}


<script src="~/Validation/Role/AddRole.js"></script>
<script src="~/Validation/Role/ShowViewEditRole.js"></script>
<script src="~/Validation/Role/DeleteRole.js"></script>
<script src="~/Validation/Role/XoaHangLoat.js"></script>