﻿@model IEnumerable<Beanfamily.Models.SanPhamMenuTiecBan>
@using Beanfamily.Models
@{
    ViewBag.Title = "Quản Lý Món - Menu Tiệc Bàn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    BeanfamilyEntities models = new BeanfamilyEntities();
    var lstDmC1 = models.DanhMucMenuTiecBanCap1.ToList();
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-7 col-12">
            <h1>Menu Tiệc Bàn</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index", "dashboard")">Bảng Điều Khiển</a></li>
                    <li class="breadcrumb-item">Menu Tiệc Bàn</li>
                    <li class="breadcrumb-item active">Quản Lý Món</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-5 col-12 text-end">
            @if (Session["chophep-them"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-them"]) == true)
                {
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ThemMonAnModal"><i class="bi bi-plus-circle me-1"> </i> Thêm mới</button>
                }
            }
            @if (Session["chophep-xoa"] != null)
            {
                if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                {
                    <button id="xoahangloat" class="btn btn-danger ms-1"><i class="bi bi-trash me-1"> </i> Xóa mục đã chọn</button>
                }
            }
        </div>
    </div>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table id="lstMonAnMenuTiecBanTable" class="table datatable striped" width="100%" data-order='[[2, "desc"]]'>
                        <thead>
                            <tr class="text-nowrap">
                                <th style="width: 10px">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input p-2" id="checkAlls" />
                                        <label class="form-check-label" for="checkAlls"></label>
                                    </div>
                                </th>
                                <th scope="col">Mã</th>
                                <th scope="col">STT</th>
                                <th scope="col">Tên món</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.id" style="vertical-align: middle">
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input p-2" id="checkitem@(item.id)" name="@item.id" />
                                            <label class="form-check-label" for="checkitem@(item.id)"></label>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        SP@(item.id.ToString("D6"))
                                        <input hidden id="inpMamonan@(item.id)" value="SP@(item.id.ToString("D6"))" />
                                    </td>
                                    <td>@item.sothutu</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.hinhanh))
                                        {
                                            <div style="height: 50px; width: 50px; float: left">
                                                <img style="float: left; height: 50px; width: 50px;object-fit: cover; border-radius: 50% " src="@Url.Content(item.hinhanh)" />
                                            </div>
                                        }
                                        <label style="margin-left: 10px; display: inline-block; vertical-align: middle; line-height: 50px ">
                                            @item.tensanpham
                                        </label>
                                    </td>
                                    <td>@item.gia.ToString("0,0") đ</td>
                                    <td>@item.DanhMucMenuTiecBanCap1.tendanhmuc</td>
                                    <td>
                                        @if (item.hienthi == true)
                                        {
                                            <span class="badge bg-success"><i class="bi bi-eye-fill me-1"></i> Hiển thị</span> }
                                        else
                                        {
                                            <span class="badge bg-danger"><i class="bi bi-eye-slash-fill me-1"></i> Đã ẩn</span>
                                        }
                                    </td>
                                    <td class="text-nowrap">
                                        @if (Session["chophep-sua"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
                                            {
                                                <button id="btnsuasp@(item.id)" name="@item.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật món"><i class="bi bi-pencil-square"></i></button>
                                            }
                                        }
                                        @if (Session["chophep-xoa"] != null)
                                        {
                                            if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
                                            {
                                                //if (item.SoLuongDatHang.Count < 1)
                                                //{
                                                <button id="btnxoasp@(item.id)" name="@item.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa món"><i class="bi bi-trash"></i></button>
                                                //}
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Session["chophep-them"] != null)
{
    if (Convert.ToBoolean(Session["chophep-them"]) == true)
    {
        <!-- Thêm món ăn -->
        <div class="modal fade" id="ThemMonAnModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm món mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center mb-4 text-bg-primary text-white" style="border-radius: 16px; height: 30px; display: flex; flex-direction: column; justify-content: center;">THÔNG TIN MÓN</h5>

                        <div class="row m-2">
                            <div class="col-sm-12 col-lg-12">
                                <div class="row mb-3">
                                    <label for="tenmon" class="col-md-12 col-lg-2 col-form-label">Tên món<span class="text-danger">*</span></label>
                                    <div class="col-md-12 col-lg-10">
                                        <input id="tenmon" type="text" placeholder="Tên món mới" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-tenmon-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="gia" class="col-md-12 col-lg-2 col-form-label">Giá món <span class="text-danger">*</span></label>
                                    <div class="col-md-12 col-lg-10">
                                        <input id="gia" type="text" data-type="currency" placeholder="Giá món" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-gia-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="danhmuc" class="col-md-12 col-lg-2 col-form-label">Danh mục <span class="text-danger">*</span></label>
                                    <div class="col-md-12 col-lg-10">
                                        <select class="form-select" id="danhmuc">
                                            <option value="">Chọn danh mục cấp 1</option>
                                            @foreach (var item in lstDmC1)
                                            {
                                                <option value="@item.id">@item.tendanhmuc</option>
                                            }
                                        </select>
                                        <label style="margin-left: 5px" id="invalid-danhmuc-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="sothutu" class="col-md-12 col-lg-2 col-form-label">Số thứ tự</label>
                                    <div class="col-md-12 col-lg-10">
                                        <input id="sothutu" type="text" data-type="numbers" placeholder="Số thứ tự" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-sothutu-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="hienthi" class="col-md-12 col-lg-2 col-form-label">Hiển thị</label>
                                    <div class="col-md-12 col-lg-10">
                                        <div class="form-check form-switch form-control">
                                            <input checked class="form-check-input" style="margin-left: -1.5em" type="checkbox" id="hienthi">
                                            <label class="form-check-label" style="margin-left: 0.8em" for="hienthi"> Hiển thị sau khi tạo</label>
                                        </div>
                                        <label style="margin-left: 5px" id="invalid-hienthi-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="pro-image" class="col-md-12 col-lg-2 col-form-label">Hình ảnh</label>
                                    <div class="col-md-12 col-lg-10">
                                        <fieldset class="form-group">
                                            <a class="btn btn-sm btn-primary mb-2" onclick="$('#pro-image').click()"><i class="bi bi-image me-1"></i> Tải lên hình ảnh</a> <small class="text-muted fst-italic">(Chọn 1 hình ảnh 5x4).</small>
                                            <input accept="image/jpeg, image/png" type="file" id="pro-image" name="pro-image[]" style="display: none;" class="form-control">
                                        </fieldset>
                                        <div class="preview-images-zone form-control">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button id="btnluuthemMonAn" type="button" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (Session["chophep-sua"] != null)
{
    if (Convert.ToBoolean(Session["chophep-sua"]) == true)
    {
        <!-- Sửa món ăn -->
        <div class="modal fade" id="SuaMonAnModal" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="titleSuaMonAn" class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="SuaMonModalPartial">
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer mt-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button id="btnluuthemMonAn" type="button" class="btn btn-primary">Lưu thông tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="~/Validation/MonAnMenuTiecBan/ThemMonAn.js?v=1.0"></script>
<script src="~/Validation/MonAnMenuTiecBan/XoaMonAn.js?v=1.0"></script>
<script src="~/Validation/MonAnMenuTiecBan/OpenModalSuaMonAn.js?v=1.0"></script>
<script src="~/Validation/MonAnMenuTiecBan/XoaHangLoat.js?v=1.0"></script>