@model Beanfamily.Models.TaiKhoanBean
@using Beanfamily.Models;
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var lstRole = models.QuyenTaiKhoanBean.ToList();
}

<div id="contentChiTietModal" style="margin: 15px">
    <section id="" class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        @if (string.IsNullOrEmpty(Model.hinhdaidien))
                        {
                            <img src="~/Content/AdminAreas/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        }
                        else
                        {
                            <img src="@Url.Content(Model.hinhdaidien)" alt="Profile" class="rounded-circle">
                        }
                        <h2>@Model.hovaten</h2>
                        <h3>@Model.chucdanh</h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng quan</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Cập nhật thông tin</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-password">Cấp lại mật khẩu</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title"></h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Trạng thái</div>
                                    @if (Model.khoataikhoan == true)
                                    {
                                        <div class="col-lg-9 col-md-8">Đang khóa | <button class="btn btn-sm btn-success" id="btnmokhoataikhoandetail@(Model.id)" name="@Model.id#@("NV" + Model.id.ToString("D6"))"><i class="bi bi-unlock-fill me-1"></i> mở khóa tài khoản</button></div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-9 col-md-8">Hoạt động | <button class="btn btn-sm btn-danger" id="btnkhoataikhoandetail@(Model.id)" name="@Model.id#@("NV" + Model.id.ToString("D6"))"><i class="bi bi-lock-fill me-1"></i> khóa tài khoản</button></div>
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Tên đăng nhập</div>
                                    <div class="col-lg-9 col-md-8">@Model.username</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Họ & Tên</div>
                                    <div class="col-lg-9 col-md-8">@Model.hovaten</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Phân quyền</div>
                                    <div class="col-lg-9 col-md-8">@Model.QuyenTaiKhoanBean.name</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Địa chỉ Email</div>
                                    <div class="col-lg-9 col-md-8">@Model.email</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Chức danh</div>
                                    <div class="col-lg-9 col-md-8">@Model.chucdanh</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                    <div class="col-lg-9 col-md-8">@Model.sodienthoai</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Ngày sinh</div>
                                    <div class="col-lg-9 col-md-8">@Model.ngaysinh</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Giới tính</div>
                                    <div class="col-lg-9 col-md-8">@Model.gioitinh</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Địa chỉ nhà</div>
                                    <div class="col-lg-9 col-md-8">@Model.diachi</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Ngày tham gia</div>
                                    <div class="col-lg-9 col-md-8">Ngày @Model.ngaythamgia.ToString("dd") Tháng @Model.ngaythamgia.ToString("MM, yyyy") </div>
                                </div>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-edit">

                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"></label>
                                    <div class="col-md-12 col-lg-12 text-center profile-edit">
                                        @if (string.IsNullOrEmpty(Model.hinhdaidien))
                                        {
                                            <img src="~/Content/AdminAreas/assets/img/profile-img.jpg" id="previewImageEdit" alt="Profile" class="rounded-circle">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content(Model.hinhdaidien)" id="previewImageEdit" alt="Profile" class="rounded-circle">
                                        }
                                        <input hidden id="selectFilesEdit" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImageEdit'))" />
                                        <div class="pt-2">
                                            <a id="themhinhdaidienedit" role="button" class="btn btn-primary btn-sm" title="Tải lên hình đại diện"><i class="bi bi-upload"></i></a>
                                            <a id="xoahinhdaidienedit" role="button" class="btn btn-danger btn-sm" title="Xóa hình đại diện"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="tendangnhapedit" class="col-md-3 col-lg-3 col-form-label">Tên đăng nhập <span class="text-danger">*</span></label>
                                    <div class="col-md-9 col-lg-9">
                                        <input name="tendangnhapedit" type="text" placeholder="Tên đăng nhập tài khoản" class="form-control" id="tendangnhapedit" value="@Model.username">
                                        <input hidden id="idacc" value="@Model.id" />
                                        <input hidden id="stridacc" value="NV@(Model.id.ToString("D6"))" />
                                        <div id="invalid-tendangnhapedit-feedback" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="hovatenedit" class="col-md-3 col-lg-3 col-form-label">Họ & Tên <span class="text-danger">*</span></label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="hovatenedit" value="@Model.hovaten" type="text" placeholder="Họ và Tên" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-hovatenedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="phanquyenedit" class="col-md-3 col-lg-3 col-form-label">Phân quyền <span class="text-danger">*</span></label>
                                    <div class="col-md-9 col-lg-9">
                                        <select id="phanquyenedit" class="form-select">
                                            <option value="">Chọn phân quyền</option>
                                            @foreach (var quyen in lstRole)
                                            {
                                                if (Model.id_quyentaikhoanbean == quyen.id)
                                                {
                                                    <option selected value="@quyen.id">@quyen.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@quyen.id">@quyen.name</option>
                                                }
                                            }
                                        </select>
                                        <label style="margin-left: 5px" id="invalid-phanquyenedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="emailedit" class="col-md-3 col-lg-3 col-form-label">Đ/C Email <span class="text-danger">*</span></label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="emailedit" type="email" value="@Model.email" placeholder="Địa chỉ Email" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-emailedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="chucdanhedit" class="col-md-3 col-lg-3 col-form-label">Chức danh</label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="chucdanhedit" type="text" value="@Model.chucdanh" placeholder="Chức danh" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-chucdanhedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="sodienthoaiedit" class="col-md-3 col-lg-3 col-form-label">Số điện thoại</label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="sodienthoaiedit" type="text" value="@Model.sodienthoai" placeholder="Số điện thoại" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-sodienthoaiedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="ngaysinhedit" class="col-md-3 col-lg-3 col-form-label">Ngày sinh</label>
                                    <div class="col-md-9 col-lg-9">
                                        <input id="ngaysinhedit" type="date" value="@Model.ngaysinh" placeholder="Ngày sinh" class="form-control">
                                        <label style="margin-left: 5px" id="invalid-ngaysinhedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="gioitinhedit" class="col-md-3 col-lg-3 col-form-label">Giới tính</label>
                                    <div class="col-md-9 col-lg-9">
                                        <select name="gioitinhedit" id="gioitinhedit" class="form-select">
                                            @if (string.IsNullOrEmpty(Model.gioitinh))
                                            {
                                                <option value="" selected>Chọn giới tính</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            }
                                            else if (Model.gioitinh.Equals("Nam"))
                                            {
                                                <option value="">Chọn giới tính</option>
                                                <option value="Nam" selected>Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            }
                                            else
                                            {
                                                <option value="">Chọn giới tính</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ" selected>Nữ</option>
                                            }
                                        </select>
                                        <label style="margin-left: 5px" id="invalid-gioitinhedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="diachiedit" class="col-md-3 col-lg-3 col-form-label">Địa chỉ nhà</label>
                                    <div class="col-md-9 col-lg-9">
                                        <textarea id="diachiedit" name="diachi" class="form-control" rows="4">@Model.diachi</textarea>
                                        <label style="margin-left: 5px" id="invalid-diachiedit-feedback" class="text-danger" hidden></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 text-end">
                                        <button id="btnluuedittaikhoan" type="button" class="btn btn-primary">Lưu thông tin</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-password">
                                <!-- Change Password Form -->
                                <div>
                                    <div class="row mb-3">
                                        <label for="caplaimatkhaumoi" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới <span class="text-danger">*</span></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="caplaimatkhaumoi" type="password" class="form-control" id="caplaimatkhaumoi">
                                            <label style="margin-left: 5px" id="invalid-caplaimatkhaumoi-feedback" class="text-danger" hidden></label>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="caplainhaplaimatkhaumoi" class="col-md-4 col-lg-3 col-form-label">Nhập lại MK mới <span class="text-danger">*</span></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="caplainhaplaimatkhaumoi" type="password" class="form-control" id="caplainhaplaimatkhaumoi">
                                            <label style="margin-left: 5px" id="invalid-caplainhaplaimatkhaumoi-feedback" class="text-danger" hidden></label>
                                        </div>
                                    </div>

                                    <div class="text-end mt-2 mb-2">
                                        <button id="btncaplaimatkhau" class="btn btn-primary">Lưu thông tin</button>
                                    </div>
                                </div><!-- End Change Password Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/AdminAreas/assets/js/reviewImageEdit.js"></script>
    <script src="~/Validation/AccountBean/EditAccount.js"></script>
    <script src="~/Validation/AccountBean/DetailLockAccount.js"></script>
</div>