@using Beanfamily.Models
@{
    TaiKhoanKhachHang tkkh = Session["user-data"] as TaiKhoanKhachHang;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Title Page -->
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(/Content/assets/images/backgroud.png);">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 545px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                TIẾN HÀNH ĐẶT HÀNG
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "dathang")">GIỎ HÀNG</a>
                <label class="ms-2 me-2">/</label>
                <a>TIẾN HÀNH ĐẶT HÀNG</a>
            </h6>
        </div>
    </div>
</section>

<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-t-30 p-b-40">
            <div class="row">
                @if (tkkh == null)
                {
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="txt9">
                                    Họ và Tên <span class="text-danger">*</span>
                                </span>

                                <div class="wrap-inputname size12 bo-rad-16 m-t-3 mb-2">
                                    <input class="bo-rad-16 sizefull txt10 p-l-20" type="text" id="hoten" placeholder="Họ và Tên người nhận hàng">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span class="txt9">
                                    Số điện thoại <span class="text-danger">*</span>
                                </span>

                                <div class="wrap-inputphone size12 bo-rad-16 m-t-3 mb-2">
                                    <input class="bo-rad-16 sizefull txt10 p-l-20" type="text" id="sodienthoai" name="phone" data-type="numbers" placeholder="Số điện thoại nhận hàng">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span class="txt9">
                                    Địa chỉ Email <span class="text-danger">*</span>
                                </span>

                                <div class="wrap-inputemail size12 bo-rad-16 m-t-3 mb-2">
                                    <input class="bo-rad-16 sizefull txt10 p-l-20" type="text" id="email" name="email" placeholder="Địa chỉ email">
                                </div>
                            </div>

                            <div class="col-12">
                                <span class="txt9">
                                    Ghi chú
                                </span>
                                <textarea style="width: 100%" class="bo-rad-16 txt10 p-l-20 p-t-15 mb-2 m-t-3" id="ghichu" rows="4" name="ghichu" placeholder="Ghi chú đơn hàng (nếu có)"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="txt9">
                                Địa chỉ nhận hàng <span class="text-danger">*</span>
                            </span>
                            <div class="bg-white bo-rad-16 txt10 p-l-20 p-r-20 p-t-20 p-b-20 mb-3 m-t-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="display: flex; flex-direction: row; align-items: center;" class="mb-0">
                                            <input checked id="giaotannoi" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptgh">
                                            <label for="giaotannoi" class="text-dark">Giao tận nơi</label><br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="display: flex; flex-direction: row; align-items: center;" class="mb-0">
                                            <input id="taicuahang" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptgh">
                                            <label for="taicuahang" class="text-dark">Nhận tại cửa hàng</label><br>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3" />
                                <div id="chongiaotannoi" class="row">
                                    <div class="col-md-12">
                                        <div class="wrap-inputphone size12 bo-rad-16 m-t-3 mb-3">
                                            <input style="border: 1px solid #ced4da !important;" class="bo-rad-16 sizefull txt10 p-l-20" type="text" name="diachi" placeholder="Địa chỉ số nhà, tên đường">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <select style="border-radius: 16px; padding: 14px" class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn tỉnh thành</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <select style="border-radius: 16px; padding: 14px" class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn quận huyện</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <select style="border-radius: 16px; padding: 14px" class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn phường xã</option>
                                        </select>
                                    </div>
                                </div>
                                <div hidden id="chontaicuahang" class="row">
                                    <div class="col-md-12">
                                        <label style="font-weight: bold;" class="me-2">Địa chỉ chi nhánh:</label><span>Số 38 - Đường D1 - KDC Phú Hòa 1 - Phường Phú Hòa - Thủ Dầu Một - Bình Dương.</span>
                                        <a href="https://maps.app.goo.gl/FF9oT3HenhLGbiYG7" target="_blank" style="width: auto; padding: 10px" class="btn3 flex-c-m size1 txt11 trans-0-4 mt-3">XEM TRÊN BẢN ĐỒ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="txt9">
                                Phương thức thanh toán <span class="text-danger">*</span>
                            </span>
                            <div class="bg-white bo-rad-16 txt10 p-l-20 p-t-20 p-b-20 m-b-10 m-t-3">
                                <div style="display: flex; flex-direction: row; align-items: center;" class="mb-3">
                                    <input checked id="ttknh" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptnh">
                                    <label for="ttknh" class="text-dark">Thanh toán khi nhận hàng</label><br>
                                </div>
                                <div style="display: flex; flex-direction: row; align-items: center;" class="mb-3">
                                    <input id="ttmm" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptnh">
                                    <label for="ttmm" class="text-dark">Thanh toán qua MOMO</label><br>
                                </div>
                                <div style="display: flex; flex-direction: row; align-items: center;">
                                    <input id="tttnh" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptnh">
                                    <label for="tttnh" class="text-dark">Thanh toán qua Ngân hàng</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="txt9">
                                    Họ và Tên <span class="text-danger">*</span>
                                </span>

                                <div class="wrap-inputname size12 bo-rad-16 m-t-3 mb-2">
                                    <input value="@tkkh.hovaten" class="bo-rad-16 sizefull txt10 p-l-20" type="text" id="hoten" placeholder="Họ và Tên người nhận hàng">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span class="txt9">
                                    Số điện thoại <span class="text-danger">*</span>
                                </span>

                                <div class="wrap-inputphone size12 bo-rad-16 m-t-3 mb-2">
                                    <input value="@tkkh.sodienthoai" class="bo-rad-16 sizefull txt10 p-l-20" type="text" id="sodienthoai" name="phone" data-type="numbers" placeholder="Số điện thoại nhận hàng">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span class="txt9">
                                    Địa chỉ Email <span class="text-danger">*</span>
                                </span>

                                <div class="wrap-inputemail size12 bo-rad-16 m-t-3 mb-2">
                                    <input value="@tkkh.email" class="bo-rad-16 sizefull txt10 p-l-20" type="text" id="email" name="email" placeholder="Địa chỉ email">
                                </div>
                            </div>

                            <div class="col-12">
                                <span class="txt9">
                                    Ghi chú
                                </span>
                                <textarea style="width: 100%" class="bo-rad-16 txt10 p-l-20 p-t-15 mb-2 m-t-3" id="ghichu" rows="4" name="ghichu" placeholder="Ghi chú đơn hàng (nếu có)"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="txt9">
                                Địa chỉ nhận hàng <span class="text-danger">*</span>
                            </span>
                            <div class="bg-white bo-rad-16 txt10 p-l-20 p-r-20 p-t-20 p-b-20 mb-3 m-t-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="display: flex; flex-direction: row; align-items: center;" class="mb-0">
                                            <input checked id="giaotannoi" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptgh">
                                            <label for="giaotannoi" class="text-dark">Giao tận nơi</label><br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="display: flex; flex-direction: row; align-items: center;" class="mb-0">
                                            <input id="taicuahang" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptgh">
                                            <label for="taicuahang" class="text-dark">Nhận tại cửa hàng</label><br>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3" />
                                <div id="chongiaotannoi" class="row">
                                    <div class="col-md-12">
                                        <div class="wrap-inputphone size12 bo-rad-16 m-t-3 mb-3">
                                            <input value="@tkkh.diachi" style="border: 1px solid #ced4da !important;" class="bo-rad-16 sizefull txt10 p-l-20" type="text" name="diachi" placeholder="Địa chỉ số nhà, tên đường">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <select style="border-radius: 16px; padding: 14px" class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn tỉnh thành</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <select style="border-radius: 16px; padding: 14px" class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn quận huyện</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <select style="border-radius: 16px; padding: 14px" class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn phường xã</option>
                                        </select>
                                    </div>
                                </div>
                                <div hidden id="chontaicuahang" class="row">
                                    <div class="col-md-12">
                                        <label style="font-weight: bold;" class="me-2">Địa chỉ chi nhánh:</label><span>Số 38 - Đường D1 - KDC Phú Hòa 1 - Phường Phú Hòa - Thủ Dầu Một - Bình Dương.</span>
                                        <a href="https://maps.app.goo.gl/FF9oT3HenhLGbiYG7" target="_blank" style="width: auto; padding: 10px" class="btn3 flex-c-m size1 txt11 trans-0-4 mt-3">XEM TRÊN BẢN ĐỒ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="txt9">
                                Phương thức thanh toán <span class="text-danger">*</span>
                            </span>
                            <div class="bg-white bo-rad-16 txt10 p-l-20 p-t-20 p-b-20 m-b-10 m-t-3">
                                <div style="display: flex; flex-direction: row; align-items: center;" class="mb-3">
                                    <input checked id="ttknh" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptnh">
                                    <label for="ttknh" class="text-dark">Thanh toán khi nhận hàng</label><br>
                                </div>
                                <div style="display: flex; flex-direction: row; align-items: center;" class="mb-3">
                                    <input id="ttmm" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptnh">
                                    <label for="ttmm" class="text-dark">Thanh toán qua MOMO</label><br>
                                </div>
                                <div style="display: flex; flex-direction: row; align-items: center;">
                                    <input id="tttnh" style=" height: 25px; width: 25px;" class="bo-rad-16 txt10 p-l-20 me-2 input-radio" type="radio" name="ptnh">
                                    <label for="tttnh" class="text-dark">Thanh toán qua Ngân hàng</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-6 col-sm-12">

            </div>
        </div>

    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");

    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Id);
        }
        citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Id === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Id);
                }
            }
        };
        district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Id === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Id);
                }
            }
        };
    }
</script>
<script src="~/ActionOnPage/GioHang/DatHang.js"></script>