@using Beanfamily.Models;
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Beanfamily.Models.SanPhamThucDonHangNgay>
@{
    BeanfamilyEntities models = new BeanfamilyEntities();
    var dm = Session["categories-thucdonhangngay"] as List<DanhMucThucDocHangNgayCap1>;
    ViewBag.Title = "Menu Hằng Ngày";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    string banner_thucdonhangngay = "";
    var ndt = models.BoCucNoiDungTinhWebsite.ToList();
    if (ndt.Count > 0)
    {
        var dndt = ndt.First();
        banner_thucdonhangngay = dndt.banner_thucdonhangngay;
    }

    if (string.IsNullOrEmpty(banner_thucdonhangngay))
    {
        banner_thucdonhangngay = "~/Content/AdminAreas/images/NoiDungTinh/GioiThieu/Banner/2z5708932492674_1e339065fc38b483bc79e1c28d01086f.jpg";
    }

}

<!-- Title Page -->
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(@Url.Content(banner_thucdonhangngay));">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 345px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                Menu Hằng Ngày
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "nhahangbean")">NHÀ HÀNG</a>
                <label class="ms-2 me-2">/</label>
                <a>MENU HẰNG NGÀY</a>
            </h6>
        </div>
    </div>
</section>

<!-- Our menu -->
<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container  p-t-60 p-b-40">
            <div class="row">
                <div class="col-sm-0 col-md-3 categories_product">
                    <div id="categoried_card" class="card" style="border-top-left-radius: 16px; border-top-right-radius: 16px; border: 0; background: none; position: sticky; top: 120px; margin-bottom: 75px;">
                        <div style="border-top: 2px solid #ffc687; border-left: 2px solid #ffc687; border-right: 2px solid #ffc687; border-top-left-radius: 16px; border-top-right-radius: 16px " class="card-header bg-website font-weight-bold text-white text-uppercase"><i class="fa fa-list"> </i> Danh mục</div>
                        <ul style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px" class="list-group category_block">
                            @if (Session["id-category-thucdonhangngay"].ToString().Equals("tatca"))
                            {
                                <li name="tatca" class="list-group-item active"><a>Tất cả</a></li>
                                foreach (var item in dm.OrderBy(o => o.sothutu))
                                {
                                    <li name="@item.id" class="list-group-item"><a>@item.tendanhmuc</a></li>
                                }
                            }
                            else
                            {
                                <li name="tatca" class="list-group-item"><a>Tất cả</a></li>
                                foreach (var item in dm.OrderBy(o => o.sothutu))
                                {
                                    if (item.id == Int32.Parse(Session["id-category-thucdonhangngay"].ToString()))
                                    {
                                        <li name="@item.id" class="list-group-item active"><a>@item.tendanhmuc</a></li>
                                    }
                                    else
                                    {
                                        <li name="@item.id" class="list-group-item"><a>@item.tendanhmuc</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="row title_product_items">
                        <div class="col-sm-12 col-md-12 mb-4 bg-website text-center text-white text-uppercase" style="border: 2px solid #ffc687; border-radius: 15px; padding: 14.5px;">
                            <h6 style="font-size:18px; font-weight: bold">Sản Phẩm</h6>
                        </div>
                    </div>
                    <div id="product_list" class="row">
                        <div hidden class="col-12 load_items" style="height: 200px; color: #fff; font-size: 18px; text-align: center">
                            <div style="margin-top: 75px">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span> Vui lòng chờ...
                            </div>
                        </div>
                        @if (Model.Count() < 1)
                        {
                            <div class="col-12 load_items" style="height: 200px; color: #fff; font-size: 18px; text-align: center">
                                <div style="margin-top: 75px">
                                    Không có sản phẩm để hiển thị!
                                </div>
                            </div>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-4 col-sm-6 product_items">
                                    <div class="product-grid mb-4">
                                        <div class="product-image">
                                            @if (string.IsNullOrEmpty(item.hinhanh))
                                            {
                                                <img class="pic-1" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                                <img class="pic-2" src="~/Content/assets/images/product/sanphamdefault.jpg" />
                                            }
                                            else
                                            {
                                                if (item.hinhanh.IndexOf('#') != -1)
                                                {
                                                    <img class="pic-1" src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                                    <img class="pic-2" src="@Url.Content(item.hinhanh.Split('#')[1])" />
                                                }
                                                else
                                                {
                                                    <img class="pic-1" src="@Url.Content(item.hinhanh)" />
                                                    <img class="pic-2" src="@Url.Content(item.hinhanh)" />
                                                }
                                            }
                                            @if (item.conhang == false)
                                            {
                                                <span style="outline: 2px solid #fff !important" class="product-sale-label">Hết hàng</span>
                                            }
                                            <ul class="product-links">
                                                <li><a href="@Url.Action("productdetail", "thucdonhangngay", new {id = item.id})"><i class="fa fa-solid fa-expand" aria-hidden="true"></i></a></li>
                                                @*<li><a href="#"><i class="fa fa-random"></i></a></li>*@
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title"><a href="@Url.Action("productdetail", "thucdonhangngay", new {id = item.id})" title="@item.tensanpham">@(item.tensanpham.Length > 21 ? item.tensanpham.Substring(0, 20) + "..." : item.tensanpham)</a></h3>
                                            <div class="price">
                                                @item.gia.ToString("0,0")đ
                                            </div>
                                        </div>
                                        <div style="display: flex; justify-content: center; align-items: center; padding: 15px">
                                            <button id="xemnhanhvathemvaogio-@item.id" role="button" name="@item.id" class="btn1 flex-c-m size1 txt3 trans-0-4">
                                                <i class="fa fa-cart-plus" style="margin-right: 6px" aria-hidden="true"></i> Thêm vào giỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-12" style="display: flex; justify-content: center; flex-direction:inherit">
                            @Html.PagedListPager(Model, pageNum => Url.Action("index", new { pageNum, PageSize = 24 }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Xem nhanh sp -->
    <div class="modal fade" id="quickDetailProduct" tabindex="-1" aria-labelledby="quickDetailProductModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg1-pattern section-child-bg1">
                <div class="modal-header" style="text-align: center; border-bottom: none;">
                    <h1 class="modal-title fs-5" style="text-align: center" id="quickDetailProductModalLabel"></h1>
                    <button style="z-index: 999" type="button" id="close-modal-dangnhap" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="partial-content-quick-detail" style="margin-top: -30px; overflow-x: hidden">

                </div>
            </div>
        </div>
    </div>

    <script src="~/ActionOnPage/ThucDonHangNgay/loadPageThucDonHangNgay.js"></script>
    <script src="~/ActionOnPage/ThucDonHangNgay/sanPhamTheoDanhMuc.js"></script>
    <script src="~/ActionOnPage/ThucDonHangNgay/AddToCart.js"></script>
    <script src="~/ActionOnPage/ThucDonHangNgay/AddToCartQuick.js"></script>
</section>
