@model Beanfamily.Models.SanPhamThucDonHangNgay
@using Beanfamily.Models;
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int i = 0;
    int dem = 0;
    if (!string.IsNullOrEmpty(Model.video))
    {
        dem++;
    }
    if (!string.IsNullOrEmpty(Model.hinhanh))
    {
        if (Model.hinhanh.IndexOf("#") != -1)
        {
            dem += Model.hinhanh.Split('#').Count();
        }
        else
        {
            dem++;
        }
    }

    if (dem > 6)
    {
        dem = 6;
    }

    BeanfamilyEntities models = new BeanfamilyEntities();

    string banner_thucdonhangngay = "";
    var ndt = models.BoCucNoiDungTinhWebsite.ToList();
    if (ndt.Count > 0)
    {
        var dndt = ndt.First();
        banner_thucdonhangngay = dndt.banner_thucdonhangngay;
    }

    if (string.IsNullOrEmpty(banner_thucdonhangngay))
    {
        banner_thucdonhangngay = "~/Content/AdminAreas/images/NoiDungTinh/GioiThieu/Banner/2z5708932492674_1e339065fc38b483bc79e1c28d01086f.jpg";
    }

}
<link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/slick/slick.css?v=1.0">

<!-- Title Page -->
<section style="background-repeat: no-repeat; background-position: center 0; background-size: cover; background-image: url(@Url.Content(banner_thucdonhangngay));">
    <div class="flex-c-m" style="background-image: linear-gradient(180deg, #00000000 0%, #122E26 100%); width: 100%; min-height: 345px; padding-left: 15px; padding-right: 15px; background-repeat: no-repeat; background-position: center 0; background-size: cover; ">
        <div>
            <h2 class="tit6 t-center">
                Sản Phẩm
            </h2>
            <h6 class="t-center text-white mt-2">
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "home")">TRANG CHỦ</a>
                <label class="ms-2 me-2">/</label>
                <a class="text-white text-decoration-underline" href="@Url.Action("index", "thucdonhangngay")">MENU HẰNG NGÀY</a>
                <label class="ms-2 me-2">/</label>
                <a>SẢN PHẨM</a>
            </h6>
        </div>
    </div>
</section>
<input id="idPro" value="@Model.id" hidden />
<input id="totalImagePro" value="@dem" hidden />
<section class="section-ourmenu bg1-pattern">
    <div class="section-child-bg1">
        <div class="container p-t-60 p-b-40">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="slider-for gallery-product">
                        @if (!string.IsNullOrEmpty(Model.video))
                        {
                            <div class="slickSlider">
                                <div style="border-radius: 16px; border: 2px solid #ffc678" class="bg-white rounded-4 mb-3 d-flex justify-content-center">
                                    <video controls src="@Url.Content(Model.video)" type="video/mp4" class="rounded-4" style="aspect-ratio: 4 / 3; object-fit: cover; border-radius: 16px; max-width: 100%; max-height: 450px; margin: auto;" autoplay muted>
                                    </video>
                                </div>
                            </div>
                        }
                        @if (string.IsNullOrEmpty(Model.hinhanh))
                        {
                            <div class="slickSlider">
                                <div style="border-radius: 16px; border: 2px solid #ffc678" class="rounded-4 mb-3 d-flex justify-content-center">
                                    <a style="border-radius:16px" data-fslightbox="mygalley" class="rounded-4" data-type="image" href="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")" data-lightbox="gallery-product">
                                        <img style="aspect-ratio: 4 / 3; object-fit: cover; border-radius: 16px; max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")" />
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (Model.hinhanh.IndexOf("#") != -1)
                            {
                                foreach (var item in Model.hinhanh.Split('#').ToList())
                                {
                                    <div class="slickSlider">
                                        <div style="border-radius: 16px; border: 2px solid #ffc678" class="rounded-4 mb-3 d-flex justify-content-center">
                                            <a style="border-radius:16px" data-fslightbox="mygalley" class="rounded-4" data-type="image" href="@Url.Content(item)" data-lightbox="gallery-product">
                                                <img style="aspect-ratio: 4 / 3; object-fit: cover; border-radius: 16px; max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Url.Content(item)" />
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="slickSlider">
                                    <div style="border-radius: 16px; border: 2px solid #ffc678" class="rounded-4 mb-3 d-flex justify-content-center">
                                        <a style="border-radius:16px" data-fslightbox="mygalley" class="rounded-4" data-type="image" href="@Url.Content(Model.hinhanh)" data-lightbox="gallery-product">
                                            <img style="aspect-ratio: 4 / 3; object-fit: cover; border-radius: 16px; max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Url.Content(Model.hinhanh)" />
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div style="width: 100%" class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center mb-3 slider-nav" style="width: @((dem > 1) ? (dem * 100) - 100 : (dem * 100))px">

                            @if (!string.IsNullOrEmpty(Model.video))
                            {
                                <div class="slickSlider">
                                    <a style="border-radius:10px" data-fslightbox="mygalley" class="mx-1 rounded-5 item-thumb" data-type="image">
                                        <img style="object-fit: cover; " width="80" height="80" class="rounded-5" src="@Url.Content("~/Content/assets/images/videodefault.jpg")" />
                                    </a>
                                </div>
                            }
                            @if (string.IsNullOrEmpty(Model.hinhanh))
                            {
                                <div class="slickSlider">

                                    <a style="border-radius:10px" data-fslightbox="mygalley" class="mx-1 rounded-5 item-thumb" data-type="image">
                                        <img style="object-fit: cover;" width="80" height="80" class="rounded-5" src="@Url.Content("~/Content/assets/images/product/sanphamdefault.jpg")" />
                                    </a>
                                </div>
                            }
                            else
                            {
                                if (Model.hinhanh.IndexOf("#") != -1)
                                {
                                    foreach (var item in Model.hinhanh.Split('#').ToList())
                                    {
                                        <div class="slickSlider">

                                            <a style="border-radius:10px" data-fslightbox="mygalley" class="mx-1 rounded-5 item-thumb" data-type="image">
                                                <img style="object-fit: cover" width="80" height="80" class="rounded-5" src="@Url.Content(item)" />
                                            </a>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="slickSlider">

                                        <a style="border-radius:10px" data-fslightbox="mygalley" class="mx-1 rounded-5 item-thumb" data-type="image">
                                            <img style="object-fit: cover" width="80" height="80" class="rounded-5" src="@Url.Content(Model.hinhanh)" />
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-white font-weight-bold">
                            @Model.tensanpham
                        </h4>
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                        </div>
                        <div class="mb-2">
                            @if (Model.conhang == false)
                            {
                                <span id="trangthaihang" class="text-danger">Hết hàng</span>
                            }
                            else
                            {
                                <span id="trangthaihang" class="text-success">Còn hàng</span>
                            }
                        </div>
                        <div class="mb-2">
                            <span class="text-white">@Model.luotxem.ToString("0,0") lượt xem</span>
                        </div>

                        <p class="mb-2 text-white" style="word-wrap: break-word">
                            Mô tả: @Model.mota
                        </p>

                        <div class="mb-3">
                            <span class="text-white">Giá: <span class="text-warning font-weight-bold">@Model.gia.ToString("0,0")đ</span></span>
                        </div>
                        <div class="row mb-2 text-white">
                            <!-- col.// -->
                            <div class="col-md-6 col-sm-12 mb-2">
                                <label class="mb-2 d-block">Số lượng:</label>
                                <div class="input-group" style="width: 100%;">

                                    @if (Model.conhang == false)
                                    {
                                        <button disabled class="text-white btn btn-white border border-secondary px-3" type="button" id="button-minus-product" data-mdb-ripple-color="dark">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input disabled value="0" id="soluong" data-type='currency' type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                        <button disabled class="text-white btn btn-white border border-secondary px-3" type="button" id="button-addon-product" data-mdb-ripple-color="dark">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="text-white btn btn-white border border-secondary px-3" type="button" id="button-minus-product" data-mdb-ripple-color="dark">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input value="1" id="soluong" data-type='currency' type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                        <button class="text-white btn btn-white border border-secondary px-3" type="button" id="button-addon-product" data-mdb-ripple-color="dark">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                        @if (Model.conhang == false)
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <button disabled id="addToCart" style="width:100%; cursor: pointer;" class="btn1 flex-c-m size1 txt3 trans-0-4">
                                        <i class="fa fa-cart-plus" style="margin-right: 6px" aria-hidden="true"></i> THÊM VÀO GIỎ
                                    </button>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <button id="addToCart" style="width:100%; cursor: pointer;" class="btn1 flex-c-m size1 txt3 trans-0-4">
                                        <i class="fa fa-cart-plus" style="margin-right: 6px" aria-hidden="true"></i> THÊM VÀO GIỎ
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
<script src="~/ActionOnPage/ThucDonHangNgay/loadPageThucDonHangNgayDetail.js?v=15102025.1"></script>
<script src="~/ActionOnPage/ThucDonHangNgay/AddToCart.js?v=15102025.1"></script>