@model Beanfamily.Models.DanhMucMenuTiecBanCap1

<tr id="row-@Model.id" style="vertical-align: middle">
    <td>
        <div class="form-check">
            @if (Model.SanPhamMenuTiecBan.Count < 1)
            {
                <input type="checkbox" class="form-check-input p-2" id="checkitem@(Model.id)" name="@Model.id" />
                <label class="form-check-label" for="checkitem@(Model.id)"></label>
            }
        </div>
    </td>
    <td scope="row">DM@(Model.id.ToString("D6"))</td>
    <td>@Model.sothutu</td>
    <td>
        @Model.tendanhmuc
        <input hidden id="inpMadanhmuc@(Model.id)" value="DM@(Model.id.ToString("D6"))" />
        <input hidden id="inpTendanhmuc@(Model.id)" value="@Model.tendanhmuc" />
        <input hidden id="inpSothutu@(Model.id)" value="@Model.sothutu" />
        <input hidden id="inpHienthi@(Model.id)" value="@Model.hienthi.ToString().ToLower()" />
    </td>
    <td>@Model.ngaytao.ToString("HH:mm dd/MM/yy")</td>
    <td>
        @if (Model.SanPhamMenuTiecBan.Count < 1)
        {
            <span class="badge bg-warning"><i class="bi bi-exclamation-octagon me-1"></i> Chưa có món</span>
        }
        else
        {
            <button id="danhsachmonan@(Model.id)" name="@Model.id" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem danh sách món" tool class="btn btn-sm btn-primary"><i class="bi bi-info-circle me-1"></i> xem @Model.SanPhamMenuTiecBan.Count() món</button>
        }
    </td>
    <td>
        @if (Model.hienthi == true)
        {
            <span class="badge bg-success"><i class="bi bi-eye-fill me-1"></i> Hiển thị</span> }
        else
        {
            <span class="badge bg-danger"><i class="bi bi-eye-slash-fill me-1"></i> Đã ẩn</span>
        }
    </td>
    <td class="text-nowrap">
        @if (Session["chophep-sua"] != null)
        {
            if (Convert.ToBoolean(Session["chophep-sua"]) == true)
            {
                <button id="btnsuadm@(Model.id)" name="@Model.id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật danh mục"><i class="bi bi-pencil-square"></i></button>
            }
        }
        @if (Session["chophep-xoa"] != null)
        {
            if (Convert.ToBoolean(Session["chophep-xoa"]) == true)
            {
                if (Model.SanPhamMenuTiecBan.Count < 1)
                {
                    <button id="btnxoadm@(Model.id)" name="@Model.id" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa danh mục"><i class="bi bi-trash"></i></button>
                }
            }
        }
    </td>
</tr>