@model IEnumerable<Beanfamily.Models.SanPhamThucDonHangNgay>
@{
    Layout = null;
    int i = 1;
}

<div id="XemDanhSachMonModalPartial" class="modal-body">
    <ul class="list-group">

        @foreach (var item in Model)
        {
            i++;
            if (i % 2 == 0)
            {
                <li class="list-group-item list-group-item-primary">
                    <div class="row" style="display: flex; align-items: center;">
                        @if (!string.IsNullOrEmpty(item.hinhanh))
                        {
                            <div class="col-sm-1">
                                <div style="height: 50px; width: 50px; text-align: center">
                                    <img style="margin-left: -10px; height: 50px; width: 50px; object-fit: cover; border-radius: 50% " src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-3">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-2">
                                @item.gia.ToString("0,0") đ
                            </div>
                            <div class="col-sm-4">
                                @item.mota
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-3">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-3">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-2">
                                @item.gia.ToString("0,0") đ
                            </div>
                            <div class="col-sm-4">
                                @item.mota
                            </div>
                        }

                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <div class="row" style="display: flex; align-items: center;">
                        @if (!string.IsNullOrEmpty(item.hinhanh))
                        {
                            <div class="col-sm-1">
                                <div style="height: 50px; width: 50px; text-align: center">
                                    <img style="margin-left: -10px; height: 50px; width: 50px; object-fit: cover; border-radius: 50% " src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-3">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-2">
                                @item.gia.ToString("0,0") đ
                            </div>
                            <div class="col-sm-4">
                                @item.mota
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-3">
                                SP@(item.id.ToString("D6"))
                            </div>
                            <div class="col-sm-3">
                                @item.tensanpham
                            </div>
                            <div class="col-sm-2">
                                @item.gia.ToString("0,0") đ
                            </div>
                            <div class="col-sm-4">
                                @item.mota
                            </div>
                        }
                    </div>
                </li>
            }
        }
    </ul>
</div>
