@model IEnumerable<Beanfamily.Models.SanPhamThucDonHangNgay>
@{
    Layout = null;
    int i = 1;
}

<div id="XemDanhSachMonModalPartial" class="modal-body">
    <ul class="list-group">

        @foreach (var item in Model)
        {
            i++;
            if (i % 2 == 0)
            {
                <li class="list-group-item list-group-item-primary">
                    <div class="row" style="display: flex; align-items: center; text-align:center">
                        @if (!string.IsNullOrEmpty(item.hinhanh))
                        {
                            <div class="col-sm-2">
                                <div style="height: 80px; width: 80px; text-align: center">
                                    <img style="margin-left: -10px; height: 80px; width: 80px; object-fit: cover; border-radius: 5px " src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                </div>
                            </div>
                        }

                        <div class="col-sm-2">
                            SP@(item.id.ToString("D6"))
                        </div>
                        <div class="col-sm-2">
                            @item.tensanpham
                        </div>
                        <div class="col-sm-2">
                            @item.gia.ToString("0,0") đ
                        </div>
                        <div class="col-sm-2">
                            @item.mota
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <div class="row" style="display: flex; align-items: center; text-align:center">
                        @if (!string.IsNullOrEmpty(item.hinhanh))
                        {
                            <div class="col-sm-2">
                                <div style="height: 80px; width: 80px; text-align: center ">
                                    <img style="margin-left: -10px; height: 80px; width: 80px; object-fit: cover; border-radius: 5px " src="@Url.Content(item.hinhanh.Split('#')[0])" />
                                </div>
                            </div>
                        }

                        <div class="col-sm-2">
                            SP@(item.id.ToString("D6"))
                        </div>
                        <div class="col-sm-2">
                            @item.tensanpham
                        </div>
                        <div class="col-sm-2">
                            @item.gia.ToString("0,0") đ
                        </div>
                        <div class="col-sm-2">
                            @item.mota
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>
